include /blocks/common-services/common-services
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.about-stations
				+e.H2.title.heading._h2.taxi-icon Такси на Ярославский вокзал
				+e.P.text Не секрет, что в условиях большого города очень остро стоит проблема передвижения. Общественный транспорт или личный автомобиль, не всегда являются гарантом своевременного прибытия на работу, вокзал или аэропорт. Именно поэтому услуга такси остается востребованной и актуальной. Если вы собрались в путешествие или возникла необходимость оперативно добраться до вокзала, воспользуйтесь услугами трансфера от нашей службы такси.
				+tariff-airport-station({distr:'"Ярославский" вокзал',
																priceDomodedovo:1300,
																priceSheremetevo:1300,
																priceVnukovo:1300,
																caption:'Тарифы такси Эконом на трансфер аэропорт -> вокзал'
																})
				+e.IMG.image._yaroslavskiy-station.img-center(src='assets/images/stations/yaroslavskiy/yaroslavskiy-station_400x268.jpg' width='400' height='268' title='Ярославский вокзал' alt='Ярославский вокзал')
				+e.P.text.no-indent
					strong Такси до Ярославского вокзала – быстро, безопасно, комфортно!
				+e.P.text Ярославский вокзал является одним из самых крупных железнодорожных сообщений в городе Москва. Тысячи людей ежедневно прибывают и отправляются со станции, поэтому неудивительно, что количество частных такси растет здесь в геометрической прогрессии. Однако, такая услуга, как правило, низкого качества, а тарифы на поездку чрезмерно завышены. Чтобы сберечь свои нервы, сэкономить время и деньги рекомендуем заблаговременно заказать услугу
					strong такси Ярославский вокзал 
					|от нашей компании. Мы осуществляем поездки согласно стандартным городским тарифам, а современное спутниковое оборудование позволяет просчитать максимально короткий путь до конечной точки. Кроме того, у нас вы имеете возможность воспользоваться следующими услугами:
					ul
						li Услуга «драйвер» - наш опытный водитель доставит вас в любую точку города на вашем авто
						li Услуга
							strong «такси Ярославский вокзал - Домодедово» 
							|- оперативно доставим вас с вокзала в аэропорт
						li Услуга
							strong «такси Ярославский вокзал - Шереметьево» 
							|- осуществим транспортировку вас или ваших гостей в аэропорт и обратно
						li Услуга
							strong «такси Ярославский вокзал - Внуково» 
							|- трансфер в аэропорт в любое время суток 24/7
				+e.P.text.no-indent Почему мы?
				+e.P.text Наша служба такси имеет многолетний опыт работы на рынке московских транспортных услуг. Ежедневно наши авто перевозят сотни клиентов, которые оставляют самые лестные отзывы о нашей работе. Наша команда – это специалисты с большой буква, которые ежегодно проходят обучение и повышают свой квалификационный уровень. Водители нашей компании прекрасно ориентируются в хитросплетениях московских улиц, что позволяет даже в часы пик приезжать на заказ без задержек.
				+e.P.text Таксопарк компании – это наша гордость. Мы собрали большое количество иномарок как представительского, так и эконом класса. Именно поэтому наши клиенты могут выбрать тот автомобиль, который соответствует их социальному статусу и материальным возможностям. Ежедневно все машины проходят тщательный осмотр, чтобы ваша поездка была максимально безопасной и комфортной.
				+e.P.text
					strong Заказать такси Ярославский вокзал 
					|вы можете как онлайн, находясь в другом городе, так и позвонив по контактному номеру нашим диспетчерам. К оплате мы принимаем как наличные, так и банковские карты. Перед поездкой диспетчер сообщит вам тариф, который является окончательным и не облагается дополнительной оплатой.
				+e.IMG.image._yaroslavskiy-station.img-center(src='assets/images/stations/yaroslavskiy/yaroslavskiy-station-night_400x266.jpg' width='400' height='266' title='Ярославский вокзал ночью' alt='Ярославский вокзал ночью')
				+e.P.text
					strong Заказ такси Ярославский вокзал 
					| от нашей компании – это залог безопасной поездки и высокого качества обслуживания!
				+common-services
