include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.about-stations
				+e.H2.title.heading._h2.taxi-icon Такси на Павелецкий вокзал
				+e.P.text Путешествия всегда манили человека, поскольку это один из способов сбежать на некоторое время из серых будней и сумасшедшего ритма большого города. Как говорят, есть много выходов из депрессии, и один из них – это путешествие, начало пути которого вокзал или аэропорт. Москва, как один из самых больших городов мира, имеет девять вокзалов. Одним из наиболее популярных у москвичей и гостей столицы является Павелецкий вокзал. Пропускная способность данной ж\д станции составляет несколько тысяч человек в день, поэтому отправляясь в дорогу необходимо четко рассчитывать время, чтобы не опоздать на поезд. Собираясь в путь, очень важно учесть все детали и заблаговременно вызвать
					strong такси до Павелецкого вокзала
					|.
				+e.IMG.image._paveleckiy-station(src='assets/images/stations/paveleckiy/paveleckiy-station_400x200.jpg' width='400' height='200' title='Павелецкий вокзал' alt='Павелецкий вокзал')
				+e.IMG.image._paveleckiy-station(src='assets/images/stations/paveleckiy/paveleckiy-station-entrance_400x267.jpg' width='400' height='267' title='Павелецкий вокзал вход' alt='Павелецкий вокзал вход')
				+e.P.text.no-indent Услуга
					strong такси Москва Павелецкий вокзал
					|- комфорт и надежность каждой поездки.
				+e.P.text Наша служба такси осуществляет пассажироперевозки по городу и области. Мы предлагаем своим клиентам самые выгодные тарифы на поездки. Политика нашего персонала – это постоянное увеличение количества постоянных клиентов. Именно поэтому мы постоянно работаем над улучшением сервиса перевозок. Мы понимаем, насколько важно вовремя прибыть на вокзал или аэропорт, поэтому предоставляем услуги
					strong такси на Павелецкий вокзал
					|с особыми условиями:
					ul
						li 100% подача автомобиля в течение 5-15 минут;
						li Специальные тарифные планы на совместные поездки;
						li Комфортабельные, вместительные машины – все для качественного размещения вашего багажа;
						li Работа 24/7 с постоянной поддержкой клиентов;
						li Прием заказов за несколько дней до поездки из других городов онлайн и многое другое.
				+e.P.text Мы осуществляем встречу ваших гостей на перроне и при необходимости доставляем их в гостиницу. Основной специализацией нашей службы является перевозка пассажиров в аэропорты г. Москвы. Только у нас действуют прозрачные цены на услуги: «
					strong такси Павелецкий вокзал - Шереметьево
					|», «
					strong такси Павелецкий вокзал - Внуково
					|», «
					strong такси Павелецкий вокзал - Домодедово
					|». Стоимость маршрута сообщается клиенту заблаговременно и является окончательной. Именно поэтому вы не столкнетесь с неприятным сюрпризом в виде дополнительной оплаты по окончанию поездки.
				+e.P.text Если вы столкнулись с необходимостью воспользоваться услугой
					strong такси с Павелецкого вокзала
					|, рекомендуем заказать нашу службу. Не стоит рисковать своим временем и кошельком, выбирая частные машины возле вокзала. Наша компания имеет большой ассортимент иномарок различных моделей, которые своевременно проходят ТО и ежедневно проверяются нашими механиками
				+e.P.text.no-indent Почему сотрудничать с нами выгодно?
					ul
						li Доступные тарифы на перевозки;
						li Большой спектр предоставляемых услуг (драйвер, экскурсии, трансфер, поездки за город и др.);
						li Лучший таксопарк в городе;
						li Любая форма оплаты;
						li Специальные условия для корпоративных клиентов;
						li Система бонусов и скидок постоянным клиентам;
						li Опытный высококвалифицированный персонал.
				+common-services
