include /blocks/tariffs/tariffs
include /blocks/services/services
mixin about()
	+b.about&attributes(attributes)
		+e.inner.container
			+e.P.text Вы все еще ищете 
				strong дешевое такси Москва
				|? Вы сомневаетесь, что комфорт может быть недорогим? Тогда рекомендуем заказать нашу службу такси. Мы зарекомендовали себя как лучшая компания, которая внимательно относится ко всем пожеланиям клиентов и всегда максимально быстро приезжает на заказ. Мы первые, кто запустил систему 
				strong «фиксированное такси Москва»
				|, чтобы вы могли экономить на поездках по городу. Только у нас вы сможете насладиться поездкой и добраться до места назначения максимально быстро. Нам доверяют тысячи людей, а среди наших клиентов есть известные бизнесмены, политики и звезды шоу-бизнеса
			+e.P.text.no-indent
				strong Официальное такси Москва 
				|- залог безопасности и качества сервиса.
			+tariffs('Выберите ваш тариф')
			+e.P.text Безопасность пассажира – это основной девиз 
				strong такси Москва
				|, поэтому к вопросу квалификации и опыта наших водителей мы подходим ответственно и скрупулезно. Перед каждой сменой все водители проходят медицинский осмотр, и только после этого допускаются к работе. Для автомобилей предусмотрена зона технического обслуживания, где машины внимательно осматриваются специалистами на наличие неисправностей. Главной гордостью нашей компании является большой автопарк, за которым мы тщательно ухаживаем и поддерживаем идеальную чистоту в салонах. Парк автомобилей ежемесячно дополняется новыми моделями, от эконом до представительского класса, чтобы наши клиенты могли подобрать тот вариант, который будет соответствовать их основным требованиям и социальному статусу. Для обеспечения безопасной поездки пассажирам с детьми мы предоставляем специальные автокресла. Вам достаточно сообщить нашему диспетчеру о том, что будет ребенок.
			+e.P.text.no-indent Персонал - основа успешной компании.
			+e.P.text Наша служба такси работает в сфере обслуживания пассажиров много лет. За годы работы мы смогли подобрать идеальный коллектив, который выполняет свои обязанности согласно всем европейским предписаниям. Наши сотрудники - это высокообразованные компетентные люди, которые готовы оказать помощь клиенту 24/7 и проконсультировать по всем действующим услугам службы. 
				strong Диспетчер такси Москва 
				|обладает всеми необходимыми навыками культурного общения с клиентом, поэтому заказ обрабатывается быстро и точно.
			+services
			+e.P.text Если вы заботитесь о своем комфорте и безопасности выбирайте службу 
				strong такси Москва. Официальный сайт 
				|нашей компании постоянно дополняется новыми возможностями, чтобы вызов авто занимал у вас минимальное количество времени. Для вас мы разработали калькулятор предварительного расчета маршрута, чтобы вы смогли спланировать бюджет на предстоящую поездку. Если вы все еще в поиске ответственной и пунктуальной компании-перевозчика, то обращаетесь в службу 
				strong «такси Москва». Телефон 
				|для заказа авто указан на нашем сайте, а для тех, кто ценит время доступна форма онлайн - заказа такси.
			+e.P.text.no-indent Наши преимущества
			+e.UL.content-list
				li 100% подача автомобиля (до 20минут)
				li Современные автомобили
				li Компетентные и вежливые водители
				li Наилучшие тарифные планы в городе
				li Большой спектр дополнительных услуг
			