mixin advantages()
	+b.SECTION.advantages&attributes(attributes)
		+e.H2.title.heading.heading_h2.taxi-icon Почему выбирают нас?
		+e.UL.list
			+e.LI.item Низкие цены
				+icon('piggy-bank', 42, 43)
			+e.LI.item Скорость приема заказа
				+icon('speedometer', 42, 43)
			+e.LI.item Смс отслеживание
				+icon('sms-message', 42, 43)
			+e.LI.item Работаем 24 часа в сутки
				+icon('24-hours', 42, 43)
			+e.LI.item Фиксированная цена
				+icon('commerce', 42, 43)
			+e.LI.item Только иномарки
				+icon('transport', 42, 43)
