.advantages
	margin-bottom 80px
	@media (max-width: 1024px)
		margin-bottom 40px
	@media (min-width: 320px) and (max-width: 414px)
		display none
	&__title
		margin-bottom 80px
		text-align center
		@media (max-width: 768px)
			margin-bottom 40px
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content: space-around
	&__item
		position relative
		width 155px
		padding-top 75px
		color $c_black
		font-family $base-font
		font-size 19px
		text-align center
		&:first-child
			padding-top 85px
	.icon
		position absolute
		top 10px
		left calc(50% - 21px)
		&_sms-message
			left calc(50% - 15px)
