mixin advantages()
	+b.SECTION.advantages&attributes(attributes)
		+e.H2.title.heading.heading_h2 Почему выбирают нас?
		+e.UL.list
			+e.LI.item Низкие цены
			+e.LI.item Скорость приема заказа
			+e.LI.item Смс отслеживание
			+e.LI.item Работаем 24 часа в сутки
			+e.LI.item Фиксированная цена
			+e.LI.item Только иномарки
