include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.about-stations
				+e.H2.title.heading._h2.taxi-icon Такси на Курский вокзал
				+e.P.text Путешествие – это не только приятно, но и довольно утомительно. Московские вокзалы – это не просто места большого скопления людей. Для тех, кто впервые попадает на вокзалы столицы, например Курский, - этот большой стресс. А ведь мало кто задумывается о комфортном перемещении по городу до гостиницы или дома после окончания поездки. Чтобы не тратить драгоценное время и не прибавлять негативных эмоций к путешествию, рекомендуем воспользоваться услугой 
					strong такси с Курского вокзала.
				+e.P.text.no-indent Услуга 
					strong такси Москва Курский вокзал 
					|- комфорт должен быть доступным!
				+e.P.text Наша компания является одной из самых надежных служб такси в г. Москва. Ежедневно услугами наших водителей и машин пользуются тысячи людей. За многолетнюю работу мы смогли составить идеальный рецепт качественного сервиса: безопасность пассажира, исправность авто и компетентность водителей. Наши сотрудники - это наша гордость, поскольку мы самостоятельно обучаем новичков и постоянно поддерживаем их квалификационный уровень. Наша политика – клиент всегда прав, поэтому пользуясь услугами нашей компании вы не встретите хамского отношения и не услышите нецензурной брани от водителя.
				+e.P.text Главным направлением нашей деятельности является трансфер пассажиров с вокзалов Москвы в аэропорт. Если вы путешествуете с Курского вокзала, мы с радостью предлагаем вам воспользоваться специальными услугами по выгодным тарифам:
					ul
						li Поездка на такси Курский вокзал - Внуково;
						li Трансфер машинами такси Курский вокзал - Домодедово;
						li Услуга такси Курский вокзал - Шереметьево.
						li Услуга «Водитель» для тех пассажиров, которые предпочитают такси собственное авто;
						li Экскурсионные туры по столицы на наших автомобилях и многое другое.
				+e.P.text Мы ценим не только комфорт наших пассажиров, но и беспокоимся об их безопасности. Именно поэтому мы постоянно обновляем наш автопарк и своевременно проводим процедуры по техническому осмотру и обслуживанию. Кроме того, для наших самых маленьких пассажиров мы закупили специальные автокресла, чтобы поездка с ребенком была максимально безопасной и комфортной для родителей.
				+e.P.text Заказать 
					strong такси до Курского вокзала 
					|достаточно просто. Вы можете воспользоваться онлайн-сервисом либо позвонить нашему оператору на указанный номер. Стоимость поездки, как правило, зависит от расстояния и модели авто. Предварительную стоимость маршрута вы можете рассчитать самостоятельно с помощью калькулятора на сайте. Оплата 
					strong такси на Курский вокзал 
					|осуществляется как наличными, так и с помощью банковских карт.
				+e.P.text Наша компания желает вам только приятных поездок и рада приветствовать в городе-герое Москва!
				+common-services
