include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.taxi-services._start-the-car
				h1.heading.heading_h2 Прикурить автомобиль
				+e.P.text Большинство автомобилистов уже сталкивались с неприятной ситуацией когда собираешься уезжать, а автомобиль не заводится. В последние годы температуры в зимние месяцы достигают критических показателей. В основном именно низкая температура воздуха и является основной причиной по которой не заводится автомобиль.
				+e.P.text.no-indent
					strong Прикурить автомобиль услуга - 1000 рублей в Москве
					|.
					br
					| Провода привезут в течении 15-30 минут
					br
					| +7-495-133-62-26
				+e.IMG.image._start-the-car.img-center(src='assets/images/services/prikurit-avtomobil_400x280.jpg' width='400' height='280' title='прикурить автомобиль в Москве' alt='прикурить автомобиль в Москве')
				h2.heading.heading_h3 Как правильно прикурить автомобиль самостоятельно или от другого автомобиля
				ol
					li
						strong Прикурить аккумулятор 
						|от другого автомобиля. При этом используются специальные провода. Будьте внимательны чтобы не перепутать клеммы
					li Использовать внешнее пусковое устройство. В настоящее время это один из наиболее удобных способов. Поскольку устройство очень компактное и удобное. В этом случае нужно будет правильно подключить клеммы. Заряд аккумулятора может занять от 30 минут до нескольких часов.
					li Необходимы несколько помощников которые будут толкать ваш автомобиль. Водитель в этот момент должен выжать сцепление, и повернуть ключ в замке зажигания. Если все сделано правильно есть вероятность что автомобиль заведется.
				h2.heading.heading_h3 Если хотите прикурить аккумулятор самостоятельно, обратите внимание на некоторые моменты
				ol
					li Обязательно проверьте действительно ли сел ваш аккумулятор. Иногда встречаются другие неисправности
						h3 Как определить сел ли аккумулятор:
						+e.UL.content-list
							li Попробуйте включить фары или магнитолу на вашем автомобиле. В случае когда аккумулятор разряжен это сделать практически невозможно
							li Звуковой сигнал не подается
							li При повороте ключа в замке зажигания стартер не срабатывает
					li Убедившись что он действительно разряжен рекомендуется прибегнуть к помощи другого автомобиля
					li Автомобили следует близко подогнать друг к другу
					li Для того чтобы прикурить ваш автомобиль понадобятся провода
				+e.IMG.image._start-the-car.img-center(src='assets/images/services/prikurit-avto_400x267.jpg' width='400' height='267' title='прикурить авто в Москве' alt='прикурить авто в Москве')
				h2.heading.heading_h3 Инструкция "Как прикурить автомобиль"
				+e.P.text.no-indent Выполняйте последовательно и не торопитесь
				ol
					li Подгоните автомобили друг к другу
					li Откройте оба капота
					li Заглушите двигатель автомобиля-помощника
					li Первый провод подключаем к клеммам со знаком "+" на обоих автомобилях. Это очень важно!
					li Второй провод одним концом подключаем к клеммам со знаком "-" аккумулятора автомобиля-помощника. Второй конец провода к массе вашего автомобиля
					li Нужно завести двигатель автомобиля-помощника и подождать чтобы он поработал в течении 5-10 минут
					li Следует отключить провода в обратной последовательности
				h2.heading.heading_h3 Прикурить автомобиль недорого в Москве
				+e.P.text Если вдруг с вами произошла такая неприятная история и вы не можете завести автомобиль, ни в коем случае не расстраивайтесь. Наши водители работают круглосуточно. Они приедут к вам и помогут 
					strong прикурить автомобиль в течении 15-30 минут
					|. Вам лишь нужно позвонить по номеру телефона +7 495 133 62 26 и заказать услугу. Мы прекрасно понимаем, что каждый человек тщательно планирует свой распорядок дня и опоздать на работу или на встречу крайне нежелательно. Именно поэтому мы и укомплектовали большинство наших автомобилей специальными проводами или внешними пусковыми устройствами.
				+e.IMG.image._start-the-car.img-center(src='assets/images/services/prikurit-akkumulyator_400x300.jpg' width='400' height='300' title='прикурить авто' alt='прикурить авто')
				h2.heading.heading_h3 Важная информация для тех кто собирается прикурить автомобиль
				ol
					li При подключении проводов не перепутайте клеммы, возможно короткое замыкание
					li Перед тем как завести двигатель автомобиля который согласился вам помочь выньте ключи из замка зажигания своего автомобиля. Были случаи когда в процессе зарядки вашего аккумулятора срабатывала сигнализация и машина закрывалась. В этом случае придется воспользоваться вторым комплектом ключей, которые зачастую дома. Или обращаться в специальные службы за помощью. А это дополнительно время и естественно деньги
					li После того как вы смогли завести ваш автомобиль необходимо совершить поездку не менее 10-15 минут для того чтобы аккумулятор набрал заряд. Если этого не сделать велика вероятность еще раз повторить эту ситуацию
					li Проверьте работоспособность вашего аккумулятора. Сильные перепады летних и зимних температур негативно сказываются на работе аккумулятора.  Срок службы обычно около 3-5 лет. При покупке обратите внимание на емкость и обязательно наличие гарантии
				h2.heading.heading_h3 Полезная информация
				ol
					li Бывают такие ситуации когда приходится 
						strong прикуривать автомобиль 
						|на проезжей части. В этот момент очень важно не забыть о собственной безопасности и безопасности участников дорожного движения. Обязательно выставите знак аварийной остановки на дороге. Этим действием вы покажете другим автомобилистам о вашей поломке и они смогут заблаговременно увидеть ваш автомобиль и объехать.
					li Если автомобиль длительное время не используется то рекомендуется снять аккумуляторную батарею и хранить в сухом месте. Тем самым вы продлите срок ее службы
					li В случае приобретения нового аккумулятора обратите внимание на емкость вашего и берите с близкими значениями
					li Когда на улице сильные морозы лучше заберите аккумулятор на ночь домой
				+e.P.text.no-indent Мы искренне желаем вам безопасных и хороших дорог!
				+common-services
