include /blocks/common-services/common-services
include /blocks/tariff-airport-transfer/tariff-airport-transfer
include /blocks/tariff-airport-table/tariff-airport-table
include /blocks/transfer-from-airport/transfer-from-airport
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-taxi
				+e.H1.title.heading.heading._h2.taxi-icon Такси в аэропорт Шереметьево
				+e.P.text
					+e.IMG.image._sheremetevo-small(src='assets/images/airport/sheremetevo_250x145.jpg' width='250' height='145' title='аэропорт Шереметьево' alt='аэропот Шереметьево')
					|Как сказал один из классиков: «Путешествовать - значит рождаться и умирать каждую секунду…». Действительно, путешествия очищают человеческую душу и заставляют посмотреть на окружающий мир и несовершенные ситуации абсолютно под другим углом. Именно поэтому каждый человек, живущий в мегаполисе, стремится хотя бы раз в год покинуть пыльный город и вдохнуть жизнь полной грудью.
				+tariff-airport-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
																priceToAirport:['1000','1000','1100','1100','1100','1100','1100','1000','1100'],
																priceFromAirport:['1200','1200','1300','1300','1300','1300','1300','1200','1300'],
																caption:'Тарифы такси в аэропорт Шереметьево',
																airportName:'Шереметьево'
																})
				+e.P.text С чего начинается любое путешествие? Конечно, с покупки билетов на самолет и решения проблемы трансфера в аэропорт. К сожалению, аэровокзалы значительно удалены от города, поэтому путешественникам предлагается несколько способов, как добраться до такого аэропорта как Шереметьево. Конечно, можно воспользоваться услугой специальных автобусов или электричек, однако в случае ночного рейса или с большим количеством багажа такой способ транспортировки является достаточно неудобным. 
					strong Такси Шереметьево 
					|во все времена пользовалось популярностью среди городского населения, поэтому большинство выбирают именно этот вид транспорта для поездок в аэропорт.
				+e.P.text.no-indent
					strong Такси в Шереметьево 
					|– качественный сервис и комфорт, доступный каждому.
				+transfer-from-airport({tariff:['Эконом','Комфорт','Универсал','Бизнес','Минивэн (6 мест)','Минивэн (8 мест)','Микроавтобус'],
																price1:['1500','1700','1800','2300','2400','2600','5300'],
																price2:['1600','1900','1800','2500','2400','2600','5200'],
																priceStation:['1300','1400','1500','2100','2100','2300','4800'],
																caption:'Трансфер из Шереметьево',
																airport:'Шереметьево'
																})
				+e.P.text Наша служба предлагает воспользоваться сервисом трансфера в аэропорт Шереметьево и обратно. Мы предлагаем своим клиентам услугу 
					strong такси в аэропорт Шереметьево дешево. 
					|Наша команда считает, что качественный сервис должен быть не только комфортным, но и быть по карману среднестатистическому жителю города. Мы собрали лучшую команду профессионалов, которые постоянно работают над повышением квалификации и учитывают все пожелания клиентов.
				+e.P.text Наш таксопарк – это большое количество машин, как представительского класса, так и бюджетных иномарок. Ценовая политика вашего заказа складывается из нескольких факторов: километраж, класс автомобиля и время ожидания пассажира.
				+e.P.text Благодаря технической оснащенности нашего офиса современными спутниковыми системами – наши диспетчера с точностью просчитывают маршрут вашей поездки и делают ее максимально выгодной для клиента. 
				+e.IMG.image._sheremetevo-night.image(src='assets/images/airport/sheremetevo-night_400x266.jpg' width='400' height='266' title='аэропорт Шереметьево ночью' alt='аэропот Шереметьево ночью')
				+e.P.text Наши водители являются специалистами с многолетним стажем вождения и работы в службе 
					strong такси аэропорт Шереметьево, 
					|поэтому вы можете быть уверены в высокой культуре и этичности нашего персонала.
				+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
																priceDomodedovo:['---','1600','1400'],
																priceSheremetevo:['1600','500','1500'],
																priceVnukovo:['1400','1500','---'],
																caption:'Тарифы такси Эконом на трансфер аэропорт -> аэропорт'
																})
				+e.P.text Если вы находитесь в другом городе или стране, или не можете встретить своего партнера – наша компания придет к вам на помощь. Мы организовываем встречи ваших гостей в терминалах с табличкой и отправляем машинами 
					strong такси из аэропорта Шереметьево 
					|в любую точку Москвы.
				+e.P.text.no-indent Почему мы?
				+e.UL.content-list
					li Большой автопарк новых автомобилей;
					li Компетентные сотрудники;
					li Низкие цены и бонусы для постоянных пассажиров;
					li Возможность онлайн заказа 
						strong такси из Шереметьево 
						|на сайте либо в мобильном приложении;
					li Предварительный и срочный вызов машины;
					li Оперативная подача такси и безопасное выполнение заказа;
					li Дополнительные услуги и сервисы.
				+e.P.text
					strong Такси в аэропорт Шереметьево 
					|от нашей компании – это гарантия безопасной поездки и своевременного прибытия на рейс!
			+common-services
			