.about-tariff
	margin-bottom 50px
	&__text
		padding-bottom 10px
		color $c_black
		font-size 20px
		line-height: 1.5
		text-indent 25px
		strong
			font-weight 700
	.no-indent
		text-indent 0
	ul
		margin-bottom 10px
		li
			margin-left 20px
			padding-bottom 5px
			color $c_black
			font-size 18px
			list-style-type: disc;
			strong
				font-weight 700
