include /blocks/common-services/common-services
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.about-stations
				+e.H1.title.heading._h2.taxi-icon Такси на Ленинградский вокзал
				+e.P.text Москва является одной из самых крупных столиц мира, поэтому ежедневно тысячи гостей и туристов прибывают на железнодорожные вокзалы города. Титул старейшего вокзала мегаполиса по праву принадлежит Ленинградскому вокзалу, который обслуживает поезда как пригородного, так и дальнего следования. Ежечасно вокзал обслуживает около 500 пассажиров, поэтому отправляясь в путь, следует тщательно планировать свой маршрут. Путешествие железной дорогой всегда связано с огромным количеством волнений и переживаний. И это неудивительно! Огромное количество людей, боязнь не успеть на свой поезд и неудобный багаж – все это превращает предстоящий путь в настоящий кошмар. Для того, чтобы оградить себя от неприятных воспоминаний и неудобств рекомендуем вам воспользоваться услугой «
					strong такси Москва Ленинградский вокзал
					|».
				+tariff-airport-station({distr:'"Ленинградский" вокзал',
																priceDomodedovo:1300,
																priceSheremetevo:1300,
																priceVnukovo:1300,
																caption:'Тарифы такси Эконом на трансфер аэропорт -> вокзал'
																})
				+e.IMG.image._leningradskiy-station.img-center(src='assets/images/stations/leningradskiy/leningradskiy-station-night_400x267.jpg' width='400' height='267' title='Ленинградский вокзал ночью' alt='Ленинградский вокзал ночью')
				+e.P.text.no-indent
					strong Такси Ленинградский вокзал
					|– оперативность и качественный сервис.
				//- +e.IMG.image._leningradskiy-station.img-center(src='assets/images/stations/leningradskiy/leningradskiy-station-train_400x300.jpg' width='400' height='300' title='Ленинградский вокзал' alt='Ленинградский вокзал поезд')
				+e.P.text Наша служба такси осуществляет услуги по перевозке пассажиров уже много лет. За годы работы мы вывели свою идеальную формулу по предоставлению качественного сервиса: оперативность, низкая цена и безопасность поездки. Только у нас разработан специальный тариф для трансфера клиентов на вокзалы Москвы. Мы предлагаем:
					ul
						li Услуга
							strong такси Ленинградский вокзал Шереметьево
							|- встретим и отвезем вас и ваших гостей как с аэропорта, так и с вокзала
						li Услуга
							strong такси Ленинградский вокзал Домодедово
							|- комплексный трансфер с/на вокзал или аэропорт
						li Услуга
							strong такси Ленинградский вокзал Внуково
							|- встреча с табличкой в терминале аэропорта или на перроне вокзала с дальнейшей транспортировкой
						li Экскурсионные услуги – встретим на вокзале и проведем экскурсию для вас или ваших гостей
						li Услуга « Водитель» - для тех, кто предпочитает перемещаться по городу с комфортом на своем авто
				+e.P.text Наша компания беспокоится о качестве предоставляемых услуг, поэтому все сотрудники проходят тщательный отбор и обучение. Наши водители – люди с многолетним стажем вождения, которые ценят и дорожат своей работой. Таксопарк нашей службы состоит из автомобилей различных моделей. У нас вы сможете выбрать именно ту машину, которая максимально соответствует вашим требованиям.
					strong Стоимость такси Ленинградский вокзал 
					|будет зависеть от модели авто, расстояния от начальной до конечной точки, а также количества багажа. Мы придерживаемся политики прозрачных тарифов, поэтому стоимость, которую сообщает оператор, является окончательной и не подлежит дополнительным начислениям.
				+e.IMG.image._leningradskiy-station.img-center(src='assets/images/stations/leningradskiy/leningradskiy-station_400x266.jpg' width='400' height='266' title='Ленинградский вокзал' alt='Ленинградский вокзал')
				+e.P.text Для того, чтобы
					strong заказать такси на Ленинградский вокзал 
					|достаточно кликнуть один раз мышкой на нашем сайте, либо позвонить по короткому номеру. Наш диспетчер свяжется с вами в кратчайшее время и подберет наилучший вариант для комфортной поездки.
				+e.P.text Хватит пользоваться услугами частных перевозок! Заказываете машину на вокзал в нашей службе и получите позитив от комфортной поездки и качественного сервиса!
				+common-services
