include /blocks/common-services/common-services
include /blocks/tariff-info/tariff-info
include /blocks/tariff-district-table/tariff-district-table
include /blocks/tariff-airport-transfer/tariff-airport-transfer
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+tariff-info({title:'Такси Минивэн (6 мест)',
										price:800,
										time:8,
										more:32
										})
			+tariff-district-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
															priceDomodedovo:['1800','1800','1800','1800','1700','1800','1800','1800','1800'],
															priceSheremetevo:['1800','1800','1800','1800','1800','1800','1800','1700','1800'],
															priceVnukovo:['1800','1800','1800','1800','1800','1700','1800','1800','1800'],
															caption:'Тарифы такси Минивэн (6 мест) в аэропорт из Москвы'
															})
			+e.IMG.image._miniven-6.img-center(src='assets/images/tariffs/miniven-6/miniven-car_400x267.jpg' width='400' height='267' title='такси минивэн 6 мест' alt='такси минивэн 6 мест')
			+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
															priceDomodedovo:['---','2300','2000'],
															priceSheremetevo:['2300','1400','2200'],
															priceVnukovo:['2000','2200','---'],
															caption:'Тариф такси Минивэн (6 мест) на трансфер аэропорт -> аэропорт'
															})
			+tariff-airport-station({distr:'Ж/д вокзал',
															priceDomodedovo:1900,
															priceSheremetevo:1900,
															priceVnukovo:1900,
															caption:'Тариф такси Минивэн (6 мест) на трансфер аэропорт -> вокзал'
															})
			+b.about-tariff
				+e.P.text Сегодня одной из самых востребованных транспортных услуг остается такси. Это не только гарантия своевременного прибытия на место назначения, но и возможность насладиться комфортом. Услугами служб перевозчиков пользуется каждый второй горожанин, поэтому количество такси растет ежедневно с геометрической прогрессией. В таком количестве предложений клиенту иной раз очень сложно сориентироваться и подобрать для себя оптимальный вариант.
				+e.P.text
					strong Такси минивэн Москва 
					|– вместе путешествовать веселее.
				+e.P.text Наша компания обслуживает пассажиров в городе Москва уже много лет. За годы работы мы подобрали большое количество услуг, которые рады предложить нашим клиентам. Большой популярностью пользуются услуги 
					strong такси минивэн. 
					|Что это значит? Машины минивэн являются прекрасной альтернативой сэкономить средства на поездку для большой компании или группы людей, поэтому организаторы праздничных мероприятий рекомендуют данный вид перевозок гостей.  Такой транспорт обеспечивает не только комфорт для пассажиров, но и дает возможность разместить большое количество багажа в автомобиле.
				+e.IMG.image._miniven-6.img-center(src='assets/images/tariffs/miniven-6/miniven-salon_400x269.jpg' width='400' height='269' title='такси минивэн 6 мест салон' alt='такси минивэн 6 мест салон')
				+e.P.text Если вы планируете групповую поездку по городу, воспользуйтесь услугой 
					strong «такси минивэн Москва недорого» 
					|от нашей компании. Мы предлагаем наилучшие тарифы в городе, а комфортабельность наших авто не оставит вас равнодушными. Наш таксопарк оснащен современными моделями минивэнов, которые ежедневно проходят технический осмотр и обслуживание. Кроме того, все авто имеют современную систему вентиляции и кондиционирования, что гарантирует комфортную поездку даже на дальние расстояния.
				+e.P.text
					strong Заказать минивэн такси 
					|очень просто, достаточно воспользоваться нашим веб-сайтом. Там же вы сможете рассчитать стоимость вашей поездки с помощью калькулятора. Для экскурсионных групп заказ рекомендуется размещать за 3-4 часа до планируемой поездки, указав количество человек и планируемый маршрут. Конечная сумма будет зависеть от времени и расстояния до конечной точки. У нас вы также можете заказать 
					strong такси минивэн на вокзал 
					|либо услугу 
					strong «такси минивэн аэропорт». 
					|Это будет значительно дешевле обычной услуги такси.
				+e.P.text.no-indent Почему мы?
				+e.UL.content-list
					li Быстрая подача минивэнов
					li Большой спектр услуг
					li Грамотные специалисты
					li Опытные водители со стажем
					li Низкие тарифные планы 
						|(
						strong такси минивэн-дешево 
						|только у нас)
					li 100% безопасность поездки
			+common-services
