.tariff-info
	margin-bottom 50px
	&__title
		margin-bottom 60px
		text-align center
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content: center
	&__item
		position relative
		margin-right 90px
		padding-top 50px
		color $c_black
		font-family $base-font
		font-size 24px
		text-align center
		&:last-child
			margin-right 0
	&__icon
		position absolute
		top 0
		left calc(50% - 21px)
