.sub-menu
	position absolute
	left -9999px
	top 100%
	width 185px
	padding-top 5px
	padding-bottom 5px
	padding-left 25px
	background-color $c_white
	opacity 0
	@media (max-width: 1024px)
		padding-top 2px
		padding-bottom 2px
	&__link
		display block
		font-family $base-font2
		color $c_black
		font-size 19px
		line-height 30px
		@media (max-width: 1024px)
			font-size 16px
		&:hover
			color $c_yellow
