mixin sub-menu()
	+b.UL.sub-menu&attributes(attributes)
		+e.LI.item
			+e.A.link.link(href='') Эконом
		+e.LI.item
			+e.A.link.link(href='') Комфорт
		+e.LI.item
			+e.A.link.link(href='') Бизнес
		+e.LI.item
			+e.A.link.link(href='') Универсал
		+e.LI.item
			+e.A.link.link(href='') Минивен
		+e.LI.item
			+e.A.link.link(href='') Микроавтобус
