include /blocks/common-services/common-services
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.about-stations
				+e.H2.title.heading._h2.taxi-icon Такси на Киевский вокзал
				+e.P.text Киевский вокзал является одним из самых крупных вокзалов Москвы. Ежедневно на перроны вокзала прибывают тысячи людей из других городов и пригорода. Также возле вокзала расположен крупный торговый центр, который посещают как москвичи, так и гости столицы. Несмотря на удачное расположение вокзала, добраться куда-либо на общественном транспорте достаточно проблематично из-за большого потока людей. Для того, чтобы не испортить первое впечатление от посещения столицы рекомендуем воспользоваться услугой «
					sttrong такси Киевский вокзал
					|» от нашей службы.
				+tariff-airport-station({distr:'"Киевский" вокзал',
																priceDomodedovo:1300,
																priceSheremetevo:1300,
																priceVnukovo:1300,
																caption:'Тарифы такси Эконом на трансфер аэропорт -> вокзал'
																})
				+e.IMG.image._kievskiy-station.img-center(src='assets/images/stations/kievskiy/kievskiy-station-night_400x262.jpg' width='400' height='262' title='Киевский вокзал ночью' alt='Киевский вокзал ночью')
				+e.P.text Мы работаем в сфере перевозок пассажиров много лет, поэтому вывели идеальную формулу взаимоотношения с клиентами. Мы предлагаем наилучшие условия поездки, чтобы вы могли не только насладиться прекрасными видами столицы, но и зарядились положительными впечатлениями и эмоциями. Наша команда – это высопрофессиональные сотрудники, которые прошли тщательный отбор и работают в компании уже много лет. Благодаря такой политике наша компания имеет отменную репутацию и постоянно наращивает количество постоянных клиентов. Нас ценят не только за комфорт, но и за тактичный индивидуальный подход к каждому пассажиру.
				+e.P.text Мы постоянно работаем над расширением и повышением качества таких видов услуг:
					ul
						li Поездки по городу фиксированный тариф;
						li Сопровождение и встречи в аэропорту
						li Услуга
							|«
							strong такси Киевский вокзал - Внуково
							|» - самый выгодный тариф
						li
							|«
							strong Такси Киевский вокзал - Домодедово
							|» - безопасная и быстрая поездка
						li
							|«
							strong Такси Киевский вокзал - Шереметьево
							|» - комфорт, качество, специальные условия для постоянных клиентов.
				+e.IMG.image._kievskiy-station.img-center(src='assets/images/stations/kievskiy/kievskiy-station_400x265.jpg' width='400' height='265' title='Киевский вокзал' alt='Киевский вокзал')
				+e.P.text Многие жители, да и гости столицы перед поездкой задаются вопросом «
					strong сколько стоит такси Киевский вокзал
					|?». Существует миф, что передвижение в столице машинами такси очень дорогостоящее, а количество честных служб минимально. Наша компания развеет ваши сомнения с первой минуты общения с нашими диспетчерами. Мы поможем подобрать вам именно тот автомобиль, который подойдет вам не только по комфортабельности, но и по стоимости.
					|На сайте вы можете предварительно рассчитать стоимость поездки, и убедиться, что
					strong такси Киевский вокзал дешево 
					|- это реальность. Стоимость поездки озвучивается диспетчером и является окончательной, а это значит, что никаких дополнительных расходов на поездку.
					strong Такси Киевский вокзал заказать 
					|можно как на нашем официальном сайте, так и связавшись по контактному телефону с нашим менеджером. Поездка автомобилями нашей компании - это залог безопасности и хорошего настроения на весь день.
				+common-services
