//for different font-styles & urls
@font-face {
  font-family: 'Pragmatica';
  src: url('../fonts/pragmatica-black.woff') format('woff'),
			 url('../fonts/pragmatica-black.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PT_Sans-Narrow-Regular.woff') format('woff'),
			 url('../fonts/PT_Sans-Narrow-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption';
  src: url('../fonts/PT_Sans-Caption-Regular.woff') format('woff'),
			 url('../fonts/PT_Sans-Caption-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'slick';
  src: url('../fonts/slick.woff') format('woff')
  font-weight: normal;
  font-style: normal;
}
