//fonts
$base-font= 'PT Sans Caption', sans-serif
$h-font = 'Pragmatica', sans-serif
//page sizes
$page-width = 1100px
$container-width = 1100px
//colors
$c_white = #fff
$c_black = #302400
$c_yellow = #ffc000
