//fonts
$base-font= 'PT Sans Caption', sans-serif
$base-font2 = 'PT Sans Narrow', sans-serif
$h-font = 'Pragmatica', sans-serif
//page sizes
$page-width = 1200px
$container-width = 1200px
//colors
$c_white = #fff
$c_black = #302400
$c_yellow = #ffc000
$c_form-btn = #3f51b5
