include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Химки - Домодедово 1300 рублей
				+e.P.text «Любое путешествие начинается с аэропорта»,- скажете вы. Мы готовы опровергнуть этот факт: любое путешествие начинается с машины такси. Именно службы перевозок помогают добраться в аэропорты и вокзалы столицы максимально быстро и комфортно. И если для жителей мегаполиса своевременный приезд к терминалу не является проблемой, то жители Подмосковных городов, таких как Химки, зачастую сталкиваются с недобросовестностью и халатностью перевозчиков при подаче машины. Кроме того, зачастую службы завышают ценники на услугу 
					strong такси Химки - аэропорт Домодедово 
					|при этом качество и комфорт автомобилей вызывает сомнение.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/taxi-Hymki_400x251.jpg' width='400' height='251' title='такси Химки' alt='такси Химки')
				+e.P.text.no-indent
					strong Такси Химки – Домодедово 
					|- новый взгляд на поездки в аэропорт
				+e.P.text Наша служба такси предлагает вам качественный трансфер в аэропорты города Москва без пробок 24/7.  Офисы, нашей компании оборудованы новейшими системами GPS, которые позволяют просчитать максимально короткий маршрут до места назначения с учетом пробок и ДТП на шоссе, что позволяет предоставлять услугу 
					strong такси Химки - Домодедово недорого
					|. В нашем автопарке представлены машины, как эконом, так и вип-класса, поэтому вы сможете воспользоваться тем авто, которое будет соответствовать вашим предпочтениям и пожеланиям. Гордость нашей компании - это персонал, который прошел тщательный отбор и обучение. У нас вы не столкнетесь с некомпетентностью и хамством, поскольку каждый сотрудник прошел все пути карьерного роста и знает, как правильно решать непредвиденные и нестандартные обстоятельства. Наша политика – это счастливый клиент, поэтому мы постоянно работаем над улучшением качества услуги 
					strong такси Химки - Домодедово. Заказать 
					|машину вы можете через страничку нашей компании в интернете, с помощью мобильного приложения, либо позвонить по короткому номеру.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/taxi-Domodedovo-Hymki_400x267.jpg' width='400' height='267' title='такси Домодедово-Химки' alt='такси Домодедово-Химки')
				+e.P.text.no-indent
					strong Такси Химки - Домодедово дешево 
					|только у нас!
				+e.P.text Многолетняя работа научила нас ценить каждого клиента, поэтому мы постоянно обновляем бонусные предложения и внедряем разнообразные дисконтные программы на 
					strong такси Химки – Домодедово. Стоимость 
					|данной услуги на сегодняшний день является фиксированной и не зависит от времени проведенного в пути. Кроме того, для клиентов, которые пользуются нашей услугой впервые, мы предлагаем специальные условия, которые подробно описаны на нашем сайте. Если вы все еще не определились с перевозчиком, звоните нам и заказывайте 
					strong такси Химки - Домодедово. Цена 
					|и качество нашего сервиса вас приятно удивят и заставят возвращаться к нам снова и снова.
