include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Королев - Домодедово 1300 рублей
				p Город Королев - один из самых популярных для жизни мест в Подмосковье. И это неудивительно! Развитая инфраструктура, небольшая удаленность от столицы и удобная транспортная развязка по Ярославскому шоссе делает Королев идеальным местом для постоянного проживания и ведения бизнеса. Кроме того, здесь расположен национальный парк « Лосиный остров», который ежегодно привлекает тысячи туристов. Именно поэтому проблема транспортировки из аэропортов Москвы в Королев и обратно является одной из самых основных. Службы такси в городе только развиваются, поэтому в большинстве случаев поездки 
					strong такси Королев-Домодедово 
					|обслуживают столичные компании частных пассажироперевозок. Как правило, стоимость такой услуги от таких служб необоснованно завышены, и жителям города приходится подстраиваться под график работы общественного транспорта.
				p.no-indent Услуга 
					strong такси Королев-Домодедово
					|. Стоимость фиксирована - сервис сбалансирован.
				p Наша компания является первой в своем роде службой перевозок, которая предлагает своим клиентам дешевые поездки на 
					strong такси Королев-Домодедово. Фиксированный тариф 
					|на услугу позволяет клиенту не беспокоиться о средствах и дает возможность наслаждаться каждой минутой в пути. Ваш тариф не зависит от времени в пути и пробок на шоссе,- вы платите только ту сумму, которую вам озвучил оператор. Никаких дополнительных сумм и переплат.
				p В нашем автопарке представлен большой ассортимент машин различных категорий, в том числе VIP, поэтому при необходимости вы сможете заказать у наших менеджеров встречу и трансфер на 
					strong такси Королев-аэропорт Домодедово 
					|ваших бизнес - коллег.
				p Мы постоянно работаем над улучшением сервиса и проводим ежегодное обучение сотрудников, чтобы вы могли наслаждаться качеством услуги 
					strong такси Королев-Домодедово. Заказать 
					|машину теперь стало еще проще, благодаря онлайн-сервису и короткому номеру телефона. Мы подаем авто в течение 15 минут после вызова, а максимальное время ожидания пассажира составляет 20 минут. Если вы все еще находитесь в поиске недорогой поездки в аэропорт, рекомендуем воспользоваться услугой 
					strong такси Королев - Домодедово. Цена 
					|и качество нашего обслуживания не оставит вас равнодушными, и вы обязательно станете нашим постоянным пассажиром.
				p.no-indent
					strong Почему такси Королев-Домодедово самое дешевое 
					|и лучшее в городе?
				ul.content-list
					li Обширный автопарк;
					li Собственный автосервис;
					li Компетентный персонал и опытные водители;
					li Фиксированные тарифы на услуги перевозки;
					li Поощрения и бонусы для постоянных клиентов.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/taxi-Domodedovo-Hymki_400x267.jpg' width='400' height='267' title='такси Домодедово-Химки' alt='такси Домодедово-Химки')
