include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Одинцово - Домодедово 1200 рублей
				+e.P.text С каждым годом инфраструктура Москвы модернизируется, и жизнь мегаполиса постепенно заглатывает и близлежащие к столице города. Одинцово является одним из самых популярных подмосковных городов для проживания. И это неудивительно! Сравнительно невысокая стоимость аренды квартир и развитое транспортное сообщение с Москвой делают городок привлекательным как для москвичей, так и для приезжих. Однако, в часы пик удаленность от большого города чувствует на себе каждый житель. Загруженный общественный транспорт, пробки на шоссе и очереди, - все это делает услугу такси идеальным вариантом для поездок в столицу, а также в аэропорты и вокзалы Москвы.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/taxi-Odincovo_400x300.jpg' width='400' height='300' title='такси Одинцово' alt='такси Одинцово')
				+e.P.text.no-indent Услуга 
					strong такси Одинцово-Домодедово 
					|- недорого, комфортно, безопасно.
				+e.P.text Наша компания предлагает воспользоваться услугами 
					strong такси Одинцово - аэропорт Домодедово 
					|по фиксированному тарифному плану. Мы осуществляем перевозку пассажиров современными автомобилями премиум-класса и гарантируем безопасность поездок на любые расстояния. Каждый автомобиль оборудован современной системой кондиционирования, поэтому наши пассажиры передвигаются по маршруту с максимальным комфортом. Отдел техобслуживания внимательно следит за состоянием каждого автомобиля и своевременно устраняет неисправности.
				+e.P.text Команда наших водителей - это высококлассные специалисты с многолетним стажем вождения, которые ориентируются как в Москве, так и в областных городах. Благодаря мощным спутниковым системам наши операторы просчитают максимально короткий маршрут для вашей поездки, чтобы вы смогли насладиться дорогой, не переплачивая за услугу 
					strong такси Одинцово-Домодедово
					|. Цена по заявленному маршруту зависит только лишь от класса выбранного автомобиля и длительности ожидания пассажира. Никаких скрытых платежей и переплаты!
				+e.P.text.no-indent Услуга 
					strong такси Одинцово-Домодедово 
					|дешево. Преимущества.
				+e.UL.content-list
					li Фиксированный тариф;
					li Быстрая подача авто;
					li Компетентный персонал;
					li Вежливые водители;
					li Предварительный заказ;
					li Организация встреч в аэропорту с последующей транспортировкой;
					li Гибкая система скидок и дополнительных бонусов для постоянных клиентов.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/taxi-Domodedovo-Odincovo_400x267.jpg' width='400' height='267' title='такси Домодедово-Одинцово' alt='такси Домодедово-Одинцово')
				+e.P.text Услугу 
					strong такси Одинцово-Домодедово заказать 
					|достаточно просто. Для этого можно воспользоваться формой обратной связи на нашем сайте либо загрузить мобильное приложение. Наши операторы свяжутся с вами в кратчайшие сроки и подберут наиболее выгодный тариф для вашей поездки. Если вы планируете путешествие с ребенком, пожалуйста, сообщите об этом нашему сотруднику заблаговременно,- мы подберем для вас комфортную машину с детским креслом, чтобы 
					strong услуга такси Одинцово-Домодедово 
					|была максимально комфортной и безопасной для вас и вашего малыша.
