include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Подольск - Домодедово 1000 рублей
				+e.P.text Проблема транспортного сообщения мегаполисов с соседними городами и административными центрами является одной из самых острых на сегодняшний день. Москва не стала исключением. В связи с высокой стоимостью на аренду жилья в столице, большинство приезжающих специалистов предпочитают селиться в области, да и москвичи, убегая от загазованности воздуха, все чаще отдают предпочтение небольшим городкам Подмосковья. Благодаря активным действиям руководства города, добраться из области в Москву на общественном транспорте стало намного проще, однако в часы пик наиболее удобным и востребованным способом передвижения остается такси. 
				+e.IMG.image.image.img-center(src='assets/images/airport-region/taxi-Podolsk_400x309.jpg' width='400' height='309' title='такси Подольск' alt='такси Подольск')
				+e.P.text Наша компания осуществляет перевозки пассажиров машинами такси по самым выгодным тарифам. У нас вы можете воспользоваться такими видами услуг:
				+e.UL.content-list
					li Предварительный заказ такси (наш водитель приедет в четко назначенное время);
					li Встреча в аэропорту или ж/д вокзале;
					li Групповые перевозки;
					li Поездки в аэропорт и многое другое.
				+e.P.text.no-indent Услуга 
					strong такси аэропорт Домодедово-Подольск
					| - быстро, качественно, надежно!
				+e.P.text Поездки в аэропорт из Подольска являются одной из самых популярных услуг в нашей компании. Благодаря современному оборудованию и компетентности персонала мы максимально точно просчитываем маршрут без пробок, чтобы вы могли своевременно попасть на регистрацию рейса. Для вашего удобства разработан электронный сервис, на котором в несколько кликов вы сможете осуществить вызов 
					strong такси Домодедово-Подольск. Заказать 
					|авто вы можете также связавшись по телефону с нашими операторами. Время подачи машины варьируется от 10 до 20 минут, в зависимости от удаленности водителя от вашего адреса.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/taxi-Domodedovo-Podolsk_400x300.jpg' width='400' height='300' title='такси Домодедово-Подольск' alt='такси Домодедово-Подольск')
				+e.P.text.no-indent
					strong Такси Домодедово-Подольск 
					|– цена и комфорт для любимых клиентов.
				+e.P.text Мы тщательно следим за технической исправностью авто и чистотой в салоне. Наши водители - это гордость компании, которые прошли тщательный отбор и обучение. Поездка на 
					strong такси Домодедово-Подольск 
					|– это гарантия безопасности и максимальный комфорт для наших пассажиров. 
					|Экономический кризис внес свои коррективы в транспортный сервис и ценовую политику такси. Однако, наша команда считает, что повышение стоимости не является альтернативой.  Мы ценим время и средства своих клиентов, поэтому предлагаем услугу 
					strong такси Домодедово-Подольск недорого 
					|по фиксированным тарифам без потери качества. В нашем автопарке представлены машины для различного сегмента: эконом, стандарт, бизнес и VIP, поэтому каждый клиент сможет выбрать наиболее подходящий вариант для поездки на 
					strong такси Домодедово-Подольск. Стоимость 
					|при этом будет фиксированной согласно выбранному классу машины. 
				+e.P.text Услуга 
					strong такси Домодедово Подольск дешево 
					|- это лучшее решение для тех, кто бережет свои деньги и знает ценность каждой минуте!
