include /blocks/common-services/common-services
include /blocks/transfer-from-airport/transfer-from-airport
include /blocks/tariff-airport-table/tariff-airport-table
include /blocks/tariff-airport-transfer/tariff-airport-transfer
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.airport-taxi
				+e.H2.title.heading.heading._h2.taxi-icon Такси в аэропорт Внуково
				+e.P.text
					+e.IMG.image._vnukovo-small(src='assets/images/airport/vnukovo-airport_250x133.jpg' width='250' height='133' title='аэропорт Внуково' alt='аэропот Внуково')
					|Каждый человек не представляет своей жизни без путешествий. Жизнь в мегаполисе связана с постоянной нехваткой времени и большим количеством стрессов, поэтому поездки к морю – это единственная возможность на некоторое время сбежать от реальности, расслабиться и погрузиться в волшебную атмосферу отдыха.
				+tariff-airport-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
																priceToAirport:['1100','1100','1100','1100','1100','1000','1000','1100','1100'],
																priceFromAirport:['1300','1300','1300','1300','1300','1200','1200','1300','1300'],
																caption:'Тарифы такси в аэропорт Внуково',
																airportName:'Внуково'
																})
				+e.P.text Не секрет, что любой отдых начинается с аэропорта. К сожалению, аэровокзалы расположены далеко за городом, поэтому успеть к началу регистрации своевременно достаточно сложно. Сегодня городская транспортная система предлагает множество вариантов транспортировки пассажиров в аэропорт. Однако, самым удобным и быстрым транспортом является такси.
				+e.P.text.no-indent
					strong Такси в аэропорт Внуково 
					|- быстро, качественно, доступно.
				+transfer-from-airport({tariff:['Эконом','Комфорт','Универсал','Бизнес','Минивэн (6 мест)','Минивэн (8 мест)','Микроавтобус'],
																price2:['1500','1700','1800','2300','2400','2600','5300'],
																price1:['1400','1500','1600','2100','2000','2200','4800'],
																priceStation:['1300','1400','1500','2100','2000','2200','4800'],
																caption:'Трансфер из Внуково',
																airport:'Внуково'
																})
				+e.P.text Наша компания предлагает вам забыть о долгих и неудобных поездках на аэроэкспрессах и воспользоваться услугой
					strong такси до аэропорта Внуково. 
					|Мы понимаем, что каждая поездка сопровождается большим количеством чемоданов, поэтому собрали в нашем автопарке иномарки с вместительным багажным отделением. Наши сотрудники – это опытные водители и компетентные диспетчеры, которые имеют многолетний опыт работы в сфере пассажироперевозок.
				+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
																priceDomodedovo:['---','1600','1400'],
																priceSheremetevo:['1600','500','1500'],
																priceVnukovo:['1400','1500','---'],
																caption:'Тарифы такси Эконом на трансфер аэропорт -> аэропорт'
																})
				+e.P.text Наша фирма заботится о безопасности клиентов, поэтому каждый автомобиль перед выездом проходит качественную и своевременную проверку специалистами.
				+e.IMG.image._vnukovo-night(src='assets/images/airport/vnukovo-airport-night_400x281.jpg' width='400' height='281' title='аэропорт Внуково' alt='аэропот Внуково')
				+e.P.text Нашим клиентам мы предлагаем полный комплекс услуг, что делает нас одной из компаний-лидеров в городе Москва. У нас вы сможете воспользоваться следующими пакетами предложений:
					ul
						li
							strong Такси до Внуково 
							|по предварительному заказу и в день отправления
						li Встреча в аэропорту и трансфер ваших гостей и партнеров на
							strong такси из Внуково
						li Подача машины в течение 10-15 минут с момента заказа
						li Комфортная и безопасная поездка с детьми (часть автомобилей нашего парка оснащена детскими автокреслами)
						li Услуги водителя и другие дополнительные сервисы
				+e.P.text Одним из основных преимуществ нашей компании является наличие специальной услуги
					strong такси до Внуково - фиксированная цена 
					|которая позволит рассчитать стоимость поездки без переплат. Данный вид транспортировки подойдет тем, кто ценит свое время и денежные средства. Фиксированная цена означает, что вы платите только ту сумму, которая была озвучена нашим оператором. По окончанию поездки вы не получите неприятного сюрприза в виде сверхоплаты за багаж или расстояние. Также фиксированный тариф действует и при заказе
					strong такси из Внуково в Москву.
				+e.P.text
					strong Заказ такси в аэропорт Внуково 
					|от нашей компании - это возможность исключить неприятные сюрпризы и избавить себя от лишних проблем, связанных с транспортировкой багажа и опозданиями на рейс.
			+common-services
