include /blocks/common-services/common-services
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.about-stations
				+e.H1.title.heading._h2.taxi-icon Такси на Рижский вокзал
				+e.P.text Ежедневно на вокзалы Москвы прибывает огромное количество гостей. Рижский вокзал не является исключением, поскольку обслуживает не только поезда дальнего следования, но и пригородные электрички. Именно поэтому, на территории вокзала большой популярностью пользуется услуга такси. К сожалению, частные машины не всегда являются залогом комфортной поездки, да и цены на такие услуги заоблачные. Если вы не хотите переплачивать и цените качественный сервис, рекомендуем заказать услугу
					strong такси с Рижского вокзала 
					|в нашей компании.
				+tariff-airport-station({distr:'"Рижский" вокзал',
																priceDomodedovo:1300,
																priceSheremetevo:1300,
																priceVnukovo:1300,
																caption:'Тарифы такси Эконом на трансфер аэропорт -> вокзал'
																})
				+e.IMG.image._rizhskiy-station.img-center(src='assets/images/stations/rizhskiy/rizhskiy-station_400x267.jpg' width='400' height='267' title='Рижский вокзал' alt='Рижский вокзал')
				//- +e.IMG.image._rizhskiy-station(src='assets/images/stations/rizhskiy/rizhskiy-station-night_400x218.jpg' width='400' height='218' title='Рижский вокзал ночью' alt='Рижский вокзал ночью')
				+e.P.text.no-indent
					strong Такси Рижский вокзал 
					|– ценим безопасность и комфорт наших клиентов.
				+e.P.text Наша служба такси является одним из лидеров в сфере перевозки пассажиров по городу и области. Основным девизом нашей работы является удовлетворенность клиента, поэтому к подбору персонала и машин мы подходим с ответственностью. Наши сотрудники- это специалисты высокого уровня, которые прошли необходимое обучение и ежегодно повышают свой квалификационный уровень. Водители компании имеют колоссальный опыт вождения, и знают каждый укромный уголок мегаполиса, поэтому вам не придется терять драгоценное время на поиск дома или улицы. Мы постоянно расширяем ассортимент услуг и предлагаем такие виды перевозок:
				ul
					li
						strong Такси Рижский вокзал - Внуково
					li
						strong Такси Рижский вокзал - Домодедово
					li
						strong Такси Рижский вокзал - Шереметьево
					li Такси по фиксированной цене и эконом-тарифы
					li Экскурсии по городу и встречи на вокзалах
					li Индивидуальное сопровождение (услуги драйвера)
					li Предварительный прием заказов из другого города или страны, прочее
				+e.P.text
					strong Такси Рижский вокзал дешево 
					|– это возможность насладиться комфортной поездкой с минимальными затратами. На нашем сайте вы сможете ознакомиться с калькулятором расчета, с помощью которого с легкостью узнаете стоимость своей поездки. Для вашего удобства вы можете воспользоваться услугой обратной связи либо осуществить
					strong заказ такси Рижский вокзал 
					|по телефону, указанному на страничке.
				+e.IMG.image._rizhskiy-station.img-center(src='assets/images/stations/rizhskiy/rizhskiy-station-platform_400x267.jpg' width='400' height='267' title='Рижский вокзал платформа' alt='Рижский вокзал платформа')
				+e.P.text.no-indent Почему мы?
				+e.P.text Наша компания заботится о своей репутации, поэтому выполняем свои обязательства в полном объеме и всегда идем навстречу нашим клиентам. Нам доверяют тысячи людей, а крупные компании пользуются нашими услугами для трансфера своих сотрудников и гостей на вокзалы и аэропорты города. Мы гарантируем:
					ul
						li Безопасную поездку
						li Конфиденциальность информации
						li Быструю и своевременную подачу авто
						li 100% приезд машины такси
						li Компетентных и неболтливых водителей
						li Большой выбор моделей авто для различных целей
						li Чистоту салона и кузова автомобиля
				+common-services
