extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/airport/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси АЭРОПОРТ Шереметьево, Домодедово, Внуково, Жуковский';
	- var pageDescription = 'Такси в аэропорт Домодедово, Шереметьево, Внуково, Жуковский по фиксированным ценам. Закажите дешевое такси в аэропорт по телефону 74951336226';
	- var pageKeywords = 'такси в аэропорт, такси в аэропорт цена, фиксированное такси в аэропорт, такси в аэропорт фиксированная цена, стоит такси аэропорта, дешевое такси в аэропорт, такси аэропорт город, стоимость такси в аэропорт, заказать такси в аэропорт, такси в аэропорт москва, такси вокзал аэропорт, заказ такси в аэропорт,  яндекс такси в аэропорт, тариф такси в аэропорт, такси в аэропорт недорого, такси аэропорт отель, такси метро аэропорт,  такси встреча в аэропорту, такси аэропорт отзывы, дешевое такси москва аэропорт, стоимость проезда такси аэропорт, такси едет в аэропорт, фиксированное такси аэропорт дешево, такси аэропорта подольск, такси минивэн в аэропорт, доехать такси аэропорта,  фиксированное такси аэропорта москва, такси жд вокзала аэропорта, яндекс такси цены в аэропорт, гет такси аэропорт, такси люберцы аэропорт, такси аэропорта москва цена, яндекс такси фиксированная цена аэропорт, такси фиксированный тариф аэропорт, такси автовокзала аэропорта, самое дешевое такси в аэропорт, тарифы такси аэропорты москвы, такси аэропорт дешево цена, яндекс такси тарифы в аэропорт, такси трансфер аэропорт, заказать такси в аэропорт недорого';
block content
	+header('plane')
	+main
	+footer
