extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/airport-vnukovo/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Внуково 74951336226';
	- var pageDescription = 'Такси Внуково по фиксированной цене. Дешевое такси в аэропорт Внуково 74951336226';
	- var pageKeywords = 'такси внуково, такси в аэропорт внуково, такси внуково дешево, такси до внуково цена, такси внуково, сколько стоит такси до внуково, яндекс такси внуково, такси в аэропорт внуково фиксированная, такси до внуково стоимость, такси в аэропорт внуково фиксированная цена, такси из внуково в москву, такси внуково домодедово, такси во внуково фиксированная, такси во внуково фиксированная цена, такси вокзала внуково, такси одинцово внуково, такси внуково москва цена, такси москва аэропорт внуково, такси в аэропорт внуково дешево, такси до внуково аэропорт цена, такси из внуково в москву фиксированная, стоимость такси аэропорта внуково, такси внуково метро, такси из внуково в москву фиксированная цена, такси люберцы внуково, такси балашиха внуково, такси мытищи внуково, заказать такси в аэропорт внуково, заказ такси в аэропорт внуково, яндекс такси внуково цена, такси едем внуково, сколько ехать внуково такси, такси зеленоград внуково, яндекс такси в аэропорт внуково, такси юго западной внуково, такси метро аэропорт аэропорта внуково, такси королев внуково, такси киевской внуково, такси красногорск внуково, заказать такси в аэропорт внуково недорого';
block content
	+header('plane')
	+main
	+footer
