extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/stations/belorusskiy/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси на белорусский вокзал';
	- var pageDescription = 'Такси на Белорусский вокзал по фиксированной цене 7 495 133 62 26.  Самое дешевое такси с Белорусского вокзала в Шереметьево, Домодедово, Внуково.';
	- var pageKeywords = 'Такси на Белорусский вокзал';
block content
	+header('common')
	+main
	+footer
