extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/airport-region/domodedovo/zelenograd
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Зеленоград Домодедово самое дешевое';
	- var pageDescription = 'Самое дешевое такси Зеленоград Домодедово по фиксированному тарифу';
	- var pageKeywords = 'такси Зеленоград, Зеленоград дешево, самое дешевое такси, дешевое такси, такси домодедово, такси фиксированный тариф, такси эконом Зеленоград, такси аэропорт';
block content
	+header('common')
	+main
	+footer
