extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/airport-region/domodedovo/lubertsi
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Люберцы Домодедово самое дешевое';
	- var pageDescription = 'Самое дешевое такси Люберцы Домодедово по фиксированному тарифу';
	- var pageKeywords = 'такси Люберцы, Люберцы дешево, самое дешевое такси, дешевое такси, такси домодедово, такси фиксированный тариф, такси эконом Люберцы, такси аэропорт';
block content
	+header('common')
	+main
	+footer
