extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/index/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Москва | официальное такси по номеру телефона 74951336226';
	- var pageDescription = 'Такси Москва можно заказать на официальном сайте и по номеру телефона 7 495 133 62 26. Официальное дешевое такси стало реальностью';
	- var pageKeywords = 'такси москва, такси москва телефон, такси везет москва, яндекс такси москва, официальное такси москва, сайты такси москва, такси москва официальный сайт, дешевое такси москва, яндекс такси москва телефон, такси везет москва телефон, диспетчер такси москва, фиксированное такси москва, такси телефон диспетчера москва, такси москва отзывы, рассчитать такси москва, такси везет москва сайт, стоимость такси в москве, поездки москву такси, такси москва рассчитать стоимость, такси москва дешево фиксированный, заказ такси в москве, желтое такси москва, онлайн такси москва, расчет такси москва, яндекс такси сайт москва, яндекс такси москва стоимость, такси фиксированный тариф москва, ру такси москва, компании такси в москве, москва такси расчет стоимости, номер такси в москве, телефон такси, яндекс такси телефон, такси телефон диспетчера, номер телефон такси, такси везет телефон,заказ такси телефон, дешевое такси телефон, заказать такси телефон, такси телефон цена, вызвать такси телефон, официальное такси, официальное такси сайт';
block content
	+header
	+main
	+footer
