extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/stations/kazanskiy/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Казанский вокзал';
	- var pageDescription = 'Такси Казанский вокзал дешевая цена ';
	- var pageKeywords = 'такси казанский вокзал, сколько стоит такси до казанского вокзала, такси вокзал казанский цена, такси до казанского вокзала стоимость, такси москва казанский вокзал, такси казанский вокзал шереметьево, такси казанский вокзал домодедово, фиксированное такси казанский вокзал, такси казанский вокзал внуково, такси до казанского вокзала фиксированная цена, заказать такси казанский вокзал';
block content
	+header
	+main
	+footer
