extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/stations/kurskiy/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Курский вокзал';
	- var pageDescription = 'Такси на Курский вокзал по фиксированной цене. Заказать такси Курский вокзал можно по телефону 7 495 133 62 26';
	- var pageKeywords = 'такси на курский вокзал, такси курский вокзал стоимость, сколько стоит такси до курского вокзала, такси курском вокзале москвы, такси до курского вокзала цена, такси курский вокзал внуково, такси аэропорт шереметьево курского вокзала, такси курский вокзал аэропорт домодедово, такси с курского вокзала до домодедово, дешевое такси курский вокзал, такси курского вокзала недорого';
block content
	+header('common')
	+main
	+footer
