extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/stations/leningradskiy/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Ленинградский вокзал 74951336226';
	- var pageDescription = 'Такси Ленинградский вокзал можно заказать по номеру телефона 74951336226.  Дешевая стоимость, профессиональные водители и быстрая подача порадуют вас';
	- var pageKeywords = 'такси ленинградский вокзал, стоимость такси ленинградского вокзала, такси ленинградский вокзал цены, сколько стоит такси до ленинградского вокзала, такси москве ленинградский вокзал, такси аэропорт шереметьево ленинградский вокзал, такси на ленинградский вокзал фиксированный тариф, такси от ленинградского вокзала до домодедово, такси ленинградский вокзал одинцово, такси до ленинградского вокзала цена москва, такси от ленинградского вокзала до шереметьево, такси до ленинградского вокзала фиксированная цена, заказать такси ленинградского вокзала, заказ такси ленинградский вокзал, такси от аэропорта домодедово до ленинградского вокзала, стоимость такси ленинградского вокзала москве, такси из аэропорта внуково на ленинградский вокзал, такси ленинградский вокзал дешево, такси ленинградского вокзала курского, такси от ленинградского вокзала до внуково, такси ленинградский вокзал домодедово цена, такси ленинградский вокзал шереметьево цена, стоимость такси ленинградского вокзала внуково, такси москва ленинградский вокзал шереметьево, такси москва ленинградский вокзал домодедово';
block content
	+header
	+main
	+footer
