extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/stations/paveleckiy/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси на Павелецкий вокзал';
	- var pageDescription = 'Такси на Павелецкий вокзал  по фиксированной цене. Заказать такси Павелецкий вокзал можно по телефону 7 495 133 62 26';
	- var pageKeywords = 'такси павелецкий вокзал, стоимость такси павелецкого вокзала, такси павелецкого вокзала цена, сколько стоит такси павелецкого вокзала, такси москва павелецкий вокзал, такси павелецкий вокзал домодедово, такси павелецкий вокзал шереметьево, такси павелецкий вокзал внуково, такси до павелецкого вокзала фиксированная цена';
block content
	+header
	+main
	+footer
