extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/region-taxi/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси в область из Москвы по фиксированным ценам';
	- var pageDescription = 'Такси в область из Москвы. Фиксированные цены на поездки в область от 18 рублей за км. Быстрая подача на любой адрес Москвы';
	- var pageKeywords = 'такси в область, такси в Московскую область, фиксированное такси в область';
block content
	+header('common')
	+main
	+footer
