extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/stations/savelovskiy/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Савеловский вокзал по фиксированным ценам';
	- var pageDescription = 'Такси Савеловский вокзал.  Заказать такси Савеловский вокзал можно по телефону 7 495 133 62 26 ';
	- var pageKeywords = 'Такси на Савеловский вокзал';
block content
	+header('common')
	+main
	+footer
