extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/stations/main
include /blocks/footer/footer

block head
	- var pageTitle = '	Такси на вокзал | Низкая стоимость заказа такси на вокзалы Москвы';
	- var pageDescription = 'Заказать такси на вокзалы Москвы по телефону 74951336226. Стоимость такси вокзала порадует вас';
	- var pageKeywords = 'такси на вокзал, сколько стоит такси вокзала, стоимость такси вокзала, такси вокзал аэропорт, такси речной вокзал, такси до вокзала цена, такси вокзала фиксированной, такси жд вокзала аэропорта, такси вокзал москва фиксированная, яндекс такси вокзал, стоимость такси жд вокзала, такси ж д вокзала, такси на вокзал москва фиксированная цена, тарифы такси вокзала, сколько стоит такси жд вокзала, такси на жд вокзал, такси метро речной вокзал, такси встреча на вокзале, такси железнодорожного вокзала, недорогое такси вокзал, такси вокзал люберцы, такси на вокзал фиксированный тариф, дешевое такси на вокзал, заказать такси на вокзал, стоимость такси от жд вокзала до аэропорта, заказать такси вокзал москва, заказ такси на вокзал, вызвать такси вокзал, такси до жд вокзала цена';
block content
	+header('train')
	+main
	+footer
