extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/tariff-miniven-6/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси минивэн';
	- var pageDescription = 'Такси минивэн Москва. Заказать такси минивэн в аэропорт и на вокзал  7 495 133 62 26';
	- var pageKeywords = 'такси минивэн, такси минивэн москва, заказать минивэн такси, такси минивэн в аэропорт, яндекс такси минивэн, недорогое такси минивэн, дешевое такси минивэн, такси минивэн москва недорого, аренда такси минивэн, заказ такси минивэн, минивэн такси москва дешево, минивэн такси в домодедово, такси минивэн в область, аренда минивэна такси в москве, такси минивэн цена, заказать такси минивэн в москве, такси минивэн в аэропорт домодедово, такси тариф минивэн, заказать такси минивэн в москве недорого, такси минивэн одинцово, такси минивэн мытищи, детское такси минивэн, минивэн такси сколько мест, такси минивэн королеве, такси минивэн королев, яндекс такси минивэн сколько мест, заказ такси минивэн в москве, минивэн такси внуково, такси минивэн люберцы, такси минивэн петербург, такси минивэн фиксированная цена, минивэн такси в шереметьево, такси минивэн подольск, такси минивэн фиксированный тариф, такси минивэн москва фиксированный тариф, такси минивэн москва дешево фиксированный тариф, такси минивэн балашиха, такси минивэн межгород, заказать минивэн такси дешево';
block content
	+header
	+main
	+footer
