extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/tariff-universal/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси универсал';
	- var pageDescription = 'Такси универсал 7 495 133 62 26. Заказать такси универсал Москва дешево можно у нас';
	- var pageKeywords = 'такси универсал, такси универсал москва, такси универсал москва недорого, аренда такси универсал, такси форд универсал, яндекс такси универсал, заказать такси универсал, дешевые такси универсал, форд фокус универсал такси, такси универсал москва дешево, такси универсал цена, заказ такси универсал, заказ такси универсал в москве, такси кузовом универсал, такси универсал фиксированная цена, такси универсал аэропорт, аренда такси форд фокус универсал, заказать такси универсал москве, легковое такси универсал ';
block content
	+header
	+main
	+footer
