extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/tariff-minibus/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси микроавтобус';
	- var pageDescription = 'Такси микроавтобус в москве можно заказать недорого по телефону 74951336226';
	- var pageKeywords = 'такси микроавтобус, заказать микроавтобус,  такси микроавтобус москва, микроавтобус с водителем, заказать такси микроавтобус, перевозки микроавтобус, такси микроавтобус, микроавтобус на заказ, такси микроавтобус недорого, такси микроавтобус москва недорого, заказ такси микроавтобус, такси микроавтобус в аэропорт,  такси микроавтобус цены, заказ такси микроавтобус москве, такси микроавтобус шереметьево, яндекс такси микроавтобус, микроавтобус с водителем москва такси микроавтобус москва, заказать микроавтобус такси для инвалида, заказать такси микроавтобус в москве, такси микроавтобус мерседес, такси микроавтобус в аэропорт шереметьево, аренда такси микроавтобус, такси домодедово микроавтобус, такси микроавтобус свадьба, такси микроавтобус москва по городу, пассажирское такси микроавтобус, такси микроавтобус одинцово, такси микроавтобус дешево, такси микроавтобус москва недорого на 1 час, такси микроавтобус для инвалидов колясочников в москве, микроавтобус такси москва дешево, такси микроавтобус санкт петербург, такси микроавтобус петербург, такси микроавтобус внуково, такси микроавтобус в сочи, такси микроавтобус воткинск, такси микроавтобус в аэропорт домодедово, такси микроавтобус спб, такси микроавтобус коломна, такси микроавтобус москва аэропорт, такси микроавтобус на свадьбу одинцово, такси микроавтобус в аэропорт внуково, заказать микроавтобус с подъемником такси для инвалида, заказать такси микроавтобус в москве недорого, яндекс такси микроавтобус москва недорого, вызвать такси микроавтобус, детское такси микроавтобус';
block content
	+header('common')
	+main
	+footer
