extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/tariffs/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Самое дешевое фиксированное такси телефон 74951336226';
	- var pageDescription = 'Самое дешевое такси с фиксированным тарифом по телефону 7 495 133 62 26. Фиксированная цена такси это удобно';
	- var pageKeywords = 'дешевое такси, дешевое такси москва, самое дешевое такси, такси дешевое фиксированная, фиксированное такси москва дешевое, дешевое такси телефон, дешевое такси тариф, самое дешевое такси в москве, дешевое такси фиксированный тариф, дешевое такси москва тарифы, дешевое такси москва фиксированный тариф, заказ такси дешевое, такси москва дешевое стоимость, дешевое такси расчетом, дешевое такси москва расчет, заказ такси москва дешевое, дешевое такси москва расчет стоимости, такси дешевое цены, такси дешевое фиксированная цена, дешевое такси люберцы, дешевое такси москва телефон, номер такси дешевое, дешевое такси в аэропорт, такси дешевое фиксированная цена москва, дешевое такси химки, дешевое такси вызов, дешевое такси мытищи, дешевое такси долгопрудный, дешевое такси по городу, такси зеленоград дешевое, вызов дешевое такси москве, дешевое такси номер телефона, дешевое такси королев, какое дешевое такси, заказать дешевое такси, самое дешевое такси фиксированное, дешевое такси рассчитать, фиксированное такси, такси фиксируемой ценой, такси фиксированная цена, такси фиксируемый тариф';
block content
	+header('common')
	+main
	+footer
