extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/tariff-biznes/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Бизнес такси | Заказать такси бизнес класса';
	- var pageDescription = 'Такси бизнес класса в москве круглосуточно, быстрая подача. Заказать бизнес такси в Москве по телефону 74951336226';
	- var pageKeywords = 'бизнес такси, такси бизнес класса, бизнес такси москва, такси бизнес класс москва, бизнес такси авто, яндекс такси бизнес, аренда такси бизнес класса, авто бизнес класса такси, такси машины бизнес класса, яндекс такси бизнес класса, аренда авто бизнес класс такси, такси бизнес отзывы, гет такси бизнес, яндекс такси бизнес машины, такси автомобили бизнес класса, бизнес такси аренду москве, такси бизнес сервис, яндекс такси машины бизнес класса, такси тариф бизнес, такси бизнес класса москва аренда, заказ такси бизнес, бизнес компании такси, такси бизнес класса отзывы, гет такси бизнес класс, подключение бизнес такси, скачать такси бизнес, тарифы яндекс такси бизнес, тарифы такси бизнес класса, заказать бизнес такси, заказ такси бизнес класса, бизнес такси мерседес, диспетчерские бизнес такси, бизнес такси в аэропорт, убер такси бизнес, такси бизнес скачать бесплатно, компании такси бизнес класса, такси комфорт бизнес, заказать такси бизнес класса, такси бизнес, служба такси бизнес, автомобили яндекс такси бизнес';
block content
	+header('common')
	+main
	+footer
