extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/airport-region/vnukovo/korolev
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Королев  Внуково 1500 рублей';
	- var pageDescription = 'Такси Королев  Внуково фиксированная цена 1500 рублей';
	- var pageKeywords = 'Такси Королев  Внуково, такси внуково, такси королев, самое дешевое такси королев, самое дешевое такси внуково';
block content
	+header('common')
	+main
	+footer
