extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/airport-region/vnukovo/odincovo
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Одинцово  Внуково 1000 рублей';
	- var pageDescription = 'Такси Одинцово  Внуково фиксированный тариф 1000 рублей';
	- var pageKeywords = 'Такси Одинцово  Внуково, такси аэропорт, самое дешевое такси одинцово, трансфер в аэропорт, трансфер из аэропорта';
block content
	+header('common')
	+main
	+footer
