extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/airport-region/vnukovo/hymki
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Химки  Внуково 1100 рублей';
	- var pageDescription = 'Самое дешевое Такси Химки  Внуково 1100 рублей';
	- var pageKeywords = 'Такси Химки  Внуково, такси внуково, такси аэропорт, такси химки, недорогое такси химки, самое дешевое такси внуково';
block content
	+header('common')
	+main
	+footer
