extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/airport-region/vnukovo/balashiha
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Балашиха  Внуково 1400 рублей';
	- var pageDescription = 'Самое дешевое Такси Балашиха  Внуково 1400 рублей';
	- var pageKeywords = 'Такси Балашиха  Внуково, такси внуково, такси балашиха, такси аэропорт, трансфер внуково';
block content
	+header('common')
	+main
	+footer
