extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/stations/yaroslavskiy/main
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Ярославский вокзал';
	- var pageDescription = 'Такси на Ярославский вокзал 7 495 133 62 26. Низкая стоимость, быстрая подача, профессиональные водители';
	- var pageKeywords = 'такси ярославский вокзал, сколько стоит такси ярославского вокзала, стоимость такси ярославского вокзала, такси ярославского вокзала цена, такси москва ярославский вокзал, такси ярославский вокзал внуково, такси с ярославского вокзала до домодедово, такси от ярославского вокзала до шереметьево, заказать такси с ярославского вокзала';
block content
	+header('common')
	+main
	+footer
