extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content/intercity/ivanovo
include /blocks/footer/footer

block head
	- var pageTitle = 'Такси Москва Рязань';
	- var pageDescription = 'Заказать такси Москва Рязань можно по телефону 7 495 133 62 26';
	- var pageKeywords = 'такси москва Рязань, такси москва Рязань цена, стоимость такси москва Рязань, заказать такси москва Рязань';
block content
	+header('common')
	+ivanovo
	+footer
