.order-form
	padding-top 50px
	// padding-bottom 15px
	// animation: formAnimate 2s ease-in
	// animation-fill-mode: both;
	// animation-iteration-count: 1
	// animation-delay 1.5s
	width 100%
	@media (max-width: 1024px)
		width 50%
	@media (max-width: 768px)
		width 100%
		padding-top 50px
	@media (max-width: 425px)
		padding-top 50px
div.sedi .sedi-sediorderform3-content
	height 640px
	@media (max-width: 1024px)
		height 580px
div#sedi-orderform3-cashless-ways
	display none
div#sedi-orderform3-fields
	z-index 999
	margin 0
	border-radius 10px
	@media (max-width: 768px)
		margin 0 auto
.sedi div.sedi-panel-body
	padding 10px
.sedi button.sedi-btn-primary
	background-color $c_form-btn
	border-color transparent
	border-radius 20px
button#sedi-orderform3-order i#sedi-orderform3-order-icon:before
	display none
button#sedi-orderform3-order
	border 2px solid transparent
	transition background-color .3s ease, color .3s ease, border .3s ease
button#sedi-orderform3-order:hover
	background-color $c_white
	border 2px solid $c_form-btn
	color $c_form-btn
div#sedi-orderform3-msg
	padding 5px
	margin-bottom 5px
@keyframes formAnimate
	0% 
		display none
		opacity 0
	1%
		display block
		opacity 0
	10%
		opacity .1
	20%
		opacity .2
	30%
		opacity .3
	40%
		opacity .4
	50%
		opacity .5
	60%
		opacity .6
	70%
		opacity .7
	80%
		opacity .8
	90%
		opacity .9
	100%
		opacity 1
