include /blocks/common-services/common-services
include /blocks/transfer-from-airport/transfer-from-airport
include /blocks/tariff-airport-table/tariff-airport-table
include /blocks/tariff-airport-transfer/tariff-airport-transfer
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.airport-taxi
				+e.H2.title.heading.heading._h2.taxi-icon Такси в аэропорт Домодедово
				+e.P.text Самолет сегодня является одним из самых удобных и быстрых видов транспорта, поэтому большинство путешественников отдают предпочтение именно авиаперелетам. Так уж исторически сложилось, что аэропорты Москвы, в частности аэровокзал Домодедово, расположены достаточно далеко от города, что является не очень удобным для жителей.
				+tariff-airport-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
																priceToAirport:['1100','1100','1100','1100','1000','1100','1000','1100','1100'],
																priceFromAirport:['1300','1300','1300','1300','1200','1300','1300','1300','1300'],
																caption:'Тарифы такси в аэропорт Домодедово',
																airportName:'Домодедово'
																})
				+e.P.text Городская администрация ежегодно улучшает качество трансфера в аэропорты, однако, самым популярным способом перемещения остается такси. Преимущества такого транспорта неоспоримы: вам не придется с большим количеством багажа добираться на автобусах на вокзал, чтобы потом воспользоваться аэроэкспрессом или автобусом. Кроме того, заказав 
					strong такси до аэропорта Домодедово, 
					|вы можете быть уверенны в том, что прибудете на регистрацию в четко установленное время и без эксцессов.
				+transfer-from-airport({tariff:['Эконом','Комфорт','Универсал','Бизнес','Минивэн (6 мест)','Минивэн (8 мест)','Микроавтобус'],
																price2:['1600','1700','1800','2500','2400','2600','5200'],
																price1:['1400','1500','1600','2100','2000','2200','4800'],
																priceStation:['1300','1400','1500','2100','2000','2100','4800'],
																caption:'Трансфер из Внуково',
																airport:'Внуково'
																})
				+e.P.text.no-indent
					strong Такси в аэропорт Домодедово 
					|– комфорт без переплат.
				+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
																priceDomodedovo:['---','1600','1400'],
																priceSheremetevo:['1600','500','1500'],
																priceVnukovo:['1400','1500','---'],
																caption:'Тарифы такси Эконом на трансфер аэропорт -> аэропорт'
																})
				+e.P.text Жизнь в мегаполисе учит людей быстро реагировать на различные ситуации и искать наиболее выгодные варианты передвижения по городу и области. Для людей, которые постоянно летают в командировки очень важно начинать свой путь без нервных потрясений, лишних денежных затрат и неприятных ситуаций. Именно поэтому наша компания предлагает наиболее выгодные тарифные планы на услугу 
					strong такси до Домодедово. 
					|Цена каждой поездки складывается из расчета класса автомобиля, дальности маршрута и количества багажа. Сумма, озвученная оператором, не изменяется по окончанию поездки и не несет никаких скрытых комиссий или платежей.
				+e.P.text Мы тщательно подбираем каждого сотрудника, чтобы предложить вам качественный сервис. Наши водители - это высокопрофессиональный люди, которые имеют большой стаж вождения и высокий уровень компетенции. Наш офис оснащен современным спутниковым оборудованием, что позволяет мониторить транспортную ситуацию на дорогах Москвы и максимально выгодно для пассажира рассчитать маршрут, стоимость и время поездки.
				+e.P.text.no-indent
					strong Дешевое такси в аэропорт Домодедово 
					|от нашей компании - это:
					ul
						li 100% качество услуг;
						li Комфортная поездка и безопасность пассажиров;
						li Быстрое реагирование на заказ;
						li Встреча ваших гостей, партнеров или сотрудников в аэропорту, а также дальнейшая их транспортировка на
							strong такси из аэропорта Домодедово;
						li Услуги водителя для вашей машины;
						li Возможность предварительно заказать 
							strong такси из Домодедово в Москву 
							|из любой точки мира с помощью онлайн-сервисов нашей компании.
				+e.P.text Хватит тратить драгоценное время и постоянно опаздывать на регистрацию! Теперь 
					strong дешевое такси в аэропорт Домодедово 
					|от нашей компании доступно каждому жителю мегаполиса!
			+common-services
			
