.airport-taxi
	&__image
		&_domodedovo-small,
		&_vnukovo-small,
		&_sheremetevo-small
			float right
			margin-left 10px
		&_domodedovo-terminal,
		&_vnukovo-night,
		&_sheremetevo-night
			display block
			margin 0 auto
			margin-bottom 10px
