include /blocks/common-services/common-services
include /blocks/tariff-info/tariff-info
include /blocks/tariff-district-table/tariff-district-table
include /blocks/tariff-airport-transfer/tariff-airport-transfer
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+tariff-info({title:'Такси Бизнес',
										price:800,
										time:8,
										more:32
										})
			+tariff-district-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
															priceDomodedovo:['2000','2000','1900','1900','1800','1900','1900','2000','1900'],
															priceSheremetevo:['1800','1800','1900','2000','2000','2000','1900','1800','1900'],
															priceVnukovo:['1900','2000','2000','1900','1900','1800','1800','1900','1900'],
															caption:'Тарифы такси Бизнес в аэропорт из Москвы'
															})
			+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
															priceDomodedovo:['---','2500','2100'],
															priceSheremetevo:['2500','1500','2300'],
															priceVnukovo:['2100','2300','---'],
															caption:'Тариф такси Бизнес на трансфер аэропорт-аэропорт'
															})
			+tariff-airport-station({distr:'Ж/д вокзал',
															priceDomodedovo:2100,
															priceSheremetevo:2100,
															priceVnukovo:2100,
															caption:'Тариф такси Бизнес на трансфер аэропорт-вокзал'
															})
			+e.IMG.image._ecomon-driver(src='assets/images/tariffs/biznes/taxi-biznes_400x266.jpg' width='400' height='266' title='такси бизнес-класс' alt='такси бизнес-класс')
			+e.IMG.image._ecomon-driver(src='assets/images/tariffs/biznes/taxi-biznes-car_400x246.jpg' width='400' height='246' title='авомобиль такси бизнес-класс' alt='авомобиль такси бизнес-класс')
			+e.IMG.image._ecomon-driver(src='assets/images/tariffs/biznes/taxi-bisnes-client_400x295.jpg' width='400' height='295' title='клиент в такси бизнес-класс' alt='клиент в такси бизнес-класс')
			+b.about-tariff
				+e.P.text Для человека, занимающегося каким-либо бизнесом очень важно поддерживать свой статус, поскольку это не только повышает его уверенность в себе, но и в значительной степени влияет на лицо компании в целом. Чтобы не подрывать имидж компании и не потерять доверие партнеров, преуспевающий бизнесмен не может позволить себе передвигаться на неприглядных дешевых авто. Именно поэтому наша компания обеспечивает услуги 
					strong такси премиум класса 
					| для людей, которые ценят надежность и комфорт.
				+e.P.text.no-indent
					strong Такси бизнес-класса Москва 
					| – услуга от компании-лидера лидеру.
				+e.P.text Наша служба работает в условиях жесткой конкуренции, однако за долгие годы слаженной работы и благодаря сплоченности коллектива, нам удалось стать одной из ведущих служб такси в городе Москва. Мы собрали коллектив настоящих профессионалов своего дела, а постоянная работа над улучшением качества услуг способствует увеличению количества постоянных клиентов. Услугами 
					strong бизнес такси Москва 
					| сегодня пользуются многие компании, а также малые формы предприятий. Это не только удобно, но и экономически выгодно для компании – ведь покупка представительского авто не всегда оправдана и необходима. Нашими услугами пользуются не только московские бизнесмены, но и известные звезды и политики. Кроме того, мы осуществляем поездки машинами 
					strong бизнес-такси в аэропорт 
					|и обратно, а также организовываем встречи ваших партнеров в терминалах аэровокзалов.
				+e.P.text Осуществить 
					strong заказ бизнес-такси Москвы 
					|очень легко, достаточно зайти на наш сайт либо связаться с диспетчером по телефону. Для вашего удобства на сайте представлен автопарк авто vip-сегмента, поэтому вы можете подобрать именно ту машину, которая соответствует вашим предпочтениям. Все автомобили проходят тщательный контроль, а водители нашей службы компетентны и молчаливы.
				+e.P.text.no-indent Почему мы?
				+e.P.text Если вы цените свое время и комфорт, выбирайте 
					strong такси бизнес-класса Москва. Тарифы 
					|нашей компании приемлемы и зависят от модели и комплектации вип-авто, а также от дальности поездки. Чтобы заказать 
					strong такси бизнес-класса 
					|достаточно связаться с нашим менеджером за несколько часов до поездки. Для некоторых моделей машин предусмотрена предоплата. Для вашего удобства у нас возможен расчет как наличными, так и банковской картой. Политика нашей компании направлена на полную удовлетворенность потребностей вип-клиента, поэтому мы гарантируем:
					ul
						li Конфиденциальность;
						li Компетентность сотрудников;
						li Высокий класс обслуживания;
						li Безопасность и надежность;
						li Поездки 
							strong бизнес такси на вокзал 
							|или аэропорт, а также встреча и транспортировка ваших гостей и бизнес-партнеров.
						li Прозрачные тарифы на услуги;
						li Дополнительные услуги по просьбе наших заказчиков.
			+common-services
