.logo
	margin-right 30px
	@media (max-width: 1024px)
		margin-right 20px
	@media (max-width: 768px)
		order 1
	@media (min-width: 320px) and (max-width: 480px)
		position relative
		margin-right 0
		
	&__link
		display block
		