.logo
	margin-right 30px
	@media (min-width: 320px) and (max-width: 425px)
		margin-right 0
		padding-top 10px
		order 1
	@media (max-width: 1080px)
		margin-right 0
	@media (min-width: 425px) and (max-width: 768px)
		order 1
	// @media (min-width: 320px) and (max-width: 480px)
	// 	position relative
	// 	margin-right 0
	@media (min-width: 768px) and (max-width: 1024px) {
			margin-right 16px
	}
	&__link
		display block
		