include /blocks/common-services/common-services
include /blocks/tariff-info/tariff-info
include /blocks/tariff-district-table/tariff-district-table
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+tariff-info({title:'тариф Минивэн (8 мест)',
										price:400,
										time:20,
										more:26
										})
			+tariff-district-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
															priceDomodedovo:['1100','1100','1100','1100','1000','1100','1100','1100','1100'],
															priceSheremetevo:['1000','1000','1100','1200','1200','1200','1100','1000','1100'],
															priceVnukovo:['1100','1100','1100','1100','1100','1000','1000','1100','1100'],
															tariffName:'Минивэн (8 мест)'
															})
			+common-services
