mixin common-services()
	+b.UL.common-services
		+e.LI.item Встреча в аэропорту 
			+e.price + 200
				span &#8381
			+icon('aeroplane', 42,41)
		+e.LI.item Водитель со знанием английского языка
			+e.price + 200
				span &#8381
			+icon('speaking', 42,41)
		+e.LI.item Курящий салон
			+e.price + 200
				span &#8381
			+icon('cigarette', 42,41)
		+e.LI.item Встреча в аэропорту с табличкой
			+e.price + 200
				span &#8381
			+icon('id-card', 42,41)
		+e.LI.item Подача такси с детским креслом
			+e.price + 200
				span &#8381
			+icon('baby-girl', 42,41)
		+e.LI.item 1 час ожидания после фактической посадки самолета
			+e.price - бесплатно
			+icon('time', 42,41)
		+e.LI.item Отслеживаем все рейсы
			+e.price - бесплатно
			+icon('speaking', 42,41)
		+e.LI.item Перевозка животного
			+e.price + 200
				span &#8381
			+icon('snowshoe-cat', 42,41)
