.common-services
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content: space-between;
	margin-bottom 40px
	@media (max-width: 1024px)
		margin-bottom 0
	&__item
		position relative
		max-width 150px
		padding-top 60px
		color $c_black
		font-family $base-font
		font-size 19px
		text-align center
		list-style none!important
			
	&__icon
		position absolute
		top 0
		left calc(50% - 20px)
