.common-services
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content: space-between;
	margin-bottom 40px
	@media (max-width: 1024px)
		margin-bottom 0
	@media (max-width: 414px)
		display none
	li.common-services__item
		position relative
		max-width 150px
		padding-top 60px
		color $c_black
		font-family $base-font
		font-size 19px
		text-align center
		list-style none!important
		@media (max-width: 1024px)
			margin-left 0
		@media (max-width: 768px)
			max-width 120px
			margin-left 0
			padding-right 7px
			padding-left 7px
			font-size 14px
	&__icon
		position absolute
		top 0
		left calc(50% - 20px)
