.direction
	margin-bottom 80px
	&__title
		margin-bottom 90px
		text-align center
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content: center
		flex-wrap wrap
		padding-left 120px
	&__item
		margin-right 160px
		margin-bottom 70px
	h3
		position relative
		padding-left 50px
	&__link
		display inline-block
		vertical-align top
		width 240px
		height 50px
		margin-top 20px
		color $c_black
		font-family PTSans
		font-size 19px
		line-height 50px
		background-color $c_white
		text-align center
	.icon
		position absolute
		left 0
		top 0
