mixin direction()
	+b.SECTION.direction&attributes(attributes)
		+e.H2.title.heading.heading_h2.taxi-icon Куда вас отвезти?
		+e.DIV.inner
			+e.SECTION.item
				h3.heading.heading_h3 В аэропорт
					+icon('aeroplane', 42,41)
				+e.A.link.link(href='#') Поехали!
			+e.SECTION.item
				h3.heading.heading_h3 На вокзал
					+icon('aeroplane', 42,41)
				+e.A.link.link(href='#') Поехали!
			+e.SECTION.item
				h3.heading.heading_h3 В округ
					+icon('aeroplane', 42,41)
				+e.A.link.link(href='#') Поехали!
			+e.SECTION.item
				h3.heading.heading_h3 В пригород
					+icon('aeroplane', 42,41)
				+e.A.link.link(href='#') Поехали!
