mixin direction()
	+b.SECTION.direction&attributes(attributes)
		+e.H2.title.heading.heading_h2 Куда вас отвезти?
		+e.DIV.inner
			+e.SECTION.item
				h3.heading.heading_h3 В аэропорт
				+e.A.link.link(href='#') Поехали!
			+e.SECTION.item
				h3.heading.heading_h3 На вокзал
				+e.A.link.link(href='#') Поехали!
			+e.SECTION.item
				h3.heading.heading_h3 В округ
				+e.A.link.link(href='#') Поехали!
			+e.SECTION.item
				h3.heading.heading_h3 В пригород
				+e.A.link.link(href='#') Поехали!
