include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Балашиха - Внуково 1400 рублей
				p Вы решили заказать 
					span.bold такси из Балашихи в аэропорт Внуково
					|? И это правильное решение! Потому что перед долгим перелетом и с багажом на руках лучше создать для себя комфортные условия и выкинуть из головы заботы. Автомобильный трансфер — и есть такие условия. Здесь все рассчитывается специально для вас, нет места непредусмотренности и неудобствам. Только комфорт и желание воспользоваться услугой вновь!
				+e.IMG.image.image.img-center(src='assets/images/airport-region/vnukovo/balashiha-vnukovo.jpg' width='400' height='300' title='такси Балашиха-Внуково' alt='такси Балашиха-Внуково')
				p Дорога из Балашихи до аэропорта не очень удобная — придется сделать несколько пересадок, что особенно неприятно с учетом багажа. Хотите ли вы нервничать в толпе и протискиваться с чемоданами? Намного спокойнее и надежнее доверить начало путешествия ответственной компании, способной организовать комфортабельную поездку в любое время суток. В результате 
					span.bold такси Внуково Балашиха недорого 
					|обойдется, и вы сбережете массу времени и сил.
				p.no-indent Вот некоторые наши плюсы:
				ul
					li 
						span.bold Проверены временем 
						|— пул постоянных клиентов подтверждает качество работы. Комплекс дополнительных услуг (в том числе перевозка детей, животных) и большой автопарк помогают полностью соответствовать ожиданиям клиентов;
					li
						span.bold Оперативность на высоте 
						|— спустя 15-20 минут после заказа машины автомобиль подъедет по указанному адресу. Не важно, во сколько вы позвоните — на линии всегда готовы к выезду несколько извозчиков: в любое время дня и ночи они готовы выполнить поступивший заказ;
					li
						span.bold Бюджетная стоимость — цена такси Внуково 
						|Балашиха радует даже самых экономных. Вы сможете подобрать наиболее подходящее ценовое решение — проконсультируйтесь с оператором, и он назовет предварительную стоимость поездки. Обратите внимание на возможность 
						span фиксированной стоимости такси Внуково Балашиха 
						|— этот тариф исключает вероятность изменения итоговой суммы.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/vnukovo/balashiha-vnukovo-2.jpg' width='400' height='300' title='такси Внуково-Балашиха' alt='такси Внуково-Балашиха')
				p.no-indent Индивидуальная комплектация
				p Богатый автопарк, большой комплекс дополнительных предложений, внимательные водители и двойная безопасность — это максимальный уровень надежности, комфорта и индивидуального подхода к каждому пассажиру.
				p Несмотря на то, что 
					span.bold такси Внуково Балашиха дешево 
					|обходится, оно доставляет массу удовольствия людям, ценящим хорошо организованную поездку. И если вы торопитесь, боитесь опоздать на самолет и не представляете, как можно успеть на рейс, отложите в сторону заботы о дороге до аэропорта — позвоните нам, и дальше всё будет сделано нашими операторами.
				p
					span.bold Стоимость такси Внуково Балашиха 
					|определяется заранее — вам достаточно связаться с диспетчером, обсудить детали поездки, и ориентировочная цена уже будет названа. Принимается оплата наличными и картой. Однако если вы не хотите полагаться на случай даже в минимальной степени, выберите 
					span.bold фиксированный тариф такси Внуково Балашиха.
				p Для того чтобы сделать заказ, свяжитесь с диспетчером по контактному телефонному номеру, указанному на сайте или заполните форму обратной связи. Мы ответим очень быстро!
