include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Химки - Внуково 1000 рублей
				p Закажите 
					span такси Внуково Химки дешево
					|, и вы вовремя приедете на рейс, встретите друзей и родственников, доедете до аэропорта в комфортных условиях и останетесь полны сил и энергии после трансфера. Наш сервис бюджетный и удобный — начните перелет с хорошего настроения!
				+e.IMG.image.image.img-center(src='assets/images/airport-region/sheremetevo/odincovo_400x266.jpg' width='400' height='266' title='такси Одинцово-Шереметьево' alt='такси Одинцово-Шереметьево')
				p Вам не придется приспосабливаться к установленному расписанию общественного транспорта и пытаться втиснуться в переполненный вагон метро. Выбирайте личный транспорт, и тогда временем поездки будете управлять вы. Никаких пересадок — только прямой путь от двери вашего дома до аэропорта.
				h2 Почему нам доверяют?
				p Опыт нашего сервиса подтверждает, что после поездки на 
					span.bold такси из Химок в аэропорт Внуково 
					|клиенты впоследствии обращаются к нам вновь и рекомендуют компанию знакомым. Репутации способствует следование главным принципам работы:
				ul
					li
						span.bold Внимание к пассажиру. 
						|Забота о его безопасности и индивидуальных особенностях поездки (большая компания, объемный багаж, поездка с животными и проч.) дает клиенту понять, что все его пожелания в вопросах организации трансфера легко выполнимы;
					li
						span.bold Бюджетность решения — цена такси Внуково Химки 
						|многих удивляет. После собственной высокой оценки оказанных услуг человек рад видеть чек с небольшой суммой. Комфорт стоит дороже наших тарифов — убедитесь в этом и вы!;
					li
						span Быстрое реагирование 
						|— через 15 минут после обращения мы уже приедем по указанному адресу. Ценим ваше время, поэтому работаем по налаженной схеме: в готовности всегда находятся автомобили в разных районах Москвы, готовые выехать в любое время суток.
				h2 Узнайте цену заранее
				p Узнать цену вы можете у диспетчера — сообщите ему маршрут поездки, выберите желаемый автомобиль (наш автопарк дает большой простор для выбора), укажите необходимость дополнительных услуг и узнайте предварительную стоимость. Вы убедитесь, что 
					span.bold такси Внуково Химки недорого 
					|стоит, но мы напоминаем, что есть два вида тарификации.
				p Если предварительно обозначенная цена может измениться, например, в связи с пробками или экстренной необходимостью изменить маршрут, то 
					span.bold фиксированный тариф такси Внуково Химки 
					|не изменится ни при каких обстоятельствах. Многие клиенты предпочитают точно знать цену поездки, чтобы заранее спланировать расходы на поездку в аэропорт, а не дожидаться приезда в конечный пункт, и выбирают 
					span.bold фиксированную стоимость такси Внуково Химки.
				p Чтобы уже спустя 15 минут начать путешествие, оставьте свои данные в обратной форме на сайте. Мы перезвоним очень быстро. Оставленные о 
					span.bold такси Внуково Химки отзывы 
					|свидетельствуют о постоянном поддержании высокого качества оказания услуг перевозки пассажиров.
