include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Королев - Внуково 1000 рублей
				p Поездка, заранее спланированная с учетом ваших пожеланий, почти неощутимая для вашего кошелька и организованная от первого и до последнего шага, – такси Внуково Королев создает приятные условия для трансфера в аэропорт.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/vnukovo/odincovo_400x266.jpg' width='400' height='266' title='такси Одинцово-Шереметьево' alt='такси Одинцово-Шереметьево')
				p Собираясь в дорогу, сконцентрируйтесь на самом главном — на цели поездки, процессе сборов, но точно не на решении вопроса как доехать в аэропорт. Не зависьте от маршрута и расписания общественного транспорта, не рискуйте опоздать на рейсовый автобус и нарваться на нервных пассажиров метро. 
					span.bold Такси Внуково Королев недорого 
					|и с заботой довезет пассажира почти до самого терминала — вы получите приятное впечатление от нашей работы!
				h3 Поездка начинается с такси
				p.no-indent Прежде чем выбрать такси Внуков Королев, обратите внимание на наши преимущества:
				ul
					li
						span.bold Безопасность и надежность 
						|— двойной контроль, осуществляемый нашей компанией, гарантирует высокий уровень безопасности клиента во время поездки. Исключены неисправности в работе и автомобиля, и водителя — оба «звена» проходят жесткий контроль перед каждой сменой;
					li
						span.bold Точность тайминга 
						|— вы называете точное время желаемого отъезда, и мы приезжаем к вам чуть ранее назначенных минут. Всегда вовремя и без спешки — опыт оказания услуг перевозки пассажиров доказывает, что мы умеем управлять отведенным нам временем!;
					li
						span.bold Вежливость водителей 
						|— извозчики подождут вас, а затем помогут донести чемоданы до авто и аккуратно уложить их в багажник. В ходе поездки вы обнаружите, что наши таксисты — приятные собеседники, и время в машине скоротаете незаметно;
					li
						span.bold Выгодная стоимость 
						|— цена такси Внуково Королев определяется заранее. Позвоните оператору и расскажите о своем заказе, назовите адрес отправления и прибытия, уточните желаемую марку машины. На основе всех составляющих диспетчер сможет назвать предварительную стоимость;
					li
						span.bold Оперативность работы 
						|— вы внезапно поняли, что уже пора ехать? Спокойно, наш автомобиль прибудет уже спустя 15-20 минут после совершения заказа! Максимально быстро и со знанием всех дорог, ведущих к разным адресам в Королеве, мы приедем и вовремя отвезем вас в аэропорт.
				p Если вы планируете поездку с ребенком или животными, сообщите об этом диспетчеру заранее. Тогда вы сможете заказать 
					span.bold такси из Королева в аэропорт Внуково дешево 
					|и с обеспечением всего необходимого именно для вас функционала.
				p С помощью спутниковых систем мы просчитываем самый короткий и не загруженный автомобильными пробками путь, исключая возможность переплаты за лишние проезженные километры. Заметьте, нами предложен 
					span.bold фиксированный тариф такси Внуково Королев 
					|— выберите фиксированный способ расчета стоимости, и цена не будет зависеть от переменных. Сумма будет сразу установлена, и ничто не сможет ее изменить. У нас нет никаких скрытых платежей и переплат.
				p Для того чтобы заказать 
					span.bold такси Внуково Королев дешево
					|, позвоните оператору или оставьте заявку на сайте. Совсем скоро мы ответим вам!
