include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Мытищи - Внуково 1500 рублей
				p Каким вы себе представляете путь до аэропорта? В аэроэкспрессе? С пересадками, ожиданиями рейсовых маршруток, со страхом забыть в автобусе часть багажа? Неспланированность и необходимость подчиняться установленным графикам общественного транспорта угнетает. Совершенно другое впечатление обеспечено при поездке на заказанном автомобиле — несмотря на то, что 
					span.bold такси Внуково Мытищи недорого 
					|стоит, создаются все условия для комфортного и индивидуально настроенного трансфера.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/vnukovo/mytischi-vnukovo.jpg' width='400' height='300' title='такси Мытищи-Внуково' alt='такси Мытищи-Внуково')
				p Независимо от объема багажа, количества человек в вашей компании и степени спешки на рейс, вы своевременно и в комфортабельных условиях доедете до аэропорта — 
					span такси из Мытищ в аэропорт Внуково 
					|в круглосуточном режиме подвозит клиентов почти к терминалу. Все заранее продуманно, поездка оставит наилучшее впечатление. Вы приятно удивитесь пунктуальности водителей и ценовой политике нашего сервиса.
				p.no-indent Почему нас выбирают?
				p Клиентоориентированность подкупает пассажиров, а постоянные клиенты еще и пользуются разветвленной системой скидок, даже несмотря на то, что услуга 
					span.bold такси Внуково Мытищи дешево 
					|предоставляется.
				p.no-indent К нашим главным качествам относится:
				ul
					li Безопасность — стоит на первом месте. Только после тщательного технического осмотра автомобилей и медицинского осмотра водителей начинается работа очередной смены;
					li Компетентность извозчиков — благодаря большому опыту вождения, таксисты отлично знают все дороги Москвы и Московской области. Не только отличные водители, но и приятные собеседники, вежливые и пунктуальные люди, готовые помочь донести и уложить чемоданы, выполнить другие пожелания клиента;
					li Быстрая подача машины — для начала поездки понадобится только 15-20 минут ожидания. Ваше время важно для нас, поэтому вам не придется долго ждать, независимо от времени суток и дня недели обращения;
					li Разнообразие тарифов — 
						span.bold цена такси Внуково Мытищи 
						|называется оператором заранее в результате уточнения деталей поездки. Однако она может быть не совсем точной. Если вы желаете определить конечную цену услуги как можно быстрее, используйте 
						span.bold фиксированный тариф такси Внуково Мытищи.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/vnukovo/mytischi-vnukovo-2.jpg' width='400' height='300' title='такси Внуково-Мытищи' alt='такси Внуково-Мытищи')
				p Выбирая 
					span.bold фиксированную стоимость такси Внуково Мытищи
					|, вы обезопасите себя от непредвиденного повышения стоимости поездки из-за возникшей пробки, форс-мажорной ситуации. Несмотря на использование спутниковых систем для предотвращения попадания в транспортный коллапс, процент возникновения такой ситуации все же остается.
				p Если вы укажете диспетчеру на наличие ребенка или животных в салоне, будет предоставлено детское автомобильное кресло, активирована дополнительная услуга перевозок с животными.
				p 
					span.bold Стоимость такси Внуково Мытищи 
					|демократична, но это явно не главный повод выбрать нас. Заказывая трансфер в нашей компании, вы передаете организацию поездки в надежные руки. Мы узнаем все ваши пожелания относительно заказа и тщательно проследим за их выполнением!
