mixin tariffs(headerText)
	+b.SECTION.tariffs&attributes(attributes)
		+e.H2.title.heading._h2.taxi-icon #{headerText}
		+e.inner
			+e.ARTICLE.item
				h3(class='heading heading_h3') Эконом
				.price от 350 &#8381;
				span за поездку
				+e.A.link.link(href='tariff-econom.html') Подробнее
			+e.ARTICLE.item
				h3(class='heading heading_h3') Комфорт
				.price от 450 &#8381;
				span за поездку
				+e.A.link.link(href='tariff-comfort.html') Подробнее
			+e.ARTICLE.item
				h3(class='heading heading_h3') Универсал
				.price от 500 &#8381;
				span за поездку
				+e.A.link.link(href='tariff-universal.html') Подробнее
			+e.ARTICLE.item
				h3(class='heading heading_h3') Бизнес
				.price от 800 &#8381;
				span за поездку
				+e.A.link.link(href='tariff-biznes.html') Подробнее
			+e.ARTICLE.item
				h3(class='heading heading_h3') Минивэн
				.price от 800 &#8381;
				span за поездку
				+e.A.link.link(href='tariff-miniven-6.html') Подробнее
			+e.ARTICLE.item
				h3(class='heading heading_h3') Микроавтобус
				.price от 4000 &#8381;
				span за поездку
				+e.A.link.link(href='tariff-minibus.html') Подробнее
