include /blocks/tariffs/tariffs
include /blocks/common-services/common-services
include /blocks/tariff-district-table/tariff-district-table
include /blocks/tariff-airport-transfer/tariff-airport-transfer
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+tariffs('Тарифы')
			+tariff-district-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
															priceDomodedovo:['1100','1100','1100','1100','1000','1100','1100','1100','1100'],
															priceSheremetevo:['1000','1000','1100','1200','1200','1200','1100','1000','1100'],
															priceVnukovo:['1100','1100','1100','1100','1100','1000','1000','1100','1100'],
															caption:'Тарифы такси в аэропорт из Москвы'
															})
			+e.IMG.image._taxi.img-center(src='assets/images/tariffs/taxi.jpg' width='452' height='278' title='машина такси' alt='машина такси')
			+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
															priceDomodedovo:['---','1600','1400'],
															priceSheremetevo:['1600','500','1500'],
															priceVnukovo:['1400','1500','---'],
															caption:'Тарифы такси на трансфер аэропорт -> аэропорт'
															})
			+b.SECTION.about-tariff
				+e.H3.title.heading._h3 Такси с фиксированным тарифом
				+e.P.text Услуга перевозчика была популярна еще задолго до появления автомобилей. Еще несколько столетий назад самым популярным человеком был ямщик, который доставлял помещиков на светские рауты. Времена изменились: на смену бравых лошадей и извозчиков пришла служба такси. Несмотря на то, что сегодня практически каждая семья владеет транспортным средством, услуга такси остается актуальной и востребованной. Однако, независимо от материальной обеспеченности, каждый городской житель старается найти 
					strong самое дешевое такси
					|, которое будет комфортным и оперативным.
				+e.IMG.image._taxi.img-center(src='assets/images/tariffs/1.jpg' width='452' height='278' title='машина такси' alt='машина такси')
				+e.P.text.no-indent
					strong Дешевое такси 
					|– быстро или надежно? Как найти «золотую середину»?
				+e.P.text В условиях бурлящего мегаполиса пользоваться собственным автомобилем не всегда удобно. Каждый из нас сталкивался с ситуацией, когда необходимо прибыть на место вовремя, а пробка или аварийная ситуация на дороге просто не оставляет никаких шансов. В такой ситуации воспользоваться услугой такси будет самым разумным решением. Наша компания предлагает вам 
					strong самое дешевое такси в Москве
					|. Мы являемся надежным перевозчиком, который в первую очередь ценит время и безопасность своих клиентов. Наши преимущества перед другими службами такси неоспоримы. Мы предлагаем наилучшие условия поездки по адекватным ценам. Долгие годы работы научили нас тщательно следить за сервисом и учитывать все пожелания пассажиров. 
				+e.P.text.no-indent
					strong Недорогое такси 
					|от нашей компании – это:
				+e.UL.content-list
					li Опытные водители;
					li Оперативная и своевременная подача авто;
					li Дополнительные аксессуары безопасности для перевозки самых маленьких пассажиров;
					li Большой таксопарк с бюджетными, а также с авто VIP-класса;
					li Конкурентные цены и прозрачные тарифы;
					li Большой спектр дополнительных услуг.
				+e.IMG.image._taxi.img-center(src='assets/images/tariffs/2.jpg' width='452' height='278' title='машина такси' alt='машина такси')
				+e.P.text Если вам необходимо срочно добраться в ту или иную точку города, вы можете 
					strong заказать такси недорого Москва 
					|на нашем сайте, либо позвонить по одному из коротких номеров. Наши диспетчеры подберут для вас наиболее приемлемый тариф и найдут машину в течение 5 минут.
				+e.P.text Мы понимаем, что в большом городе решения необходимо принимать быстро, поэтому наши сотрудники постоянно мониторят ситуацию на московских дорогах, чтобы построить наиболее короткий и быстрый маршрут. Наши водители - это профессионалы с многолетним стажем, которые прекрасно ориентируются в городе и своевременно приезжают на заказ. 
				+e.P.text К сожалению, не каждая фирма-перевозчик, которая предлагает услугу 
					strong дешевое такси Москва 
					|уделяет должное внимание безопасности поездки. Мы работаем для вас, поэтому понимаем, насколько важно добраться до пункта назначения комфортно и без форс-мажоров. Именно поэтому мы тщательно следим за состоянием наших автомобилей, своевременно проводим ТО и сервисное обслуживание. 
				+e.P.text Позвоните нам и закажите машину прямо сейчас. Наш опыт и многочисленная база постоянных клиентов доказывает, что 
					strong дешевое такси в Москве 
					|– это реальность!
				+common-services
