mixin services()
	+b.SECTION.services&attributes(attributes)
		+e.H2.title.heading.heading._h2.taxi-icon Дополнительные услуги
		+e.UL.list
			+e.LI.item
				+icon('bicycle', 42, 43)
				+e.A.link.link(href='#') Перевозка велосипеда
			+e.LI.item
				+icon('fashion', 42, 43)
				+e.A.link.link(href='#') Женское такси
			+e.LI.item
				+icon('museum', 42, 43)
				+e.A.link.link(href='#') Экскурсия на такси
			+e.LI.item
				+icon('oil', 42, 43)
				+e.A.link.link(href='#') Если закончился бензин
			+e.LI.item
				+icon('transport-1', 42, 43)
				+e.A.link.link(href='#') Трансфер
			+e.LI.item
				+icon('snowshoe-cat', 42, 43)
				+e.A.link.link(href='#') Перевозка животных
			+e.LI.item
				+icon('24-hours', 42, 43)
				+e.A.link.link(href='#') Аренда такси на сутки
