mixin services()
	+b.SECTION.services&attributes(attributes)
		+e.H2.title.heading.heading._h2 Дополнительные услуги
		+e.UL.list
			+e.LI.item
				+e.A.link.link(href='#') Перевозка велосипеда
			+e.LI.item
				+e.A.link.link(href='#') Женское такси
			+e.LI.item
				+e.A.link.link(href='#') Экскурсия на такси
			+e.LI.item
				+e.A.link.link(href='#') Если закончился бензин
			+e.LI.item
				+e.A.link.link(href='#') Трансфер
			+e.LI.item
				+e.A.link.link(href='#') Перевозка животных
			+e.LI.item
				+e.A.link.link(href='#') Аренда такси на сутки
