.services
	margin-bottom 20px
	@media (max-width: 414px)
		display none
	&__title
		margin-bottom 60px
		text-align center
		@media (max-width: 768px)
			margin-bottom 40px
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		list-style none!important
	&__item
		position relative
		width 155px
		padding-top 75px
		text-align center
	&__link
		color $c_black
		font-family $base-font
		font-size 19px
	.icon
		position absolute
		top 10px
		left calc(50% - 21px)
