.about-stations
	&__title
		margin-bottom 50px
		text-align center
	p
		color $c_black
		font-family $base-font
		font-size 20px
.stations-transfers
	margin-bottom 60px
	&__title
		margin-bottom 10px
		font-size 20px
	&__text
		margin-bottom 15px
		color $c_black
		font-family $base-font
		font-size 20px
	&__order-taxi
		display inline-block
		vertical-align top
		width 300px
		min-height 45px
		margin-bottom 25px
		color $c_black
		font-family $base-font
		font-size 20px
		line-height 45px
		background-color $c_white
		text-align center
		border-radius 5px
