include /blocks/common-services/common-services
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.about-stations
				+e.H2.title.heading._h2.taxi-icon Такси на вокзал
				+e.P.text.no-indent
					strong Такси на вокзал 
					|– роскошь или необходимость?
				+e.P.text Путешествия – это не только приятно, но и достаточно утомительно. С чего начинается любая дорога? Конечно, с железнодорожного вокзала! Наше воспитание и привычки не позволяют ездить налегке, поэтому огромное количество чемоданов и гостинцев для любимых людей – это неотъемлемая часть русского путешественника. В такой ситуации начало поездки становится не комфортным, а настроение значительно ухудшается. Именно поэтому правильным решением для начала дальнего путешествия является 
					strong заказ такси в Москве на вокзал. 
				+tariff-airport-station({distr:'Ж/д вокзал',
																priceDomodedovo:1300,
																priceSheremetevo:1300,
																priceVnukovo:1300,
																caption:'Тарифы такси Эконом на трансфер аэропорт -> вокзал'
																})
				+e.IMG.image._station(src='assets/images/stations/belorusskiy-station.jpg' width='400' height='220' title='Белорусский вокзал' alt='Белорусский вокзал')
				+e.IMG.image._station(src='assets/images/stations/kievskiy-station_400x300.jpg' width='400' height='300' title='Киевский вокзал' alt='Киевский вокзал')
				+e.IMG.image._station(src='assets/images/stations/yaraslavskiy-station.jpg' width='400' height='220' title='Ярославский вокзал' alt='Ярославский вокзал')
				+e.IMG.image._station(src='assets/images/stations/paveleckiy-station_400x167.jpg' width='400' height='167' title='Павелецкий вокзал' alt='Павелецкий вокзал')
				+e.P.text Наша компания предоставляет качественные услуги по перевозке пассажиров на вокзал и в аэропорты. Мы собрали лучшую команду диспетчеров и водителей, которые в тандеме работают на благо наших клиентов. Наш таксопарк имеет большое количество автомобилей от экономического до премиум-класса. Мы постоянно расширяем спектр услуг компании и готовы предложить:
				+e.UL.content-list
					li Подачу такси от вокзала;
					li Встреча с табличкой на перроне;
					li Трансфер с вокзала в аэропорт;
					li Предварительный заказ такси и многое другое.
				+e.P.text.no-indent
					strong Такси на вокзал - дешево
					|, качественно, удобно!
				+e.P.text Мы работаем для наших клиентов и понимаем, что в условиях мегаполиса очень важна безопасность и оперативность поездки. Постоянные пробки на дорогах, огромное количество габаритного транспорта, аварии на дорогах – все это может значительно снижать качество предоставляемой услуги такси. Благодаря многолетнему опыту работы мы смогли усовершенствовать систему мониторинга ситуаций на московских дорогах, а слаженная работа наших сотрудников и современная система просчета маршрута позволяет выбрать кратчайший путь и вовремя доставить пассажира на вокзал. Мы понимаем, что за каждого клиента несем ответственность, поэтому все автомобили проходят проверку и обеспечиваются дополнительными системами безопасности. Кроме того, для перевозки детей в наших автомобилях предусмотрены специальные автокресла, которые обеспечивают не только безопасность, но и комфорт родителям во время поездки
				+e.P.text Услуга предварительного заказа 
					strong такси на вокзал Москва 
					|избавит вас от необходимости нервничать перед поездкой и тратить драгоценное время на вызов машины. Автомобиль подается в четко оговоренное время, что позволяет клиенту правильно распланировать свои дальнейшие действия.
				+e.P.text Тарифная политика нашей компании нацелена на расширение потока постоянных клиентов, поэтому мы предлагаем конкурентные цены на услуги. В условиях города стоимость 
					strong такси до вокзала 
					|будет равно обычному перемещению по мегаполису. Цены могут колебаться в зависимости от количества багажа или времени ожидания клиента. Все цены являются фиксированными, поэтому вы не получите неожиданных сюрпризов в виде дополнительной платы за услугу 
					strong такси вокзал.
				+e.P.text Берегите свои нервы, время и здоровье – пользуйтесь услугами такси от нашей компании просто позвонив по указанному номеру или вызовите машину через онлайн-заказ!
				+common-services
				