.about-stations
	margin-bottom 50px
	&__title
		margin-bottom 50px
		@media (max-width: 425px)
			font-size 30px
	&__text
		padding-bottom 10px
		color $c_black
		font-family $base-font
		font-size 20px
		line-height: 1.5
		text-indent 25px
		@media (max-width: 425px)
			font-size 14px
		strong
			font-weight 700
	ul
		margin-bottom 10px
	li
		margin-left 20px
		padding-bottom 5px
		font-family $base-font
		color $c_black
		font-size 18px
		list-style-type: disc;
		@media (max-width: 425px)
			font-size 14px
		strong
			font-weight 700
.no-indent
	text-indent 0
.stations-transfers
	margin-bottom 60px
	&__title
		margin-bottom 10px
		font-size 20px
	&__text
		margin-bottom 15px
		color $c_black
		font-family $base-font
		font-size 20px
	&__order-taxi
		display inline-block
		vertical-align top
		width 300px
		min-height 45px
		margin-bottom 25px
		color $c_black
		font-family $base-font
		font-size 20px
		line-height 45px
		background-color $c_white
		text-align center
		border-radius 5px
