include /blocks/common-services/common-services
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.about-stations
				+e.H1.title.heading._h2.taxi-icon Такси на Казанский вокзал
				+e.P.text Задумывались ли вы когда-нибудь, какое количество гостей, туристов и путешественников ежедневно пребывает на московские вокзалы? По статистике каждый второй использует услугу такси для того, чтобы после утомительной дороги добраться с вокзала в хостел, гостиницу или аэропорт. Однако, услуга частных «бомбил» не всегда является безопасной, да и ценники, которые предъявляют частники, иной раз повергают в ужас даже москвичей. Для того чтобы не попасть впросак необходимо позаботиться о качественном трансфере с вокзала заранее и воспользоваться услугой
					strong такси Казанский вокзал 
					|от нашей компании.

					+tariff-airport-station({distr:'"Казанский" вокзал',
																	priceDomodedovo:1300,
																	priceSheremetevo:1300,
																	priceVnukovo:1300,
																	caption:'Тарифы такси Эконом на трансфер аэропорт -> вокзал'
																	})
				+e.IMG.image._kazanskiy-station.img-center(src='assets/images/stations/kazanskiy/kazanskiy-station-night_400x273.jpg' width='400' height='273' title='Казанский вокзал ночью' alt='Казанский вокзал ночью')
				+e.P.text.no-indent
					strong Такси на Казанский вокзал 
					|– лучшее решение для вашей поездки.
				+e.P.text Наша компания является одной из самых крупных служб такси в г. Москва. Мы осуществляем трансфер пассажиров в разные уголки города по самым выгодным тарифам. Основой нашей работы является забота о комфорте и безопасности клиента, поэтому мы тщательно подходим к вопросу подбора персонала и авто. Наши сотрудники являются высококвалифицированными специалистами в области перевозки пассажиров, а все автомобили проходят ежедневный осмотр и плановое ТО. Мы являемся одной из первых компаний, которая предложила качественную услугу
					strong такси Москва Казанский вокзал
					|. Для поездок на вокзалы Москвы мы приобрели автомобили, которые отличаются большой вместимостью и отвечают всем требованиям наших клиентов.
				+e.P.text Поскольку одним из самых распространенных заказов является трансфер пассажира с вокзала в аэропорт, мы разработали специальную систему прозрачных тарифов, которая является фиксированной и не зависит от времен ожидания клиента и количества багажа. У нас вы сможете заказать поездку по самым низким ценам в Москве:
					ul
						li
							strong Такси казанский вокзал - Внуково
						li
							strong Такси казанский вокзал – Домодедово
						li
							strong Такси казанский вокзал - Шереметьево
				+e.IMG.image._kazanskiy-station.img-center(src='assets/images/stations/kazanskiy/kazanskiy-station_400x267.jpg' width='400' height='267' title='Казанский вокзал' alt='Казанский вокзал')
				+e.P.text.no-indent Почему мы?
					ul
						li Качественный сервис
						li Оперативная и своевременная подача машины
						li Опытные и компетентные водители
						li Качественное спутниковое оборудование и точный просчет маршрута
						li Новый автопарк с возможностью установки детских автокресел
						li Прозрачные тарифы
						li Акции и система бонусов для постоянных и вип-клиентов
				+e.P.text Для того, чтобы
					strong заказать такси на Казанский вокзал 
					|достаточно связаться с нами по контактному номеру или заказать услугу одним щелчком мыши на нашем сайте. Для того, чтобы узнать стоимость вашей поездки воспользуйтесь калькулятором расчета на сайте или уточните данные у оператора.
				+common-services
