mixin ivanovo()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.intercity
				+e.H1.title.heading.heading._h2 Такси Москва - Иваново 4500 рублей
				p Обращаясь к нам с целью 
					strong заказать такси Москва - Иваново
					|, вы фактически гарантируете себе, что успеете на место назначения. Самолет, поезд, важная встреча — куда бы вы ни торопились, мы привезем вас вовремя и в чудесных условиях. Наша компания максимально оперативно и выгодно для вас предлагает услуги перевозки пассажиров по междугороднему маршруту.
				p Помните, как неприятно тащить «на себе» тяжелые сумки, добираясь общественным транспортом? 
					strong Междугороднее такси Москва - Иваново 
					|избавит вас от всяческих неудобств: профессиональные и внимательные водители помогут разместить сумки и выберут самый короткий маршрут благодаря первоклассному знанию дороги.
				+e.IMG.image.image.img-center(src='assets/images/intercity/ivanovo.jpg' width='400' height='251' title='такси Москва - Иваново' alt='такси Москва - Иваново')
				p Когда вы решаете 
					strong заказать такси Москва - Иваново
					|, вы хотите получить качественный сервис, комфортную поездку, гарантию безопасности. На протяжении многих лет эти и другие составляющие высококачественного предоставления услуг такси предоставляются нашей компании. Об этом свидетельствует множество постоянных клиентов, среди которых есть известные люди, политики и бизнесмены.
				p.no-indent Профессионализм
				p Наша компания ежедневно доказывает высокий уровень предоставления услуг. Секрет кроется в двух составляющих:
				ul
					li 	Компетентность водителей — стаж работы и личные качества делают поездку особенно приятной. Кроме того, ежедневно наши сотрудники проходят медицинский осмотр, что дополнительно гарантирует безопасность клиентов;
					li 	Проверенные автомобили — машины постоянно проходят техосмотр и при обнаружении неисправностей заменяются.
				p Если вы будете ехать с ребенком младше 12 лет, мы предоставим детское кресло. Пожалуйста, сообщите о присутствии детей диспетчеру.
				p
					strong Сколько стоит такси Москва - Иваново
					|? Изучите предложенные тарифные планы для ответа на этот вопрос. Итоговая цена зависит от конечного пункта назначения, но можем заверить, что вы не переплатите за лишние километры. Мы не допускаем скрытых платежей и доплат — оператор сообщит вам 
					strong стоимость такси Москва - Иваново 
					|по телефону.
				p.no-indent Почему выбирают нас?
				ul
					li Большой автомобильный парк;
					li Демократичная 
						strong цена такси Москва - Иваново;
					li Быстрая подача машины (до 15-20 минут ожидания);
					li Профессиональные водители и оперативная работа диспетчера;
					li Готовность встретить в аэропорту, на вокзале;
					li Возможность групповых перевозок;
					li Готовность предоставить по 
						strong фиксированной цене такси Москва - Иваново.
				p Фиксированная стоимость позволит вам быть уверенными в том, что платить больше названной диспетчером суммы не придется. Мы — первая компания, внедрившая этот формат оплаты.
				p Мы учитываем все ваши запросы, поэтому разработали сеть дополнительных услуг. Перевозите животных, заказывайте поездку-экскурсию или арендуйте такси на сутки — предложений много, и вы наверняка найдете интересующее именно вас.
				p Мы не пропагандируем дорогостоящие междугородние поездки, поэтому предоставляем 
					strong такси Москва - Иваново дешево
					|. Расплачивайтесь наличными или картой и будьте уверены, что выбрали самый экономный и комфортный вариант поездки.
