mixin kaluga()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.intercity
				+e.H1.title.heading.heading._h2 Такси Москва - Калуга 3000 рублей
				p
					strong Заказать такси Москва Калуга 
					|стоит ради собственного удовольствия — мы берем все обязанности на себя и гарантируем, что вам захочется не только обратиться к нам вновь, но и порекомендовать нас своим знакомым. Позвоните нашему оператору или заполните онлайн форму на сайте — мы свяжемся с вами как можно быстрее.
				+e.IMG.image.image.img-center(src='assets/images/intercity/kaluga.jpg' width='400' height='251' title='такси Москва - Калуга' alt='такси Москва - Калуга')
				p.no-indent В чем наши преимущества?
				p.no-indent Залог приятного сотрудничества с нами:
				ol
					li Водители — каждый извозчик обладает большим опытом работы и отлично знает всевозможные маршруты. Он способен избрать наилучший путь поездки, избежать пробок и всегда составит приятную компанию, поддерживая общение. Он поможет с багажом и будет внимателен. 
						br
						|Мы осуществляем строгий контроль и не допускаем до работы водителей, не прошедших медосмотр — перед каждой сменой таксист проверяется по ряду медицинских показателей, после чего допускается к работе;
					li Автопарк — разнообразие машин, начиная от эконом класса и заканчивая представительским классом, радует даже самых взыскательных поклонников авто. Каждый автомобиль постоянно проходит техосмотр, и, если обнаруживается даже самая незначительная неисправность, происходит замена машины;
					li Безопасность — тщательно отслеживая профессиональные навыки и состояние здоровья водителей, а также техническое состояние автомобилей, мы обеспечиваем максимальную безопасность для наших пассажиров;
					li Операторы — не менее профессиональны и пунктуальны наши операторы. Для того, чтобы заказать 
						strong такси Москва Калуга
						|, вам необходимо позвонить по указанному номеру телефона или заполнить и отправить форму на сайте. С вами свяжется наш диспетчер, который обсудит все волнующие вас детали, в том числе поможет выбрать марку автомобиля и узнать 
						strong стоимость такси Москва Калуга
						|.
					li 5.	Оперативность — будьте уверены, что мы оперативно реагируем на вызов и приезжаем уже спустя 15-20 минут после звонка. Быстрая подача — наше важное правило, которое мы никогда не нарушаем.
				p
					strong Такси Москва Калуга 
					|предлагает комплекс дополнительных услуг — возможно, вам нужно взять с собой животное, или вы желаете, чтобы такси встретило вас в аэропорту. А может, важно, чтобы таксист владел английским языком? Эти и многие другие допуслуги предложены нашей компанией — ознакомьтесь с их полным перечнем на сайте.
				p.no-indent Стоимость
				p Возможно, вас интересует, 
					strong сколько стоит такси Москва Калуга
					|. Допускаем, что вы даже опасаетесь узнать ответ на этот вопрос только по завершении поездки. Можем вас обрадовать — 
					strong цена такси Москва Калуга 
					|сообщается нашим диспетчером.
				p Обратите внимание на то, что мы стали первой компанией, внедрившей 
					strong такси Москва Калуга по фиксированной цене 
					|— этот формат гарантирует отсутствие доплат за лишние километры или время ожидания. Вы платите ровно ту сумму, которую указал оператор — финансовые неожиданности исключены.
				p Наслаждайтесь поездкой, заказывая такси межгород через наш сайт!
