mixin nizhniy-novgorod()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.intercity
				+e.H1.title.heading.heading._h2 Такси Москва - Нижний Новгород 6000 рублей
				p Качество поездки на 
					strong такси Москва Нижний Новгород 
					|из одного города в другой способно оставить массу приятных воспоминаний и наоборот, перечеркнуть самые радужные ожидания от путешествия. Внимательно выбирайте способ и исполнителя автомобильного перемещения — это вопрос вашего комфорта, безопасности и выгоды.
				p
					strong Междугороднее такси Москва Нижний Новгород 
					|— одно из самых востребованных направлений. Водители нашей компании знают маршрут на «отлично», а потому довезут вас максимально быстро до пункта назначения. Отметим, что мы учитываем человеческий фактор и не ориентируемся исключительно на знания водителя — современные спутниковые системы позволяют нам с высокой точностью определять наилучший маршрут. Вам не придется стоять в пробках — вы получите море удовольствия от путешествия и испытаете удовлетворение от качества его организации.
				+e.IMG.image.image.img-center(src='assets/images/intercity/nizhniy_novgorod.jpg' width='400' height='251' title='такси Москва - Нижний Новгород' alt='такси Москва - Нижний Новгород')
				p.no-indent Какой будет поездка?
				p Чудесной. Мы уверены, что вы отдохнете в пути и не раз будете с благодарностью думать о нашей компании. Сделать путешествие еще удобнее поможет комплекс дополнительных услуг, предложенных на нашем сайте. Среди самых популярных вариантов перевозка животных, встреча в аэропорту с табличкой и предоставление водителя, владеющего английским языком.
				p.no-indent Вот некоторые факты, обязательные для нашей работы:
				ul
					li комфортабельные авто;
					li быстрая подача машины;
					li профессиональные и вежливые водители;
					li разнообразные тарифные планы;
					li групповые перевозки.
				p Если в поездке будет находиться ребенок, мы предоставим машину с детским автокреслом. Однако об этом следует заранее сказать диспетчеру.
				p Даже если бы 
					strong цена такси Москва Нижний Новгород 
					|не была такой демократичной, как у нас, вам все равно стоило бы выбрать нашу компанию. Потому что мы с фанатичной тщательностью подходим к вопросам безопасности и удобства наших клиентов. С нами вы в надежных руках!
				p.no-indent Дешево или дорого?
				p Есть ли стереотип, что 
					strong дешево такси Москва Нижний Новгород 
					|стоить не может? У большинства людей в воображении царит именно он. Мы успешно развенчиваем этот миф и на своем примере доказываем, что это реально — платить мало, но ехать с комфортом.
				p Мы уже давно работаем над политикой демократичной стоимости услуг, и одним из главных достижений стало внедрение 
					strong такси Москва Нижний Новгород по фиксированной цене
					|. Она была призвана экономить деньги клиента и исключала возможность любых доплат и переплат за поездку.
				p Чтобы узнать точные цифры ценника, позвоните нашему диспетчеру и спросите, 
					strong сколько стоит такси Москва Нижний Новгород
					|. Вместе с вами сначала будет подобран маршрут и выбран автомобиль, после чего оператор назовет конечную цену.
				p
					strong Заказать такси Москва Нижний Новгород 
					|стоит ради собственного удовольствия — мы берем все обязанности на себя и гарантируем, что вам захочется не только обратиться к нам вновь, но и порекомендовать нас своим знакомым. Позвоните нашему оператору или заполните онлайн форму на сайте — мы свяжемся с вами как можно быстрее.
				