mixin piter()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.intercity
				+e.H1.title.heading.heading._h2 Такси Москва - Санкт-Петербург 11000 рублей
				p Что вы хотите ощущать, совершая поездку на такси Москва Санкт-Петербург? Наверное, чувство бодрости, комфорта и абсолютной уверенности в своей безопасности. Так ли комфортна поездка на автобусе или в поезде, вместе с толпой незнакомых суетящихся людей? Мы сомневаемся, и потому предлагаем использовать такси Москва Санкт-Петербург дешево — нами выставлены наиболее деократичные цены на поездку, способную подарить вам спокойное, профессионально организованное путешествие.
