mixin piter()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.intercity
				+e.H1.title.heading.heading._h2 Такси Москва - Санкт-Петербург 11000 рублей
				p Что вы хотите ощущать, совершая поездку на 
					strong такси Москва Санкт-Петербург 
					|? Наверное, чувство бодрости, комфорта и абсолютной уверенности в своей безопасности. Так ли комфортна поездка на автобусе или в поезде, вместе с толпой незнакомых суетящихся людей? Мы сомневаемся, и потому предлагаем использовать 
					strong такси Москва Санкт-Петербург 
					|дешево — нами выставлены наиболее демократичные цены на поездку, способную подарить вам спокойное, профессионально организованное путешествие.
				+e.IMG.image.image.img-center(src='assets/images/intercity/piter.jpg' width='400' height='251' title='такси Москва - Санкт-Петербург' alt='такси Москва - Санкт-Петербург')
				p.no-indent Почему выбирают нас?
				p Все просто — мы берем на себя все заботы по вашему передвижению из пункта А в пункт Б. Мы предлагаем приятные 
					strong цены на такси Москва Санкт-Петербург
					|, и при этом создаем все условия, чтобы ничто не могло вас побеспокоить. Смотрите сами:
				ul
					li Комфортабельные автомобили — наш автопарк включает большое количество машин самого разного класса. Выбирайте такси на свой вкус;
					li Оперативная подача авто — мы ценим ваше время, а потому не допустим ожидания машины более 15-20 минут;
					li Многоуровневое обеспечение безопасности. Под пристальным контролем мы держим и водителей, и автомобили. Первые перед каждой рабочей сменой проходят медицинский осмотр, а вторых мы заменяем новыми моделями при обнаружении даже самой небольшой неисправности;
					li Разнообразие дополнительных услуг. Ситуации бывают разные — кто-то везет с собой животных, кому-то нужна встреча в аэропорту с табличкой, кого-то надо подождать. Эти и многие другие ситуации проработаны нами — изучите каталог допуслуг;
					li Забота о клиенте — все, что мы делаем, мы делаем для вас. 
						strong Междугороднее такси Москва Cанкт-Петербург 
						|— это забота о вашем удовольствии во время поездки.
				p.no-indent Кто вас будет везти?
				p Штат наших водителей составлен из профессиональных извозчиков с большим стажем работы. Это внимательные люди, обладающие прекрасным чувством такта. Вы получите человека, знающего наилучший маршрут и способного стать хорошим собеседником на время дороги. Он поможет разложить тяжелый багаж и выберет самый короткий маршрут благодаря отличному знанию городских и междугородних дорог.
				p Не менее компетентны и наши операторы — позвоните по указанным телефонам, и диспетчер поможет определиться с маркой автомобиля, подскажет 
					strong стоимость такси Москва Санкт-Петербург
					|. Также вы можете заполнить онлайн форму на нашем сайте.
				p.no-indent Цена вопроса...
				p Если вас беспокоит, 
					strong сколько стоит такси Москва Санкт-Петербург
					|, то свяжитесь с нами по указанным контактам, назовите направление поездки, и диспетчер проинформирует вас по этому вопросу.
				p Обратите внимание — именно наша компания первой ввела услугу 
					strong такси Москва Санкт-Петербург по фиксированной цене
					|, а это означает, что вы точно не переплатите за поездку и лишние километры: еще до начала поездки диспетчер назовет итоговую цену. Никаких скрытых платежей и доплат. Произвести оплату можно как наличными, так и картой.
				p Отправляясь в путь на наших автомобилях, вы дарите себе легкое и радостное путешествие. Для того чтобы 
					strong заказать такси Москва Санкт-Петербург
					|, достаточно пяти минут!
