mixin ryazan()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.intercity
				+e.H1.title.heading.heading._h2 Такси Москва - Рязань 2800 рублей
				p Почему стоит выбрать 
					strong междугороднее такси Москва Рязань
					|? Прежде всего по той причине, что вы наверняка цените собственный комфорт и хотите чувствовать уверенность в организации своей поездки.
				p Но самое главное преимущество путешествия именно на такси, а не на поезде или другом рейсовом транспорте — это возможность доехать прямо до назначенного места, а не до вокзала. Помните, что такси — это личный, а не общественный транспорт, а значит, нет надобности приспосабливаться к установленным графикам. Расписанием управляете только вы, причем 
					strong цена такси Москва Рязань 
					|окажется очень выгодной. Вам не придется пересаживаться или пребывать в залах ожидания, дожидаясь очередного транспортного средства. Все будет сделано одним единственным человеком — водителем нашей компании.
				+e.IMG.image.image.img-center(src='assets/images/intercity/ryazan.jpg' width='400' height='251' title='такси Москва - Рязань' alt='такси Москва - Рязань')
				p Своим опытом мы доказываем, что 
					strong такси Москва Рязань дешево 
					|— это реальность, а не вымысел, причем реальность, в которой качественно обслуживают и учитывают все пожелания клиента.
				p.no-indent Почему стоит выбрать нас?
				ul
					li Мы выберем лучший путь — приятно, когда знаешь, что компания сделает все за тебя. Мы определим наилучший маршрут 
						strong такси Москва Рязань
						| и для этого у нас готовы не только водители-профессионалы с большим стажем работы и отличным знанием дорог, но и современные спутниковые системы, с помощью которых просчитывается самый короткий путь с минимальными пробками;
					li Только комфорт — никаких курящих извозчиков, досаждающего громкого радио или других неудобств. Наши водители вежливы и аккуратны, поэтому будьте уверены — вы отлично почувствуете себя во время путешествия;
					li Быстрая подача — мы дорожим вашим временем, и поэтому приезжаем максимум спустя 15-20 минут после вызова. В итоге вы успеете всё, что запланировали, приедете в пункт назначения в желаемое время. Пробки не станут неожиданной неприятностью — мы заранее составляем маршрут с учетом ситуации на дорогах;
					li Безопасность — нами обеспечивается абсолютно безопасная поездка. Если вы едете с ребенком до 12 лет, мы предоставим детское автокресло (не забудьте сообщить о детях оператору заранее). Перед каждой сменой водители проходят медосмотр, а автомобили осматриваются техническим специалистом;
					li 
						strong Стоимость такси Москва Рязань 
						|— выгоднее, чем переезд с помощью другого транспорта. Мы доказываем на своем примере, что недорогая междугородняя поездка на такси существует.
				p Для того чтобы 
					strong заказать такси Москва Рязань
					|, наберите указанный на сайте номер телефона и назовите диспетчеру требуемое направление поездки. Вам помогут выбрать автомобиль и определить дорогу, на которой не возникнет автомобильных коллапсов. Более того, в процессе поездки вы также сможете связаться с оператором в любое время.
				p Мы предлагаем не только тарифные планы, но и 
					strong фиксированную цену такси Москва Рязань
					|, таким образом исключая возможность переплат за километры или время ожидания.
				p Наша компания — идеальное решение для человека, ценящего свое время и деньги. Желаете добраться до Рязани с комфортом? Доверьтесь нам. Наша задача — профессионально организовать путешествие клиента «от двери до двери».
