mixin vladimir()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.intercity
				+e.H1.title.heading.heading._h2 Такси Москва - Владимир 3000 рублей
				p Думаете, поездка с комфортом должна дорого стоить? Сомневаетесь, что недорогое обслуживание способно быть даже качественнее дорогостоящего? Мы опровергаем ваши сомнения и доказываем обратное: поездка на дешевом 
					strong такси Москва - Владимир 
					|— это исключительное удовольствие и максимальное удобство.
				p Кредо нашей компании — быстрое реагирование на заказ, следование всем пожеланиям клиента, максимально быстрый приезд на место назначения. Вам достаточно 
					strong заказать такси Москва - Владимир
					|, и мы примчимся по первому зову. Если опаздываете на самолет, вызывайте нас, и вы приедете вовремя. Это не просто слова — мы уже заслужили доверие тысяч людей, и среди наших пассажиров есть известные личности, бизнесмены и звезды шоу-бизнеса.
				+e.IMG.image.image.img-center(src='assets/images/intercity/vladimir.jpg' width='400' height='251' title='такси Москва - Владимир' alt='такси Москва - Владимир')
				p На протяжении многих лет мы непрестанно улучшаем качество обслуживания. Подобран отличный коллектив, достигнут европейский уровень качества. Наши работники — не только профессиональные извозчики, безупречно знающие улицы города, но и приятные в общении люди. Вы доедете за малую цену в 
					strong такси Москва - Владимир 
					|и отлично проведете время.
				p Безопасность клиента — неприкосновенное правило 
					strong междугороднего такси Москва - Владимир
					|. Она достигается двумя важнейшими составляющими — отменным парком автомобилей и безоговорочным профессионализмом водителей:
				ul
					li 	Смена наших извозчиков начинается с медицинского осмотра, и только после его положительного результата человек отправляется на работу;
					li 	Автомобили проверяются еще тщательнее: в зоне технического обслуживания машины досматриваются специалистами и при малейшей неисправности заменяются. В результате каждый месяц автопарк пополняется новыми такси.
				p.no-indent Если вы едете с ребенком, мы предоставим детское кресло.
				p Все сделано для удовольствия клиента. В работу вводятся машины от эконома до представительского класса — смело выбирайте автомобиль в соответствии с собственными пожеланиями, ведь в нашем большом автомобильном парке найдется такси на любой вкус.
				p Нас выбирают благодаря, возможно, избитому сочетанию: отличная  
					strong цена такси Москва - Владимир 
					|и выполнение всех обязанностей на высшем уровне. Но это именно то, что вам нужно. И мы действительно сочетаем высокое качество предоставления услуг с их низкой стоимостью.
				ul
					li Машина приедет максимум через 20 минут после вашего звонка;
					li Только современные автомобили;
					li Профессиональные, опытные и вежливые водители;
					li Выгодные тарифы;
					li Множество дополнительных услуг.
				p Именно мы внедрили систему 
					strong фиксированной цены на такси Москва - Владимир
					|, что позволяет дополнительно сэкономить. Совершайте поездки по городу — мы ценим ваши деньги не только выбирая самые быстрые маршруты, но и предлагая платить фиксированную стоимость.
				p Обратите особое внимание и на оказываемые нашей компанией дополнительные услуги, например, перевозку животных, аренду такси на сутки и многое другое.
				p.no-indent Разъезжайте на 
					strong такси Москва - Владимир дешево!
				p Для того чтобы узнать, 
					strong сколько стоит такси Москва - Владимир 
					|в вашем случае, позвоните нам, и мы постараемся максимально точно ответить на ваш вопрос.
