mixin yaroslavl()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.intercity
				+e.H1.title.heading.heading._h2 Такси Москва - Ярославль 3700 рублей
				p Совершая поездки из одного города в другой, вы должны прекрасно себя чувствовать и не быть уставшими и измотанными к моменту приезда. 
					strong Междугороднее такси Москва Ярославль 
					|создает все условия для того, чтобы вы чувствовали себя чудесно на протяжении всего времени автомобильного путешествия.
				+e.IMG.image.image.img-center(src='assets/images/intercity/yaroslavl.jpg' width='400' height='251' title='такси Москва - Ярославль' alt='такси Москва - Ярославль')
				p Наша компания предоставляет услугу 
					strong такси Москва - Ярославль 
					|на протяжении многих лет — мы доказали свою надежность, оперативность и профессионализм. В итоге мы можем гордиться постоянно пополняющейся базой постоянных клиентов.
				p.no-indent Такси или поезд?
				p Автобус и поезд не сравнимы по скорости поездки и ее качеству с легковым автомобилем. Мы знаем самые короткие маршруты и предлагаем оптимальную 
					strong стоимость такси Москва - Ярославль
					|. Наши машины наилучшим образом приспособлены для дальних поездок вне зависимости от сезона и времени суток.
				
				p Выбирая способ передвижения по междугороднему маршруту, важно понимать свои ожидания от условий путешествия. У нас гарантирован сервис высокого качества, точное время отправления, связь с оператором 24/7 и профессионализм, вежливость водителей.
				p Вы выберите автомобиль, подходящий именно вам. Выбор будет сделан вами с помощью нашего диспетчера, учитываются ваши пожелания, а также объем багажа и количество человек.
				p.no-indent Почему нас выбирают?
				p.no-indent Мы сделали все, как вы хотите:
				ul
					li Безопасность — знайте, что нами организована максимальная безопасность для наших клиентов. Водители имеют большой стаж работы и проходят медицинский осмотр перед каждой сменой, а автомобили тщательно осматриваются механиками — даже малейшая неисправность послужит поводом для замены машины;
					li Оперативность — ожидайте такси не более 15-20 минут. Мы ценим ваше время и мгновенно реагируем на поступивший вызов;
					li Стоимость — мы предлагаем 
						strong такси Москва - Ярославль дешево
						|, причем низкая стоимость сочетается с высоким уровнем сервиса. С нами надежно, недорого и удобно.
				p Мы доверяем обслуживание клиентов только опытным и профессиональным водителям и даем гарантии безопасности и комфорта во время поездки.
				p Узнать, 
					strong сколько стоит такси Москва - Ярославль
					|, вы сможете, ознакомившись с представленными тарифными планами. Обратите внимание, мы первая компания, внедрившая 
					strong фиксированную цену такси Москва Ярославль 
					|— а это значит, что вы точно не переплатите за лишние километры.
				p Мы не верим в дорогостоящие междугородние поездки. Мы верим в клиентоориентированность, способность предложить демократичную цену, оказывая при этом качественные услуги. Качество междугородних поездок, предлагаемых нами, находится на высоком уровне и продолжает улучшаться.
				p Для того чтобы 
					strong заказать такси Москва - Ярославль
					|, позвоните нам — диспетчер оперативно проконсультирует вас, поможет выбрать автомобиль и назовет стоимость поездки.
