.pages-header
	margin-bottom 60px
	min-height 620px
	padding-bottom 0
	border-bottom 0
	background url(../images/header-bg.png) no-repeat 50% bottom
	@media (max-width: 1024px)
		min-height 420px
		margin-bottom 10px
		background url(../images/header-bg.png) no-repeat 50% bottom
		background-size 1024px 420px
		background-position 0 20px
	@media (max-width: 768px)
		min-height 420px
		background url(../images/header-bg.png) no-repeat 50% bottom
		background-size 760px 400px
		background-position 0 50px
	@media (max-width: 414px)
		background none
	&_train
		background url(../images/train-bg.png) no-repeat 65% 90%,
							url(../images/header-bg.png) no-repeat 50% bottom
		@media (max-width: 1024px)
			background url(../images/train-bg.png) no-repeat,
							url(../images/header-bg.png) no-repeat 50% bottom
			background-size 450px 250px, 1024px 420px
			background-position 80% 90%, 0 20px
		@media (max-width: 768px)
			background url(../images/train-bg.png) no-repeat,
			url(../images/header-bg.png) no-repeat 50% bottom
			background-size 400px 200px, 760px 400px
			background-position 110% 85%, 0 50px
		@media (max-width: 768px)
			background none
	&_plane
		background url(../images/plane-bg.png) no-repeat 70% 35%,
							url(../images/header-bg.png) no-repeat 50% bottom
		@media (max-width: 1024px)
			background url(../images/plane-bg.png) no-repeat 90% 35%,
			url(../images/header-bg.png) no-repeat 50% bottom
			background-size 200px 80px, 1024px 420px
			background-position 90% 150px, 0 0
		@media (max-width: 768px)
			background url(../images/plane-bg.png) no-repeat,
			url(../images/header-bg.png) no-repeat 50% bottom
			background-size 200px 80px, 760px 400px
			background-position 90% 150px, 0 50px
		@media (max-width: 768px)
			background none
	&__top-row
		position fixed
		top 0
		left 0
		right 0
		background-color $c_white
		z-index 1505
		.center
			display -webkit-flex
			display -ms-flex
			display flex
			align-items center
	&__bottom-row
		padding-top 80px
		@media (max-width: 1024px)
			padding-top 60px
		.center
			display -webkit-flex
			display -ms-flex
			display flex
			@media (max-width: 768px)
				max-width 768px
				padding 0 10px
				padding-top 10px
				margin 0 auto
			@media (max-width: 414px)
				max-width 414px
			#sedi-orderform2-order
				background-color #6666cc
				color $c_white
				border none
				@media (max-width: 1024px)
					margin-left 0
				@media (max-width: 768px)
					margin-left 0
				&:hover
					background-color lighten(#6666cc, 5)
		p
			margin-top 10px
		h1
			margin-top 20px
	&__phone-number
		position relative
		left 30px
		width 270px
		@media (min-width: 768px) and (max-width: 1024px)
			left inherit
			order 2
			margin 0 auto
		@media (min-width: 414px) and (max-width: 768px)
			width 400px
			left: inherit;
			order: 2;
			padding-left 100px
		@media (min-width: 320px) and (max-width: 414px)
			// display block
			// text-align center
			order 2
			left inherit
			padding-top 0
			padding-left 0
	&__phone-link
		color $c_black
		font-family $h-font
		font-size 24px
		font-weight 400
		line-height 80px
		@media (max-width: 1024px)
			font-size 22px
			text-decoration none
		@media (max-width: 768px)
			display block
			font-size 20px
			line-height 24px
			text-align center
			text-decoration none
		@media (max-width: 414px)
			font-size 16px
			text-decoration none
	&__content
		max-width 750px
		width 100%
		@media (max-width: 768px)
			max-width: 330px
		@media (max-width: 414px)
			display none
	&__title
		position relative
		width 500px
		margin-bottom 200px
		padding-left 20px
		padding-right 90px
		padding-top 35px
		@media (max-width: 1024px)
			margin-bottom 80px
		@media (max-width: 768px)
			width 330px
			margin-bottom 130px
			padding-right 0
			padding-left 0
			font-size 34px
		&:after
			position absolute
			content '495'
			right 0
			font-family $h-font
			font-size 42px
			color $c_white
			font-weight 700
	// &__call-back
	// 	display block
	// 	width 240px
	// 	min-height 50px
	// 	margin 0 auto
	// 	margin-bottom 80px
	// 	color $c_yellow
	// 	font-family $base-font
	// 	font-size 19px
	// 	line-height 50px
	// 	background-color $c_black
	// 	text-align center
	&__car-container
		min-height 235px
		background url(../images/car-bg.png) no-repeat 670px bottom
		background-size 587px 230px
		animation: car 4s ease-in
		animation-fill-mode: both;
		animation-iteration-count: 1
		animation-delay 6s
		@media (max-width: 1024px)
			min-height 180px
			background-size 457px 180px
		@media (max-width: 768px)
			min-height 150px 
			background-size 300px 135px
		@media (max-width: 414px)
			display none
		&_train
			background url(../images/car-bg_train.png) no-repeat
			background-size 310px 130px
			animation: car-train 4s ease-in
			animation-fill-mode: both;
			animation-iteration-count: 1
			animation-delay 6s
@keyframes car
	0%
		background-position 670px bottom
	100%
		background-position 0% 0%
@keyframes car-train
	0%
		background-position 670px bottom
	100%
		background-position 70% bottom
