include /blocks/top-menu/top-menu
include /blocks/logo/logo
include /blocks/order-form/order-form
mixin header()
	+b.HEADER.page-header&attributes(attributes)
		+e.top-row
			.container
				+logo
				+top-menu
				+e.phone-number +7 (495) 133-62-26
		+e.bottom-row
			.container
				+order-form
				+e.SECTION.content
					+e.H1.title.heading.heading_h1 Выбирайте только лучшее
					+e.A.call-back.link(href='') Обратный звонок
					+e.car-container
