include /blocks/top-menu/top-menu
include /blocks/logo/logo
include /blocks/order-form/order-form
mixin header(modifier)
	+b.HEADER(class='pages-header_' + modifier)&attributes(attributes)
		+e.top-row
			.container
				+logo
				+top-menu
				+e.phone-number 
					+e.A.phone-link(href='tel:+74951336226') +7 (495) 133-62-26
		+e.bottom-row
			.container
				+order-form
				+e.SECTION.content
					if modifier === 'common'
						+e.P.title.heading.heading_h1 такси москва
						+e.car-container
					if modifier === 'index'
						+e.H1.title.heading.heading_h1 такси москва
						+e.car-container
					if modifier === 'train'
						+e.P.title.heading.heading_h1 такси москва
						+e.car-container._train
					if modifier === 'plane'
						+e.P.title.heading.heading_h1 такси москва
						+e.car-container._plane
