include /blocks/common-services/common-services
include /blocks/tariff-info/tariff-info
include /blocks/tariff-district-table/tariff-district-table
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+tariff-info({title:'тариф Эконом',
										price:400,
										time:20,
										more:26
										})
			+tariff-district-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
															priceDomodedovo:['1100','1100','1100','1100','1000','1100','1100','1100','1100'],
															priceSheremetevo:['1000','1000','1100','1200','1200','1200','1100','1000','1100'],
															priceVnukovo:['1100','1100','1100','1100','1100','1000','1000','1100','1100'],
															tariffName:'Эконом'
															})
			+b.about-tariff
				+e.P.text С наступлением холодов поездка на общественном транспорте становится пыткой, да и долгое ожидание автобуса или маршрутки в минусовую температуру воздуха не всегда благоприятно сказывается на здоровье. Наилучшим решением в такой ситуации станет выбор в пользу машины такси. Данный вид передвижения в условиях большого города имеет ряд преимуществ: безопасность, скорость и комфорт. Не стоит верить мифам о том, что услуги службы такси в столице очень завышены. Это не так! Наша компания занимается пассажироперевозками в Москве и области долгие годы, поэтому рада предложить своим клиентам услугу 
					strong «такси Москвы эконом класса».
				+e.P.text 
					strong Такси эконом 
					| - комфорт и фиксированный тариф в любую точку города.
				+e.P.text Имея многолетний опыт в сфере транспортных перевозок, 
					strong такси эконом Москва 
					| разработала свою отлаженную систему работы. Наша цель – это безопасная и комфортная поездка клиента. Именно поэтому мы тщательно подходим к подбору сотрудников в нашу службу такси. Наша команда состоит из высококвалифицированных специалистов, которые ежегодно проходят аттестацию и постоянно повышают свой уровень знаний. Наши водители – это наша гордость. Все пилоты компании имеет внушительный стаж работы на автотранспорте и обладают лучшими человеческими качествами, которые необходимы в работе: компетентность, терпимость, вежливость.  Ежедневно перед выездом на службу водители проходят тщательный медицинский осмотр и только после этого допускаются к работе.
				+e.P.text Автопарк нашей службы постоянно увеличивает количество машин, чтобы пассажир чувствовал себя максимально комфортно в поездке. Мы тщательно следим за технической исправностью авто, что дает гарантию безопасной поездки даже на дальние расстояния. Мы печемся о здоровье наших пассажиров, поэтому после рабочего дня салон автомобиля подвергается генеральной уборке и дезинфекции, а также осматривается нашим механиком.
				+e.P.text Почему мы?
				+e.P.text Наша компания понимает, что качество рождает спрос, поэтому мы выполняем свою работу не только качественно, но и 
					strong дешево. Фиксированный тариф
					|, который действует у нас, позволяет клиентам не переплачивать за поездку. Такой вариант расчета особо выгоден для тех, кто ищет услугу 
					strong эконом такси аэропорт. 
					|Кроме того, у нас вы сможете воспользоваться такими услугами как:
					ul
						li «Драйвер» - для тех, кто предпочитает передвигаться по городу на собственном авто, но не хочет садиться за руль.
						li Встреча в аэропорту и на перроне вокзала;
						li Перевозка животных и других ваших питомцев;
						li Услуги аренды авто с водителем или без и многое другое
				+e.P.text Перед тем, как воспользоваться услугой 
					strong «Такси эконом Москва» рассчитать стоимость 
					| поездки вы можете онлайн на нашем веб-сайте либо с помощью нашего менеджера по контактному номеру. Сумма, которая озвучена диспетчером, является окончательной и не подлежит дополнительным наценкам после окончания поездки. Услуга 
					strong «такси эконом Москва дешево» 
					| - это возможность передвигаться по городу и области экономно и с комфортом.
			+common-services
