include /blocks/common-services/common-services
include /blocks/tariff-region-table/tariff-region-table
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.taxi-services._region-taxi
				h1.heading.heading_h2 Такси в Московскую область
				+e.P.text Главными отличиями мегаполиса от провинциальных городов является бешеный ритм жизни, загруженность дорог и постоянная нехватка времени. Именно поэтому услуги такси в Москве по-прежнему остаются актуальными и востребованными. Количество недобросовестных компаний-перевозчиков растет ежедневно, поэтому мы не рекомендуем обзванивать все 
					strong телефоны такси Московской области 
					|и тратить свое время, а воспользоваться нашими услугами и получить качественный сервис за умеренную плату. 
				+e.P.text.no-indent
					strong Такси Московская область 
					|- надежно, недорого, удобно.
				+e.IMG.image._region-taxi.image.img-center(src='assets/images/services/poezdka-za-gorod-na-mashine_400x300.jpg' width='400' height='280' title='такси в Московскую область' alt='такси в Московскую область')
				+e.P.text Необходимость оперативно добраться из точки А в точку Б, как правило, возникает неожиданно, поэтому мы готовы прийти к вам на помощь в течении 15 минут после обращения. Наши менеджеры подберут наилучшие условия, чтобы ваш маршрут был максимально комфортным и недорогим. В связи с постоянным расширением столицы и строительством жилых комплексов за городом, услуга 
					|«
					strong такси в область
					|» становится одной из самых популярных среди клиентов, поскольку является прекрасной альтернативой собственному авто.  Благодаря современным спутниковым системам мы просчитываем для вас наиболее короткий путь с минимальным количеством пробок.  Автомобили нашей службы такси проходят тщательный осмотр перед каждой сменой, поэтому вы можете быть уверенны в безопасности поездки. Если вы планируете ехать с ребенком, рекомендуем заблаговременно сообщить об этом нашему оператору, чтобы мы смогли подобрать для вас машину с детским автокреслом.
				+tariff-region-table({distr:['Эконом','Комфорт','Универсал','Бизнес','Минивэн (6 мест)','Минивэн (8 мест)','Микроавтобус'],
				priceToAirport:['22','23','24','28','28','30','35'],
				priceFromAirport:['18','19','20','24','24','26','35'],
				caption:'Тарифы такси в Московскую область'
				})
				+e.P.text.no-indent
					strong Дешевое такси Московская область 
					|- это реальность!
				+e.P.text Наша компания развеивает миф о дорогостоящих поездках за город. Мы предлагаем фиксированные тарифы на 
					strong такси Москва, московская область
					|. Теперь вам не придется переплачивать за лишние километры: наш оператор сообщит вам 
					strong стоимость такси область 
					|перед поездкой. У нас вы сможете расплатиться за поездку, как наличными, так и картой. Деньги за оказанную услугу автоматически снимутся с вашего баланса по окончанию пути. У нас нет скрытых платежей и доплат – вы платите только ту сумму, которую вам сообщил оператор.
				+e.P.text Для того, чтобы 
					strong заказать такси из Москвы в область 
					|достаточно связаться с нашим менеджером по контактным телефонам, либо заполнить онлайн форму на нашем сайте.
				+e.P.text.no-indent Почему мы?
				+e.UL.content-list
					li Комфортабельные автомобили;
					li Оперативная подача авто;
					li Компетентные водители и подготовленный персонал;
					li Встреча в аэропорту, на вокзале с последующим трансфером по городу и области;
					li Возможность заказать такси из аэропорта в область по фиксированной цене;
					li Лучшие тарифные планы на поездки за город и по Москве;
					li Групповые перевозки;
					li Предварительный прием заказов на поездки.
				+common-services
