include /blocks/common-services/common-services
include /blocks/tariff-info/tariff-info
include /blocks/tariff-district-table/tariff-district-table
include /blocks/tariff-airport-transfer/tariff-airport-transfer
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+tariff-info({title:'такси Универсал',
										price:500,
										time:8,
										more:28
										})
			+tariff-district-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
															priceDomodedovo:['1300','1300','1300','1300','1200','1300','1300','1300','1300'],
															priceSheremetevo:['1200','1200','1300','1400','1400','1400','1300','1200','1300'],
															priceVnukovo:['1300','1300','1300','1300','1300','1200','1200','1300','1300'],
															caption:'Тарифы такси Универсал в аэропорт из Москвы'
															})
			+e.IMG.image._universal.img-center(src='assets/images/tariffs/universal/taxi-universal_400x260.jpg' width='400' height='260' title='такси универсал' alt='такси универсал')
			+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
															priceDomodedovo:['---','1800','1600'],
															priceSheremetevo:['1800','700','1700'],
															priceVnukovo:['1600','1700','---'],
															caption:'Тариф такси Универсал на трансфер аэропорт -> аэропорт'
															})
			+tariff-airport-station({distr:'Ж/д вокзал',
															priceDomodedovo:1500,
															priceSheremetevo:1500,
															priceVnukovo:1500,
															caption:'Тариф такси Универсал на трансфер аэропорт -> вокзал'
															})
			+b.about-tariff
				+e.P.text Московский рынок услуг такси сегодня достаточно большой. Выбрать из такого количества фирм надежного перевозчика достаточно сложно: одни предлагают комфорт по завышенной цене, другие низкие тарифы без гарантий. Как часто вы сталкивались с проблемой, когда ваш груз просто не помещается в багажник машины такси, а водитель требует дополнительной оплаты за габаритный багаж? Хватит переплачивать и тратить свое время на споры, воспользуйтесь услугой 
					strong такси универсал Москва 
					| от нашей компании. Машины универсал предназначены для перевозки пассажиров с большим количеством багажа. Такая услуга пользуется большой популярностью среди путешественников, поскольку позволяет одновременно перевезти как пассажира, так и габаритный груз на вокзал или аэропорт. Кроме того, такой вид перевозки гарантирует сохранность вашего багажа и не создает неудобства ни клиенту, ни водителю.
				+e.IMG.image._universal.img-center(src='assets/images/tariffs/universal/universal-baggage_400x300jpg.jpg' width='400' height='300' title='такси универсал багаж' alt='такси универсал багаж')
				+e.P.text.no-indent
					strong Такси универсал Москва недорого 
					| – экономьте деньги и время с комфортом.
				+e.P.text Наша служба такси работает в сфере перевозки пассажиров и габаритного груза в Москве и области. Мы предлагаем наилучшие условия и тарифы. Нам доверяют тысячи клиентов, а большой автопарк позволяет одновременно обслуживать большие группы клиентов. Такси универсал Москва дешево станет прекрасным решением для тех, кто часто переезжает из города на дачу и наоборот. Багажники наших авто вмещают большое количество груза, что позволяет справиться с задачей мелкого переезда за один раз. Выбирая услуги нашей компании, вы получаете:
				+e.UL.content-list
					li 100% гарантию целостности вашего груза
					li Комфортную и надежную поездку
					li Улыбчивого компетентного водителя
					li Качественный сервис
				+e.P.text Благодаря современному оборудованию и технической оснащенности наших машин мы разработали услугу 
					strong «такси универсал фиксированный тариф». 
					|С помощью данной услуги вы сможете значительно сэкономить на поездке, поскольку вам не придется доплачивать за лишний багаж. Это особенно удобно для тех пассажиров, которые заказывают 
					strong такси универсал в аэропорт. 
					|По окончанию поездки вы заплатите только ту сумму, которая была озвучена нашим диспетчером. Стоимость поездки будет зависеть только от дальности поездки и сложности маршрута.
				+e.UL.content-list
					li Своевременную подачу машины (до 15 минут)
					li Технически исправные авто
					li Компетентный персонал
					li Поездки 
						strong такси универсал на вокзал 
						|или аэропорт без пробок
					li Фиксированные прозрачные тарифы.
				+e.P.text.no-indent
					strong Такси универсал 
					|– это возможность не задумываться о неудобствах, а наслаждаться каждой минутой поездки.
			+common-services
