include /blocks/common-services/common-services
include /blocks/tariff-info/tariff-info
include /blocks/tariff-district-table/tariff-district-table
include /blocks/tariff-airport-transfer/tariff-airport-transfer
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+tariff-info({title:'Такси Микроавтобус',
										price:4000,
										time:20,
										more:40
										})
			+tariff-district-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
															priceDomodedovo:['4600','4600','4600','4600','4500','4600','4600','4700','4600'],
															priceSheremetevo:['4500','4500','4600','4600','4600','4600','4600','4500','4600'],
															priceVnukovo:['4600','4700','4700','4600','4600','4500','4500','4600','4600'],
															caption:'Тарифы такси Микроавтобус в аэропорт из Москвы'
															})
			+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
															priceDomodedovo:['---','5200','4800'],
															priceSheremetevo:['5200','4500','5300'],
															priceVnukovo:['4800','5300','---'],
															caption:'Тариф такси Микроавтобус на трансфер аэропорт -> аэропорт'
															})
			+tariff-airport-station({distr:'Ж/д вокзал',
															priceDomodedovo:4800,
															priceSheremetevo:4800,
															priceVnukovo:4800,
															caption:'Тариф такси Микроавтобус на трансфер аэропорт -> вокзал'
															})
			+b.about-tariff
				+e.P.text Транспортная служба города Москвы сегодня развивается семимильными шагами. Не отстают от нее и службы такси. В таком разнообразии потенциальному пассажиру очень сложно найти для себя и своего кошелька удобные и выгодные условия поездки, особенно тем, кто передвигается группами. Наша компания предлагает своим клиентам, кроме стандартных машин такси услугу 
					strong «такси микроавтобус». 
					|Вы собрались на пикник или за город большой компанией или с друзьями собираетесь в путешествие? Данная услуга именно для вас.  Это не только возможность добраться с комфортом, но и оптимальное эконом-предложение для вашего кошелька.
				+e.P.text.no-indent
					strong Такси микроавтобус Москва 
					|недорого - лучшее решение для большой компании!
				+e.P.text Наша служба имеет многолетний опыт работы в сфере пассажироперевозок, поэтому мы предлагаем только самые актуальные и востребованные услуги в городе Москва. Наши клиенты - это не только жители и гости столицы, но и крупные корпоративные предприятия и бизнесмены. Мы являемся лидерами по организации экскурсионных перевозок в городе и предлагаем только качественный сервис. 
					strong Такси микроавтобус Москва 
					|от нашей компании – это:
					ul
						li Своевременная подача машины;
						li Современные микроавтобусы с системой кондиционирования;
						li Прозрачные тарифные планы:
						li Компетентные водители высокой квалификации;
						li Грамотные менеджера и диспетчеры;
						li Дополнительные услуги и специальные системы скидок.
				+e.P.text Все автомобили нашего таксопарка проходят тщательное ТО и обслуживаются высококвалифицированными механиками. Мы тщательно следим не только за чистотой в салоне, но и своевременно чистим кондиционеры в авто, чтобы наши клиенты могли дышать чистым воздухом.
				+e.P.text Чтобы 
					strong заказать такси микроавтобус 
					|достаточно воспользоваться нашим сайтом в интернете либо связаться с менеджером по обслуживанию клиентов по телефону. Также на сайте вы сможете подобрать тот, микроавтобус, который будет соответствовать вашим требованиям и количеству пассажиров. Для корпоративных клиентов возможна организация поездки машинами 
					strong такси микроавтобус в аэропорт. 
					|Такие поездки рекомендуется заказывать за 3-4 часа до предполагаемого выезда.
				+e.P.text Мы постоянно следим за средней стоимостью транспортных услуг, поэтому спешим предложить своим клиентам лучшие тарифы на поездку. 
					strong Такси микроавтобус недорого в Москве 
					|– это реально с нашей компанией. Забудьте про неудобные седаны и передвигайтесь большой компанией с комфортом и улыбкой на лице!
			+common-services
