mixin top-menu(items)
	+b.NAV.top-menu&attributes(attributes)
		+e.UL.list.container
			+e.LI.item
				+e.A.link.link(href='') Тарифы
				+e.UL.sub-list
					li
						a.link(href='') Эконом
					li
						a.link(href='') Комфорт
					li
						a.link(href='') Бизнес
					li
						a.link(href='') Универсал
					li
						a.link(href='') Минивен
					li
						a.link(href='') Микроавтобус
			+e.LI.item
				+e.A.link.link(href='') Такси в аэропорт
			+e.LI.item
				+e.A.link.link(href='') Такси на вокзал
			+e.LI.item
				+e.A.link.link(href='') Такси по округам
			+e.LI.item
				+e.A.link.link(href='') Такси межгород
			+e.LI.item
				+e.A.link.link(href='') Услуги
