.top-menu
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		align-content center
		margin-bottom 0
	&__sub-list
		display none
	&__item
		position relative
		margin-right 20px
		&:hover .sub-menu
			left -20px
			opacity 1
			transition opacity .4s ease
		&:last-child
			margin-right 0
	&__link
		display block
		color $c_black
		font-family $base-font2
		font-size 22px
		line-height 80px
		font-weight 400
		&:hover
			color $c_yellow
.down-arrow
	position relative
	&:after
		position absolute
		content ''
		top calc(50% - 2px)
		right -12px
		width: 0
		height: 0
		border-style: solid
		border-width: 8px 4px 0 4px
		border-color: $c_black transparent transparent transparent
		opacity .5
