include /blocks/sub-menu/sub-menu
mixin top-menu(items)
	+b.NAV.top-menu#navigation.navigation
		.nav-header
			//- a.nav-brand(href='#') Navigation
			.nav-toggle
		.nav-menus-wrapper
			+e.UL.list.nav-menu
				+e.LI.item
					a(href='tariffs.html') Тарифы
					+sub-menu({'Эконом':'tariff-econom.html',
										'Комфорт':'tariff-comfort.html',
										'Универсал':'tariff-universal.html',
										'Бизнес':'tariff-biznes.html',
										'Минивэн (6 мест)':'tariff-miniven-6.html',
										'Минивэн (8 мест)':'tariff-miniven-8.html',
										'Микроавтобус':'tariff-minibus.html'
										})
				+e.LI.item
					a(href='airport.html') Такси в аэропорт
					ul.nav-dropdown
						li
							a(href='airport-vnukovo.html') Внуково
							ul.nav-dropdown
								li
									a(href='vnukovo-balashiha.html') Балашиха - Внуково
								li
									a(href='vnukovo-korolev.html') Королев - Внуково
								li
									a(href='vnukovo-mytischi.html') Мытищи - Внуково
								li
									a(href='vnukovo-odincovo.html') Одинцово - Внуково
								li
									a(href='vnukovo-hymki.html') Химки - Внуково
						li
							a(href='airport-domodedovo.html') Домодедово
							ul.nav-dropdown
								li
									a(href='domodedovo-zelenograd.html') Зеленоград - Домодедово
								li
									a(href='domodedovo-korolev.html') Королев - Домодедово
								li
									a(href='domodedovo-krasnogorsk.html') Красногорск - Домодедово
								li
									a(href='domodedovo-lubertsi.html') Люберцы - Домодедово
								li
									a(href='domodedovo-mytishchi.html') Мытищи - Домодедово
								li
									a(href='domodedovo-odincovo.html') Одинцово - Домодедово
								li
									a(href='domodedovo-podolsk.html') Подольск - Домодедово
								li
									a(href='domodedovo-ramenskoe.html') Раменское - Домодедово
								li
									a(href='domodedovo-hymki.html') Химки - Домодедово
						li
							a(href='airport-sheremetevo.html') Шереметьево
							ul.nav-dropdown
								li
									a(href='sheremetevo-vidnoe.html') Видное - Шереметьево
								li
									a(href='sheremetevo-lubertsi.html') Люберцы - Шереметьево
								li
									a(href='sheremetevo-odincovo.html') Одинцово - Шереметьево
								li
									a(href='sheremetevo-troitsk.html') Троицк - Шереметьево
								li
									a(href='sheremetevo-shcherbinka.html') Щербинка - Шереметьево
				+e.LI.item
					a(href='stations.html') Такси на вокзал
					+sub-menu({'Белорусский':'belorusskiy.html',
										'Казанский':'kazanskiy.html',
										'Киевский ':'kievskiy.html',
										'Курский':'kurskiy.html',
										'Ленинградский':'leningradskiy.html',
										'Павелецкий':'paveleckiy.html',
										'Рижский':'rizhskiy.html',
										'Савеловский':'savelovskiy.html',
										'Ярославский':'yaroslavskiy.html'
										})
				+e.LI.item
					a(href='#') Такси межгород
					+sub-menu({'Москва - Владимир':'taxi-moscow-vladimir.html',
										'Москва - Иваново':'taxi-moscow-ivanovo.html',
										'Москва - Ярославль':'taxi-moscow-yaroslavl.html',
										'Москва - Санкт-Петербург':'taxi-moscow-sankt-peterburg.html',
										'Москва - Нижний Новгород':'taxi-moscow-nizhniy-novgorod.html',
										'Москва - Рязань':'taxi-moscow-ryazan.html',
										'Москва - Калуга':'taxi-moscow-kaluga.html'
										})
				+e.LI.item
					a(href='#') Услуги
					+sub-menu({'Прикурить автомобиль':'start-the-car.html',
										'Такси в область':'region-taxi.html'})
