mixin top-menu(items)
	+b.NAV.top-menu&attributes(attributes)
		+e.UL.list.container
			+e.LI.item
				+e.A.link.link(href='') Тарифы
			+e.LI.item
				+e.A.link.link(href='') Такси в аэропорт
			+e.LI.item
				+e.A.link.link(href='') Такси на вокзал
			+e.LI.item
				+e.A.link.link(href='') Такси по округам
			+e.LI.item
				+e.A.link.link(href='') Такси межгород
			+e.LI.item
				+e.A.link.link(href='') Услуги
