// // #menu ul {
// //   margin: 0;
// //   padding: 0;
// // }
// // 
// // #menu .top-menu__list {
// //   display: none;
// // }
// // 
// // #tm:checked + .top-menu__list {
// //   display: block;
// // }
// // 
// // #menu input[type="checkbox"], 
// // #menu ul span.drop-icon {
// //   display: none;
// // }
// // 
// // #menu li, 
// // #toggle-menu, 
// // #menu .sub-menu {
// //   border-style: solid;
// //   border-color: rgba(0, 0, 0, .05);
// // }
// // 
// // #menu li, 
// // #toggle-menu {
// //   border-width: 0 0 1px;
// // }
// // 
// // #menu .sub-menu {
// //   background-color: #444;
// //   border-width: 1px 1px 0;
// //   margin: 0 1em;
// // }
// // 
// // #menu .sub-menu li:last-child {
// //   border-width: 0;
// // }
// // 
// // #menu li, 
// // #toggle-menu, 
// // #menu a {
// //   position: relative;
// //   display: block;
// //   color: white;
// //   text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
// // }
// // 
// // #menu, 
// // #toggle-menu {
// //   background-color: #09c;
// // }
// // 
// // #toggle-menu, 
// // #menu a {
// //   padding: 1em 1.5em;
// // }
// // 
// // #menu a {
// //   transition: all .125s ease-in-out;
// //   -webkit-transition: all .125s ease-in-out;
// // }
// // 
// // #menu a:hover {
// //   background-color: white;
// //   color: #09c;
// // }
// // 
// // #menu .sub-menu {
// //   display: none;
// // }
// // 
// // #menu input[type="checkbox"]:checked + .sub-menu {
// //   display: block;
// // }
// // 
// // #menu .sub-menu a:hover {
// //   color: #444;
// // }
// // 
// // #toggle-menu .drop-icon, 
// // #menu li label.drop-icon {
// //   position: absolute;
// //   right: 1.5em;
// //   top: 1.25em;
// // }
// // 
// // #menu label.drop-icon, #toggle-menu span.drop-icon {
// //   border-radius: 50%;
// //   width: 1em;
// //   height: 1em;
// //   text-align: center;
// //   background-color: rgba(0, 0, 0, .125);
// //   text-shadow: 0 0 0 transparent;
// //   color: rgba(255, 255, 255, .75);
// // }
// // 
// // #menu .drop-icon {
// //   line-height: 1;
// // }
// // 
// // @media only screen and (max-width: 64em) and (min-width: 52.01em) {
// //   #menu li {
// //     width: 33.333%;
// //   }
// // 
// //   #menu .sub-menu li {
// //     width: auto;
// //   }
// // }
// // 
// // @media only screen and (min-width: 52em) {
// //   #menu .top-menu__list {
// //     display: block;
// //   }
// // 
// //   #toggle-menu, 
// //   #menu label.drop-icon {
// //     display: none;
// //   }
// // 
// //   #menu ul span.drop-icon {
// //     display: inline-block;
// //   }
// // 
// //   #menu li {
// //     float: left;
// //     border-width: 0 1px 0 0;
// //   }
// // 
// //   #menu .sub-menu li {
// //     float: none;
// //   }
// // 
// //   #menu .sub-menu {
// //     border-width: 0;
// //     margin: 0;
// //     position: absolute;
// //     top: 100%;
// //     left: 0;
// //     width: 12em;
// //     z-index: 3000;
// //   }
// // 
// //   #menu .sub-menu, 
// //   #menu input[type="checkbox"]:checked + .sub-menu {
// //     display: none;
// //   }
// // 
// //   #menu .sub-menu li {
// //     border-width: 0 0 1px;
// //   }
// // 
// //   #menu .sub-menu .sub-menu {
// //     top: 0;
// //     left: 100%;
// //   }
// // 
// //   #menu li:hover > input[type="checkbox"] + .sub-menu {
// //     display: block;
// //   }
// // }
// .top-menu
// 	@media (max-width: 768px)
// 		order 2
// 	&__toggle
// 		display none
// 	&_closed .top-menu__toggle
// 		@media (max-width: 380px)
// 			display block
// 			font-size 0
// 			border none
// 			outline none
// 		&:before 
// 			content: "";
// 			position: absolute;
// 			top 55px
// 			right: 35px;
// 			z-index: 13;
// 			width: 30px;
// 			height: 30px;
// 			transition: opacity 0.3s ease;
// 			background: url("../images/menu-open.svg") no-repeat 50% 50%;
// 			background-size: 30px 30px;
// 	&_opened .top-menu__toggle
// 		@media (max-width: 380px)
// 			display block
// 			font-size 0
// 			border none
// 			outline none
// 		&:before 
// 			content: "";
// 			position: absolute;
// 			top 55px
// 			right: 35px;
// 			z-index: 13;
// 			width: 30px;
// 			height: 30px;
// 			transition: opacity 0.3s ease;
// 			background: url("../images/menu-close.svg") no-repeat 50% 50%;
// 			background-size: 30px 30px;
// 	
// 	&__list
// 		display -webkit-flex
// 		display -ms-flex
// 		display flex
// 		align-content center
// 		margin-bottom 0
// 		@media (max-width: 380px)
// 			display none
// 			width 100%
// 			border-top 1px solid $c_yellow
// 	&__sub-list
// 		display none
// 	&__item
// 		position relative
// 		margin-right 20px
// 		@media (max-width: 380px)
// 			margin-right 0
// 			border-bottom 1px solid $c_yellow
// 		// @media (max-width: 380px)
// 		// 	&:hover .sub-menu
// 		// 		position relative
// 		// 		display block
// 		// 		left 0
// 		// 		opacity 1
// 		// 		animation subNav .5s ease-in-out
// 		// 	@media (max-width: 380px)
// 		// 		pointer-events:none
// 		// 		position relative
// 		// 		left 0
// 		// 		opacity 1
// 		// 		transition none
// 		&:hover ul.sub-menu
// 			display block
// 			left -20px
// 			opacity 1
// 			transition opacity .4s ease
// 		&:last-child
// 			margin-right 0
// 			border-bottom none
// 	&__link
// 		position relative
// 		display block
// 		color $c_black
// 		font-family $base-font2
// 		font-size 22px
// 		line-height 80px
// 		font-weight 400
// 		&:hover
// 			color $c_yellow
// 		@media (max-width: 1024px)
// 			font-size 18px
// 		@media (max-width: 768px)
// 			font-size 18px
// 		@media (max-width: 380px)
// 			padding-top 15px
// 			padding-bottom 15px
// 			padding-left 50px
// 			font-size 20px
// 			line-height 16px
// .down-arrow
// 	position relative
// 	&:after
// 		position absolute
// 		content ''
// 		top calc(50% - 2px)
// 		right -12px
// 		width: 0
// 		height: 0
// 		border-style: solid
// 		border-width: 8px 4px 0 4px
// 		border-color: $c_black transparent transparent transparent
// 		opacity .5
// 		@media (max-width: 1024px)
// 			right -10px
// 			top calc(50% - 1px)
// 			border-width: 6px 3px 0 3px
// 		@media (max-width: 380px)
// 			display none
// 			// right 20%
// .accordion-toggle
// 	position absolute
// 	top 0
// 	right: 0
// 	width 50px
// 	z-index: 999;
// 	padding-top: 30px;
// 	padding-bottom: 15px;
// 	font-size: 16px;
// 	line-height: 25px;
// 	border-left: 1px solid #E7E7E7;
// 	border-right: 1px solid #E7E7E7;
// 	-webkit-transition: all 0.25s ease;
// 	transition: all 0.25s ease;
// 	&:before
// 		content ''
// 		position absolute
// 		top calc(50% - 8px)
// 		right calc(50% - 8px)
// 		width: 16px;
// 		height: 16px;
// 		border 3px solid #ccc
// 		border-left none
// 		border-top none
// 		background-color transparent
// 		transform rotate(45deg)
// 		// border-style: solid;
// 		// border-width: 16px 8px 0 8px;
// 		// border-color: #007bff transparent transparent transparent;
// .toggle-background 
// 	background: #E7E7E7
// .toggle-rotate 
// 	transform: rotate(180deg)
// @keyframes subNav
// 	0%
// 		opacity 0
// 	100%
// 		opacity 1

// .nav-brand a {
//   display: block;
//   padding: 11px 11px 11px 20px;
//   color: #333;
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   font-size: 22px;
//   font-weight: normal;
//   line-height: 17px;
//   text-decoration: none;
// }

/****************************************
*****************************************
CORE STYLES
*****************************************
****************************************/

/*=== NAVIGATION ======================*/
.navigation, 
.navigation *{
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
.navigation{
	width: 100%;
	height: 70px;
	display: table;
	position: relative;
	font-family: inherit;
	background-color: #fff;
}
.navigation-portrait{
	height: 48px;
}

/* Fixed navigation */
.navigation-fixed{
	position: fixed;
	top: 0;
	left: 0;
}

/* Hidden navigation */
.navigation-hidden{
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

/*=== RIGHT ALIGMENT FOR ELEMENTS =======*/
.align-to-right{
	float: right;
}

/*=== NAVIGATION HEADER =================*/
.nav-header{
	float: left;
}

/* Header in hidden navigation */
.navigation-hidden .nav-header{
	display: none;
}

/*=== BRAND TEXT ========================*/
.nav-brand{  
	line-height: 70px;
	padding: 0 15px;
	color: #70798b;
	font-size: 24px;
	text-decoration: none !important;
}
.nav-brand:hover,
.nav-brand:focus{
	color: #70798b;
}
.navigation-portrait .nav-brand{
	font-size: 18px;
	line-height: 48px;
}

/*=== IMAGE LOGO ========================*/
.nav-logo > img{
	height: 48px;
	margin: 11px auto;
	padding: 0 15px;
	float: left;
}
.nav-logo:focus > img{
	outline: initial;
}
.navigation-portrait .nav-logo > img{
	height: 36px;
	margin: 6px auto 6px 15px;
	padding: 0;
}

/*=== TOGGLE BUTTON =====================*/
.nav-toggle{
	width: 30px;
	height: 30px;
	padding: 6px 2px 0;
	position: absolute;
	top: 50%;
	margin-top: -14px;
	right: 15px;
	display: none;
	cursor: pointer;
}
.nav-toggle:before{
	content: "";
	position: absolute;
	width: 24px;
	height: 2px;
	background-color: #70798b;
	border-radius: 10px;
	box-shadow: 0 0.50em 0 0 #70798b, 0 1em 0 0 #70798b;
}
.navigation-portrait .nav-toggle{
	display: block;
}

/*=== NAVIGATION MENUS WRAPPER ===========*/
/*=== (OFFCANVAS PANEL ON MOBILE) ========*/
.navigation-portrait .nav-menus-wrapper{
	width: 320px;
	height: 100%;
	top: 0;
	left: -400px;
	position: fixed;
	background-color: #fff;
	z-index: 20000;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition-duration: .8s;
	transition-timing-function: ease;
}

/* Offcanvas on right side */
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right{
	left: auto;
	right: -400px;
}

/* Offcanvas open */
.nav-menus-wrapper.nav-menus-wrapper-open{
	left: 0;
}
.nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open{
	right: 0;
}

/* Close button for Offcanvas */
.nav-menus-wrapper-close-button{
	width: 30px;
	height: 40px;
	margin: 10px 7px;
	display: none;
	float: right;
	color: #70798b;
	font-size: 26px;
	cursor: pointer;
}
.navigation-portrait .nav-menus-wrapper-close-button{
	display: block;
}

/*=== MENUS (FIRST LEVEL) ===============*/
.nav-menu{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}
.navigation-portrait .nav-menu{
	width: 100%;
}

/* Centered menu */
.navigation-landscape .nav-menu.nav-menu-centered{
	float: none;
	text-align: center;
}

/* Menu itens */
.nav-menu > li{
	display: inline-block;
	float: left;
	text-align: left;
}
.navigation-portrait .nav-menu > li{
	width: 100%;
	position: relative;
	border-top: solid 1px #f0f0f0;
}
.navigation-portrait .nav-menu > li:last-child{
	border-bottom: solid 1px #f0f0f0;
}
.nav-menu + .nav-menu > li:first-child{
	border-top: none;
}

/* Menu items in centered menus */
.navigation-landscape .nav-menu.nav-menu-centered > li{
	float: none;
}

/* Menu links */
.nav-menu > li > a{
	height: 70px;
	padding: 26px 15px;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	color: #70798b;
	transition: color .3s, background .3s;
}
.navigation-portrait .nav-menu > li > a{
	height: auto;
}
.nav-menu > li:hover > a,
.nav-menu > .active > a,
.nav-menu > .focus > a{
	color: #A0D468;
}
.navigation-portrait .nav-menu > li > a{
	width: 100%;
	padding: 12px 15px 12px 26px;
}

/* Menu item with icons and text */
.nav-menu > li > a > i,
.nav-menu > li > a > [class*="ion-"]{
	width: 18px;
	height: 16px;
	line-height: 16px;
	-ms-transform: scale(1.4);
	transform: scale(1.4);
}
.nav-menu > li > a > [class*="ion-"]{
	width: 16px;
	display: inline-block;
	transform: scale(1.8);
}

/* Menu item with social icons */
.navigation-portrait .nav-menu.nav-menu-social{
	width: 100%;
	text-align: center;
}
.nav-menu.nav-menu-social > li{
	text-align: center;
	float: none;
	border: none !important;
}
.navigation-portrait .nav-menu.nav-menu-social > li{
	width: auto;
}
.nav-menu.nav-menu-social > li > a > [class*="ion-"]{
	font-size: 12px;
}
.nav-menu.nav-menu-social > li > a > .fa{
	font-size: 14px;
}
.navigation-portrait .nav-menu.nav-menu-social > li > a {
	padding: 15px;
}

/*=== SUBMENU INDICATORS ================*/
.submenu-indicator{
	margin-left: 6px;
	margin-top: 6px;
	float: right;
	transition: all .3s;
}
.navigation-portrait .submenu-indicator{
	width: 54px;
	height: 44px;
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	z-index: 20000;
}

/* Chevron icon */
.submenu-indicator-chevron{
	height: 6px;
	width: 6px;
	display: block;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: transparent #70798b #70798b transparent;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: border .3s;
}
.navigation-portrait .submenu-indicator-chevron{
	position: absolute;
	top: 18px;
	left: 24px;
}

.nav-menu > li:hover > a .submenu-indicator-chevron,
.nav-menu > .active > a .submenu-indicator-chevron,
.nav-menu > .focus > a .submenu-indicator-chevron{
	border-color: transparent #A0D468 #A0D468 transparent;
}

/* Indicator to up */
.navigation-portrait .submenu-indicator.submenu-indicator-up{
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

/*=== OVERLAY PANEL =====================*/
.nav-overlay-panel{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: none;
	z-index: 19999;
}

/* Prevent scrolling on body */
.no-scroll{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/****************************************
*****************************************
ADITIONAL STYLES
Check the features below and delete the
styles that you are not using
*****************************************
****************************************/

/*=== SEARCH PANEL ====================*/
.nav-search{
	height: 70px;
	float: right;
	z-index: 19998;
}
.navigation-portrait .nav-search{
	height: 48px;
	padding: 0 10px;
	margin-right: 52px;
}

/* Search in hidden navigation */
.navigation-hidden .nav-search{
	display: none;
}

/* Search button */
.nav-search-button{
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	background-color: #fbfcfd;
}

/* Search icon */ 
.nav-search-icon{
	width: 14px;
    height: 14px;
	margin: 2px 8px 8px 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #70798b;
    text-align: left;
    text-indent: -9999px;
	border: 2px solid;
	border-radius: 50%;
	-webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
	transition: color .3s;
}
.nav-search-icon:after, 
.nav-search-icon:before {
    content: '';
    pointer-events: none;
}
.nav-search-icon:before {
    width: 2px;
    height: 11px;
    top: 11px;
	position: absolute;
    left: 50%;
	border-radius: 0 0 1px 1px;
	box-shadow: inset 0 0 0 32px;
	transform: translateX(-50%);
}
.nav-search-button:hover .nav-search-icon{
	color: #A0D468;
}
.navigation-portrait .nav-search-button{
	width: 50px;
	height: 48px;
	line-height: 46px;
	font-size: 22px;
}

/* Form */
.nav-search > form{
	width: 100%;
	height: 100%;
	padding: 0 auto;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 99;
}
.nav-search-inner{
	width: 70%;
	height: 70px;
	margin: auto;
	display: table;
}
.navigation-portrait .nav-search-inner{
	height: 48px;
}

.nav-search-inner input[type=text],
.nav-search-inner input[type=search]{
	height: 70px;
	width: 100%;
	margin: 0;
	padding: 0 12px;
	font-size: 26px;
	text-align: center;
	color: #70798b;
	outline: none;
	line-height: 70px;
	border: none;
	background-color: transparent;
	transition: all .3s;
}
.navigation-portrait .nav-search-inner input[type=text],
.navigation-portrait .nav-search-inner input[type=search]{
	height: 48px;
	font-size: 18px;
	line-height: 48px;
}

/* Close button for search form */
.nav-search-close-button{
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	line-height: normal;
	color: #70798b;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
}
.navigation-portrait .nav-search-close-button{
	top: 10px;
	right: 14px;
}

/*=== NAVIGATION BUTTON ================*/
.nav-button{
	margin: 18px 15px 0;
	padding: 8px 14px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	background-color: #A0D468;
	transition: opacity .3s;
}
.nav-button:hover,
.nav-button:focus{
	color: #fff;
	text-decoration: none;
	opacity: 0.85;
}
.navigation-portrait .nav-button{
	width: calc(100% - 52px);
	margin: 17px 26px;
}

/*=== NAVIGATION TEXT ==================*/
.nav-text{
	margin: 25px 15px;
	display: inline-block;
	color: #70798b;
	font-size: 14px;
}
.navigation-portrait .nav-text{
	width: calc(100% - 52px);
	margin: 12px 26px 0;
}
.navigation-portrait .nav-text + ul{
	margin-top: 15px;
}


/*=== DROPDOWN ========================*/
.nav-dropdown{
	min-width: 180px;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	list-style: none;
	z-index: 98;
	white-space: nowrap;
}
.navigation-portrait .nav-dropdown{
	width: 100%;
	position: static;
	left: 0;
}
.nav-dropdown .nav-dropdown{
	left: 100%;
}
.nav-menu > li > .nav-dropdown{
	border-top: solid 1px #f0f0f0;
}

/* Dropdown items */
.nav-dropdown > li{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	text-align: left;
}
.nav-dropdown > li > a{
	width: 100%;
	padding: 16px 20px;
	display: inline-block;
	text-decoration: none;
	float: left;
	font-size: 13px;
	color: #70798b;
	background-color: #fdfdfd;
	transition: color .3s, background .3s;
}
.nav-dropdown > li:hover > a,
.nav-dropdown > .focus > a{
	color: #A0D468;
}

/* Dropdown to left */
.nav-dropdown.nav-dropdown-left{
	right: 0;
}
.nav-dropdown > li > .nav-dropdown-left{
	left: auto;
	right: 100%;
}
.navigation-landscape .nav-dropdown-left > li > a{
	text-align: right;
}

/* Dropdown indentation (until the fifth level) */
.navigation-portrait .nav-dropdown > li  > a{
	padding: 12px 20px 12px 30px;
}
.navigation-portrait .nav-dropdown > li  > ul > li  > a{
	padding-left: 50px;
}
.navigation-portrait .nav-dropdown > li  > ul > li  > ul > li  > a{
	padding-left: 70px;
}
.navigation-portrait .nav-dropdown > li  > ul > li  > ul > li  > ul > li  > a{
	padding-left: 90px;
}
.navigation-portrait .nav-dropdown > li  > ul > li  > ul > li  > ul > li  > ul > li  > a{
	padding-left: 110px;
}

/*=== SUBMENU INDICATORS ==============*/
.nav-dropdown .submenu-indicator{
	right: 15px;	
	top: 16px;
	position: absolute;
}
.navigation-portrait .submenu-indicator{
	right: 0;
	top: 0;
}
.nav-dropdown .submenu-indicator .submenu-indicator-chevron{
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron{
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-dropdown > li:hover > a .submenu-indicator-chevron,
.nav-dropdown > .focus > a .submenu-indicator-chevron{
	border-color: transparent #A0D468 #A0D468 transparent;
}

/* Submenu indicator to left */
.navigation-landscape .nav-dropdown-left .submenu-indicator{
	left: 10px;	
}
.navigation-landscape .nav-dropdown-left .submenu-indicator .submenu-indicator-chevron{
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}
