include /blocks/common-services/common-services
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.container
			+b.SECTION.about-stations
				+e.H1.title.heading._h2.taxi-icon Такси на Савеловский вокзал
				+e.P.text С наступлением холодов движение в столице замедляется, а количество пробок на подъезде к городу увеличивается. Добраться вовремя на работу из Подмосковья становиться очень трудно, поэтому многие отдают предпочтения пригородным электропоездам. Савеловский вокзал является единственным вокзалом в Москве, куда прибывают только пригородные электрички, поэтому в будний день он достаточно загружен.
				+e.P.text В связи с большим пассажиропотоком на территории вокзала предлагают свои услуги машины такси, которые помогут с комфортом добраться до конечного пункта назначения. Однако, цены частных перевозчиков, как правило, завышены, а качество услуг оставляет желать лучшего. Поэтому если вам необходимо добраться на
					strong такси с Савеловского вокзала в аэропорт 
					|или по городу, лучше воспользоваться услугами нашей компании.
				+tariff-airport-station({distr:'"Савеловский" вокзал',
																priceDomodedovo:1300,
																priceSheremetevo:1300,
																priceVnukovo:1300,
																caption:'Тарифы такси Эконом на трансфер аэропорт -> вокзал'
																})
				+e.IMG.image._savelovskiy-station.img-center(src='assets/images/stations/savelovskiy/savelovskiy-station_400x201.jpg' width='400' height='201' title='Савеловский вокзал' alt='Савеловский вокзал')
				+e.P.text.no-indent
					strong Такси на Савеловский вокзал 
					|– комфортно, надежно, практично.
				+e.P.text Наша служба выполняет пассажироперевозки 24/7. Основной нашей деятельностью является транспортировка гостей и жителей мегаполиса на вокзалы и аэропорты Москвы. Мы предоставляем такие услуги как:
					ul
						li
							strong Такси Савеловский вокзал - Домодедово
						li
							strong Такси от Савеловского вокзала
							|по фиксированной цене
						li Встреча и сопровождение из аэропорта, вокзалов
						li Драйвер - для тех, кто ценит свой комфорт и личное пространство
						li Экскурсионные мероприятия и многое другое
				+e.P.text Наш таксопарк оснащен новейшими авто, которые ежедневно проходят тщательный осмотр нашим механиком. Мы следим за чистотой в салоне авто и ответственно подходим к безопасности пассажира во время поездки. Все машины оснащены дополнительными ремнями, а для самых маленьких пассажиров мы предоставляем специальное автокресло. Наши сотрудники - это опытные менеджера и высококлассные водители, которые ежегодно проходят обучение и постоянно работают над улучшением качества сервиса.
					|Ценовая политика нашей компании разработана с учетом интересов пассажиров. Ежедневно мы отслеживаем среднюю стоимость на аналогичные услуги, чтобы предложить вам
					strong такси Москва - Савеловский вокзал 
					|по самым выгодным тарифам. Как правило, стоимость маршрута будет зависеть от дальности поездки и модели автомобиля.
				+e.IMG.image._savelovskiy-station.img-center(src='assets/images/stations/savelovskiy/savelovskiy-station-night_400x283.jpg' width='400' height='283' title='Савеловский вокзал ночью' alt='Савеловский вокзал ночью')
				+e.P.text Для того, чтобы воспользоваться услугой
					strong «такси Савеловский вокзал дешево» 
					|достаточно заполнить онлайн форму на нашем сайте либо связаться с нашим диспетчером. Кроме того, на электронной страничке вы можете  рассчитать предварительную стоимость вашей поездки с помощью специального калькулятора. Комфорт, чистота, безопасность и дорога без пробок – все это услуга
					strong «такси Савеловский вокзал». Телефон 
					|для связи указан на нашем сайте и с его помощью вы можете также оставлять свои пожелания и благодарности.

				+common-services
