.page-footer
	min-height 500px
	padding-top 100px
	background url(../images/header-bg.png) no-repeat 50% bottom
	&__site-map
		display block
		width 250px
		margin 0 auto
		text-align center
		color $c_white
		font-size 16px
