include /blocks/callback-form/callback-form
include /blocks/socials/socials
mixin footer()
	+b.FOOTER.page-footer&attributes(attributes)
		+e.inner.container
			+callback-form
			+socials
			+e.A.site-map(href='sitemap.html') Карта сайта
