mixin reviews()
	+b.SECTION.reviews&attributes(attributes)
		+e.H2.title.heading.heading._h2 Отзывы
		+e.UL.list
			+e.LI.item
				+e.P.review-text Такси приехало быстро, приятный водитель, все устроило
				+e.P.review-name Александр
			+e.LI.item
				+e.P.review-text Такси приехало быстро, приятный водитель, все устроило
				+e.P.review-name Александр
			+e.LI.item
				+e.P.review-text Такси приехало быстро, приятный водитель, все устроило
				+e.P.review-name Александр
		+e.A.add-review.link(href='') Оставьте свой отзыв
