.reviews
	margin-bottom 20px
	@media (max-width: 425px)
		display none
	&__title
		margin-bottom 60px
		text-align center
	&__slider
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content: center;
		margin-bottom 60px
		@media (max-width: 1024px)
			margin-bottom 30px
	&__slider-item
		width 250px
		margin-right 50px
		color $c_black
		font-family $base-font
		font-size 19px
		text-align center
	&__review-text
		margin-bottom 10px
		text-align left
	&__review-name
		border-bottom 1px dashed
	&__add-review
		display block
		width 240px
		min-height 40px
		margin 0 auto
		color $c_black
		font-family $base-font
		font-size 19px
		line-height 40px
		background-color $c_white
		text-align center
