.callback-form
	margin-bottom 70px
	@media (max-width: 1024px)
		margin-bottom 40px
	@media (max-width: 768px)
		margin-bottom 40px
	@media (max-width: 320px)
		display none
	&__title
		margin-bottom 30px
		color $c_white
		font-family $h-font
		font-size 41px
		font-weight 400
		text-align center
		@media (max-width: 1024px)
			margin-bottom 15px
		@media (max-width: 768px)
			margin-bottom 15px
	&__form
		text-align center
	&__form-input
		width 224px
		min-height 40px
		margin-right 30px
		padding-left 15px
		line-height 40px
		border 2px solid $c_black
	&__submit
		display block
		width 224px
		min-height 42px
		margin 0 auto
		line-height 42px
		color $c_black
		font-family $base-font
		font-size 19px
		border none
		background-color $c_white
		text-align center
		border-radius 5px
