mixin socials()
	+b(class='socials')&attributes(attributes)
		+e.UL(class='list')
			+e.LI(class='item')
				+e.A.link._vk.link(href='https://vk.com/taximoscow495' target='_blank') vkontact
					+icon('vk', 46, 46)
			+e.LI(class='item')
				+e.A.link._facebook.link(href='https://www.facebook.com/groups/1014505595361605' target='_blank') facebook
					+icon('facebook', 40, 42)
			+e.LI(class='item')
				+e.A.link._instagram.link(href='https://www.instagram.com/taxi_moscow495' target='_blank') instagram
					+icon('instagram', 40, 42)
			+e.LI(class='item')
				+e.A.link._twitter.link(href='https://twitter.com/Taxi_Moscow495' target='_blank') twitter
					+icon('twitter', 40, 42)
			+e.LI(class='item')
				+e.A.link._twitter.link(href='https://ok.ru/group/53073527963794' target='_blank') odnoklassniki
					+icon('odnoklassniki-logo', 40, 42)
			+e.LI(class='item')
				+e.A.link._twitter.link(href='https://plus.google.com/u/0/110710119950643533055' target='_blank') google+
					+icon('google-plus', 40, 42)
			+e.LI(class='item')
				+e.A.link._twitter.link(href='https://my.mail.ru/community/taxi-moscow495.ru/?ref=' target='_blank') Мой мир
					+icon('moy-mir', 40, 42)
