mixin socials(obj)
	+b(class='socials')&attributes(attributes)
		+e.UL(class='list')
			+e.LI(class='item')
				+e.A.link._vk.link(href='https://vk.com/id268045389' target='_blank') vkontact
					+icon(obj.name1, 31, 17)
			+e.LI(class='item')
				+e.A.link._github.link(href='https://github.com/stakeout' target='_blank') github
					+icon(obj.name2, 26, 22)
			+e.LI(class='item')
				+e.A.link._linkedin.link(href='#' target='_blank') linkedin
					+icon(obj.name3, 24, 22)
