include /blocks/common-services/common-services
include /blocks/tariff-info/tariff-info
include /blocks/tariff-district-table/tariff-district-table
include /blocks/tariff-airport-transfer/tariff-airport-transfer
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+tariff-info({title:'Такси Комфорт',
										price:450,
										time:8,
										more:28
										})
			+tariff-district-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
															priceDomodedovo:['1200','1200','1200','1200','1100','1200','1200','1200','1200'],
															priceSheremetevo:['1100','1100','1200','1300','1300','1300','1200','1100','1200'],
															priceVnukovo:['1200','1200','1200','1200','1200','1100','1100','1200','1200'],
															caption:'Тарифы такси Комфорт в аэропорт из Москвы'
															})
			+e.IMG.image._comfort.img-center(src='assets/images/tariffs/comfort/taxi-comfort.jpg' width='400' height='290' title='такси комфорт' alt='такси комфорт')
			+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
															priceDomodedovo:['---','1700','1500'],
															priceSheremetevo:['1700','600','1500'],
															priceVnukovo:['1500','1600','---'],
															caption:'Тарифы такси Комфорт на трансфер аэропорт -> аэропорт'
															})
			+tariff-airport-station({distr:'Ж/д вокзал',
															priceDomodedovo:1400,
															priceSheremetevo:1400,
															priceVnukovo:1400,
															caption:'Тарифы такси Комфорт на трансфер аэропорт -> вокзал'
															})
			+b.about-tariff
				+e.P.text Возможность комфортно путешествовать – это не только мечта каждого человека, но и возможность по-настоящему насладиться прелестями и достопримечательностями города. Прибывая в Москву, каждый гость ждет от нее незабываемых впечатлений и ярких событий, однако все может поменяться, если не продумать способ передвижения по мегаполису. Наилучшим решением в такой ситуации станет услуга 
					strong такси комфорт - класса
					|. Данный вид услуг такси отличается от обычных тем, что дает возможность не только удобно передвигаться по городу, но и рассмотреть красочные места города.
				+e.P.text Наша компания является одним из лидеров по перевозке пассажиров машинами повышенного комфорта. Наш автопарк- это гордость, поскольку нам удалось собрать автомобили, обладающие не только высокими техническими характеристикам, но и уютными салонами с дополнительными функциями. Только у нас вы сможете подобрать именно тот автомобиль, который соответствует вашему сегодняшнему настроению или предпочтениям. Для вашего удобства, мы внесли список авто в базу на нашем сайте, где вы сможете сделать предварительный заказ на поездку.
				+e.P.text Сотрудники нашей компании - это компетентные, вежливые специалисты, которые готовы ответить на любой интересующий вопрос и помогают подобрать именно ту машину, которая подходит основным критериям клиента. Водители такси комфорт имеют большой стаж вождения и прошли специальное обучение перед тем, как сесть за руль наших авто. Вы можете быть уверены в том, что ваша поездка не будет сопровождаться пошлыми анекдотами или шансоном.
					|Наш девиз – безопасность клиента прежде всего, поэтому наши механики тщательно следят за техническим состоянием автомобиля и ежедневно перед каждым выездом авто на службу проверяют его на исправность. По предварительному согласованию с диспетчером вы имеете возможность воспользоваться услугами машины с детским автокреслом, чтобы поездка была удобна не только вам, но и вашему малышу. Если вы находитесь не в городе, закажите предварительно 
					strong такси комфорт. Телефон 
					|нашей службы работает круглосуточно, а предварительные заказы принимаются мгновенно.
				+e.P.text
					strong Заказать такси комфорт 
					|вы можете на нашем сайте либо с помощью контактных номеров, указанных на интернет-ресурсе. Мы предлагаем услуги 
					strong такси комфорт недорого
					|, поскольку ежедневно мониторим рынок пассажироперевозок, чтобы предложить вам наиболее выгодные тарифы. 
					strong Такси комфорт дешево 
					| в Москве - это реальность, которая существует благодаря нашей службе. Для вас мы создали различные тарифные пакеты, чтобы вы могли не думать о том, что переплатили или могли найти дешевле.
				+e.P.text 
					strong Такси комфорт-Москва 
					| от нашей службы – это возможность удовлетворить свои потребности в уюте в серые будни за небольшие деньги!
			+common-services
