include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Люберцы - Шереметьево 1300 рублей
				p Город Люберцы является одним из самых густозаселенных подмосковных городов. Благодаря небольшой удаленности от столицы, благоприятной экологической ситуации и хорошей транспортной развязке, все больше столичных жителей отдают предпочтение жизни за пределами Москвы. Единственным и существенным недостатком города является плохое железнодорожное сообщение с мегаполисом, что значительно осложняет возможности своевременного прибытия в аэропорт или на вокзал. 
					|В такой ситуации альтернативой может стать услуга службы такси. Однако долгие годы жители Люберец платили колоссальные суммы московским такси за трансфер в аэропорт, поскольку городской компании-перевозчика не существовало. На сегодняшний день, мы являемся первой службой такси, которая внедрила услугу «
					strong такси Люберцы-Шереметьево фиксированная цена
					|». Это значит, что наши пассажиры платят непосредственно за поездку, а все расходы за простой в пробке или ЧП на дороге мы берем на себя.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/sheremetevo/lubertsi_400x266.jpg' width='400' height='266' title='такси Шереметьево-Люберцы' alt='такси Шереметьево-Люберцы')
				p.no-indent Почему 
					strong такси Люберцы-Шереметьево самое дешевое 
					|в городе?
				p Наша компания работает в сфере пассажироперевозок не один год. Имея внушительный стаж, мы смогли разработать внутреннюю политику компании, которая направлена на полное удовлетворение потребностей клиента. 
					strong Такси Люберцы-Шереметьево 
					|– это сравнительно новое предложение, которое за небольшой отрезок времени получило большую популярность среди жителей нашего города. Мы считаем, что низкая цена на услугу, не должна ни каким образом сказываться на ее качестве. 
					|Именно поэтому наша команда постоянно прислушивается к отзывам клиентов об услуге 
					strong такси Люберцы-Шереметьево. Цена 
					|поездки в аэропорт заморожена и не зависит от количества багажа или времени проведенного в пути.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/sheremetevo/sheremetevo-lubertsi_400x268.jpg' width='400' height='268' title='такси Люберцы-Шереметьево' alt='такси Люберцы-Шереметьево')
				p.no-indent
					strong Такси Люберцы-Шереметьево. Заказать 
					|онлайн.
				p Время, когда машину такси вызывали только по телефону давно прошло. Современные люди давно пользуются специальными мобильными приложениями и сайтами. Наша компания идет в ногу со временем, поэтому специально для вас мы создали онлайн-страничку, где вы можете вызвать машину 
					strong такси Люберцы-Шереметьево. Стоимость 
					|услуги можно рассчитать с помощью калькулятора заказа либо заполнить форму обратной связи. 
					|Наш менеджер свяжется с вами в максимально короткое время для уточнения деталей заказа. Для пассажиров с детьми, у нас предусмотрены машины с детскими креслами. Поэтому планируя поездку на 
					strong такси Люберцы-аэропорт Шереметьево 
					|с детворой необходимо заблаговременно оповестить нашего оператора об этом. 
