include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Троицк - Шереметьево 1400 рублей
				p Подмосковные города уже давно перестали считаться только спальными районами столицы. Сегодня многие компании, институты и НИИ, переносят свою деятельность в административные округа мегаполиса. Одним из таких городов является Троицк, который за большое количество научных институтов исследования давно окрестили наукградом Москвы. Единственным и существенным недостатком города является значительная 
					|удаленность от кольцевой автодороги (около 20км) и отсутствие железнодорожного сообщения со столицей. Из-за этого многие жители Троицка сталкиваются с огромными транспортными проблемами. Страдают не только те, кто учится в Москве, но и люди, работа которых связана с постоянными перелетами по РФ. Для того, чтобы добраться в аэропорт необходимо потратить не один час времени, да и количество вынужденных пересадок выдержит не каждый. Именно поэтому наша компания разработала специальное |предложение для тех, кто придерживается экономии и любит комфорт. Услуга «
					strong такси Троицк-Шереметьево фиксированная цена
					|» - это возможность быстро, безопасно и главное, недорого попасть к терминалу аэровокзала.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/sheremetevo/troitsk_400x300.jpg' width='400' height='300' title='такси Шереметьево-Троицк' alt='такси Шереметьево-Троицк')
				p.no-indent
					strong Такси Троицк-Шереметьево. Цена 
					|заморожена навсегда!
				p Имея многолетний опыт за плечами в сфере пассажироперевозок, мы выделили для себя основные принципы качественной работы службы такси: сервис, комфорт, грамотная ценовая политика. Все эти качества мы воплотили в жизнь в услуге «
					strong такси Троицк-Шереметьево
					|». Стоимость тарифного плана включает в себя время ожидания клиента водителем и простои в дороге. Это значит, что наши клиенты не зависят от чрезвычайных ситуаций в пути, а цена на услугу не меняется ни при каких обстоятельствах. 
					|Именно поэтому, в нашем городе 
					strong такси Троицк-Шереметьево самое дешевое 
					|и доступное для населения.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/sheremetevo/sheremetevo-troitsk_400x215.jpg' width='400' height='215' title='такси Троицк-Шереметьево' alt='такси Троицк-Шереметьево')
				p.no-indent
					strong Такси Троицк-Шереметьево
					|. Способы заказа.
				p Наша компания тщательно следит за модными тенденциями в сфере услуг такси, поэтому для удобства наших клиентов мы создали интернет-страничку, где вы в онлайн-формате сможете вызвать машину 
					strong такси Троицк-Шереметьево. Заказать 
					|услугу можно заблаговременно, для этого необходимо указать точную дату и время в обратной форме связи. За час до отправления наш оператор свяжется с вами для уточнения всех деталей и подтверждения информации.
				p Забудьте о неудобствах, связанных с поездками на общественном транспорте! С услугой «
					strong такси Троицк-аэропорт Шереметьево
					|» вы попадете на рейс своевременно без лишнего стресса.
