include /blocks/common-services/common-services
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-region
				+e.H1.title.heading.heading._h2.taxi-icon Такси Видное - Шереметьево 1500 рублей
				p Аэропорты Москвы расположены достаточно далеко от города, поэтому проблема своевременного прибытия к терминалам одна из самых актуальных как у местных жителей, так и у гостей столицы. И если добраться на общественном транспорте до аэровокзала из Москвы не составляет труда, то для подмосковных городов поездку необходимо планировать заранее. Кроме того, из таких городов как Видное, 
					|самостоятельный путь до аэропорта усложнен еще и количеством пересадок из транспорта в транспорт, а с большим багажом такая перспектива придется по душе далеко не каждому. Именно, поэтому альтернативным вариантом трансфера в аэропорт является услуга «
					strong такси Видное - Шереметьево фиксированный тариф
					|» от нашей компании.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/sheremetevo/vidnoe_400x272.jpg' width='400' height='272' title='такси Шереметьево-Видное' alt='такси Шереметьево-Видное')
				p.no-indent
					strong Такси Видное-Шереметьево самое дешевое 
					|и доступное.
				p Несмотря на незначительную удаленность города Видное от кольцевой автодороги, ежедневно жители города сталкивались с недобросовестными перевозчиками, которые устанавливали чрезмерно завышенные тарифы на поездки в аэропорт. К тому же, качество услуги было сомнительным и не соответствовало установленному ценнику. Наша компания развевает миф о том, что такси в аэропорт – это дорого. 
					|Мы разработали специальный тарифный план для услуги «
					strong такси Видное-Шереметьево
					|», стоимость которого фиксирована и не содержит скрытых наценок. Это значит, что каждый наш клиент оплатит только ту сумму, которую озвучит наш оператор при вызове авто.
				+e.IMG.image.image.img-center(src='assets/images/airport-region/sheremetevo/sheremetevo-vidnoe_400x279.jpg' width='400' height='279' title='такси Видное-Шереметьево' alt='такси Видное-Шереметьево')
				p.no-indent
					strong Такси Видное-аэропорт Шереметьево 
					|– безопасность, прежде всего.
				p Несмотря на невысокие тарифы на трансфер, мы заботимся о безопасности наших пассажиров, поэтому ежедневно проводим тщательную диагностику автомобилей, выходящих на смену. В нашем автопарке работают квалифицированные механики, которые своевременно устраняют технические неисправности в машинах. А для пассажиров с детьми, у нас предусмотрены дополнительные системы защиты в виде накладок и детских автокресел, чтобы вы не беспокоились о безопасности своего малыша в пути. 
					|Если вы планируете поездку с детворой, пожалуйста, сообщите нашему оператору об этом заблаговременно.
				p.no-indent Услуга «
					strong такси Видное-Шереметьево
					|» как заказать?
				p Мы идем в ногу со временем, поэтому теперь кроме стандартного варианта вызова машины 
					strong такси Видное-Шереметьево, заказать 
					|услугу можно с помощью онлайн-формы на сайте. Наш оператор свяжется с вами в течение нескольких минут для уточнения информации. 
					|Машина подается не позднее 15 минут после заказа, а время в пути зависит от удаленности объекта и загруженности основных магистралей, ведущих в аэропорт. 
					|Хватит переплачивать частным перевозчикам с сомнительными услугами! Выбирайте услугу «
					strong такси Видное-Шереметьево
					|», цена которого доступна каждому жителю нашего города, и начните свое путешествие с положительных впечатлений!
