include /blocks/direction/direction
include /blocks/advantages/advantages
include /blocks/about/about
include /blocks/tariffs/tariffs
//- include /blocks/services/services
include /blocks/reviews/reviews

mixin main()
	+b.MAIN.page-content
		+e.inner.center
			//- +direction
			+about
			//- +tariffs('Выберите ваш тариф')
			+advantages
			+reviews
			//- +services
