include /blocks/common-services/common-services
include /blocks/tariff-district-table/tariff-district-table
include /blocks/tariff-airport-transfer/tariff-airport-transfer
include /blocks/tariff-airport-station/tariff-airport-station
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+b.SECTION.airport-taxi
				+e.H1.title.heading.heading._h2.taxi-icon Такси в аэропорт
				+e.P.text Не секрет, что аэропорты Москвы расположены достаточно далеко от города, поэтому своевременно приехать на регистрацию или встретить важного гостя не такая уж и простая задача. Транспортная система Москвы предлагает множество способов добраться до аэропортов, однако наиболее оптимальным и комфортным вариантом остается заказ 
					strong такси до аэропорта. 
					|В условиях такого мегаполиса как Москва дорога каждая минута времени, поэтому услуга трансфера до аэропорта пользуется большой популярностью. Кроме того, стоянки на территории аэровокзалов достаточно дорогие, поэтому гораздо экономнее добраться к терминалам заказав 
					strong такси в аэропорт.
				+tariff-district-table({distr:['сао','свао','вао','ювао','юао','юзао','зао','сзао','цао'],
																priceDomodedovo:['1100','1100','1100','1100','1000','1100','1100','1100','1100'],
																priceSheremetevo:['1000','1000','1100','1200','1200','1200','1100','1000','1100'],
																priceVnukovo:['1100','1100','1100','1100','1100','1000','1000','1100','1100'],
																caption:'Тарифы такси Эконом в аэропорт из Москвы'
																})
				+e.IMG.image._airport.img-center(src='assets/images/airport/domodedovo_airport_400x266.jpg' width='400' height='266' title='аэропорт' alt='аэропорт')
				+e.P.text.no-indent Аэроэкспресс или такси?
				+e.P.text В столице достаточно давно курсируют специальные поезда, которые без проблем могут доставить вас к аэропорту. Однако, данный транспорт подойдет тем пассажирам, которые летят без багажа, проживают в столице, либо имеют большой запас времени до начала регистрации. Преимущества такси неоценимы, поскольку вы не только быстро и комфортно доберетесь, но и сможете 
					strong заказать такси до аэропорта 
					|заранее и в любое удобное для вас время.
				+tariff-airport-transfer({distr:['Домодедово','Шереметьево','Внуково'],
																priceDomodedovo:['---','1600','1400'],
																priceSheremetevo:['1600','500','1500'],
																priceVnukovo:['1400','1500','---'],
																caption:'Тарифы такси Эконом на трансфер аэропорт -> аэропорт'
																})
				+e.P.text Наша компания достаточно давно внедрила систему предварительного заказа автомобиля. Воспользоваться данной услугой можно как в режиме онлайн, так и по контактному номеру. Такой вариант заказа является очень удобным, если вы, например, находитесь в другом городе, либо будете лишены возможности связаться со службой в день поездки. Предварительный 
					strong заказ такси Москва аэропорт 
					|- это услуга для тех, кто высоко ценит свое время и дорожит комфортом.
				+e.P.text Наша компания занимается трансфером в аэропорт и на вокзалы уже много лет. За долгие годы существования нашего бизнеса мы смогли построить свою систему приоритетов и подготовили высококлассный штат сотрудников. Благодаря слаженной и четкой работе наша компания высоко ценится клиентами и является одной из лучших в Москве.
				+tariff-airport-station({distr:'Ж/д вокзал',
																priceDomodedovo:1300,
																priceSheremetevo:1300,
																priceVnukovo:1300,
																caption:'Тарифы такси Эконом на трансфер аэропорт -> вокзал'
																})
				+e.IMG.image._airport.img-center(src='assets/images/airport/sheremetevo-night_400x266.jpg' width='400' height='266' title='аэропорт Москва' alt='аэропорт Москва')
				+e.P.text Мы располагаем огромным таксопарком. В каждом автомобиле регулярно проверяется состояние запчастей и оборудования, производится мойка и чистка салона. Водители перед каждым выездом проходят медицинское освидетельствование. Мы понимаем, что самое главное в поездке – это безопасность, поэтому не экономим на дополнительных средствах защиты в автомобилях. Если вы планируете поездку с ребенком, вам достаточно сообщить об этом нашему диспетчеру, который подберет для вас машину с наличием детского автокресла.
				+e.P.text.no-indent Фиксированное такси до аэропорта – зачем платить больше?
				+e.P.text Очень часто транспортные компании осуществляют поездки в аэропорт по завышенным тарифам. Наша компания предлагает своим клиентам фиксированные и лояльные цены. Это значит, что по прибытию на место вы оплатите ровно ту сумму, которая была озвучена нашим диспетчером. 
					strong Недорогое такси до аэропорта 
					|от нашей компании – это поездки без скрытых 
					|платежей и комиссий. Кроме того, мы предлагаем свои клиентам машины, как эконом, так и премиум-класса, поэтому сумма поездки во многом будет зависеть от комфортабельности авто. Также постоянные клиенты получают дополнительные бонусные баллы, которые дают право на скидку на каждую последующую поездку. 
					strong Дешевое такси до аэропорта 
					|– это реальность, достаточно связаться с нашими диспетчерами по указанному телефону и заказать быструю и комфортную поездку.
			+common-services
